Workflow/v2 scrap lbc - 15.02-21.19(1) - FIXED-TIMEOUT.json
{
  "name": "v2 scrap lbc - IMPROVED (avec nettoyage)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "includeDrafts": false
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "8c474103-27e1-4909-a251-6c05a411ef54",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        -608,
        1232
      ],
      "typeVersion": 1,
      "credentials": {
        "gmailOAuth2": {
          "id": "c1UdtKUMiaxa0tvE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "absolute href",
        "options": {
          "removeOtherFields": false
        }
      },
      "id": "e000fcc4-fb76-47d9-b414-01f13542f2ae",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -208,
        1120
      ]
    },
    {
      "parameters": {
        "url": "https://nante.nathansouffrin7.workers.dev/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "1b974e92-15df-4f4f-a3fa-2e6315f1bef0",
      "name": "GET Modeles",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -160,
        1360
      ],
      "typeVersion": 4
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        1136
      ],
      "id": "0b51d156-8d42-43be-8433-0da14345ed9c",
      "name": "Merge Annonces + Modèles"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// SCORING DE COMPLÉTUDE - n8n Code Node\n// ============================================\n// Objectif : Évaluer la qualité des données entrantes pour router\n//            intelligemment vers les nœuds Match appropriés\n//\n// Sortie : Score 0-100 + Tier (EXCELLENT/GOOD/MEDIUM/POOR/MINIMAL)\n// ============================================\n\nconst items = $input.all();\n\n// ============================================\n// HELPERS\n// ============================================\n\n/**\n * Récupère une valeur de manière robuste\n */\nfunction get(obj, ...keys) {\n  for (const k of keys) {\n    const v = obj?.[k];\n    if (v !== undefined && v !== null && String(v).trim() !== \"\") return v;\n  }\n  return \"\";\n}\n\n/**\n * Normalise un texte pour analyse\n */\nfunction normalize(text) {\n  if (!text) return \"\";\n  return String(text)\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toLowerCase()\n    .trim();\n}\n\n/**\n * Compte le nombre de mots significatifs (≥3 caractères)\n */\nfunction countSignificantWords(text) {\n  if (!text) return 0;\n  const words = normalize(text).split(/\\s+/);\n  return words.filter(w => w.length >= 3).length;\n}\n\n/**\n * Vérifie si une valeur est présente et non vide\n */\nfunction isPresent(value) {\n  return value !== undefined && value !== null && String(value).trim() !== \"\";\n}\n\n/**\n * Extrait u_moto_brand depuis href\n */\nfunction extractBrandFromHref(href) {\n  const h = String(href || \"\");\n  if (!h) return \"\";\n  const m = h.match(/u_moto_brand:([^+&]+)/i);\n  if (!m) return \"\";\n  try {\n    return decodeURIComponent(m[1].replace(/\\+/g, \" \"));\n  } catch (e) {\n    return m[1].replace(/\\+/g, \" \");\n  }\n}\n\n/**\n * Extrait u_moto_model depuis href\n */\nfunction extractModelFromHref(href) {\n  const h = String(href || \"\");\n  if (!h) return \"\";\n  const m = h.match(/u_moto_model:([^+&]+)/i);\n  if (!m) return \"\";\n  try {\n    return decodeURIComponent(m[1].replace(/\\+/g, \" \"));\n  } catch (e) {\n    return m[1].replace(/\\+/g, \" \");\n  }\n}\n\n/**\n * Extrait cubic_capacity depuis href\n */\nfunction extractCCFromHref(href) {\n  const h = String(href || \"\");\n  const m = h.match(/cubic_capacity:(\\d{2,4})/i);\n  return m ? parseInt(m[1], 10) : 0;\n}\n\n/**\n * Parse année depuis texte (format MM/YYYY ou YYYY)\n */\nfunction parseYear(text) {\n  const str = String(text || \"\").trim();\n  if (!str) return 0;\n\n  // MM/YYYY\n  const mmyyyy = str.match(/\\b(0?[1-9]|1[0-2])\\s*\\/\\s*((19|20)\\d{2})\\b/);\n  if (mmyyyy) return parseInt(mmyyyy[2], 10);\n\n  // YYYY\n  const yyyy = str.match(/\\b(19|20)\\d{2}\\b/);\n  if (yyyy) return parseInt(yyyy[0], 10);\n\n  return 0;\n}\n\n// ============================================\n// SCORING DE COMPLÉTUDE\n// ============================================\n\n/**\n * Calcule le score de complétude d'une annonce\n * Retourne un objet avec score (0-100) et détails\n */\nfunction calculateCompletudeScore(item) {\n  let score = 0;\n  const details = {};\n\n  // ────────────────────────────────────────────────────────\n  // 1. MARQUE (25 points max)\n  // ────────────────────────────────────────────────────────\n  const brandField = get(item, \"text-body-1 (2)\", \"annonce_brand_input\", \"Marque_scrap\");\n  const brandHref = get(item, \"text-body-1 href (2)\", \"text-body-1 href\");\n  const brandFromHref = extractBrandFromHref(brandHref);\n\n  if (brandFromHref) {\n    // Marque depuis href LBC (le plus fiable)\n    score += 25;\n    details.brand_source = \"href\";\n    details.brand_quality = \"EXCELLENT\";\n  } else if (brandField) {\n    // Marque depuis champ scraped\n    score += 20;\n    details.brand_source = \"field\";\n    details.brand_quality = \"GOOD\";\n  } else {\n    details.brand_source = \"missing\";\n    details.brand_quality = \"NONE\";\n  }\n\n  // ────────────────────────────────────────────────────────\n  // 2. MODÈLE (20 points max)\n  // ────────────────────────────────────────────────────────\n  const modelHref = get(item, \"text-body-1 href (3)\");\n  const modelFromHref = extractModelFromHref(modelHref);\n  const modelField = get(item, \"text-body-1 (3)\");\n  const versionField = get(item, \"text-body-1 (8)\"); // Version constructeur\n\n  const modelNorm = normalize(modelFromHref);\n  const isModelAutre = modelNorm === \"autre\" || modelNorm.includes(\" autre\");\n\n  if (modelFromHref && !isModelAutre) {\n    // Modèle depuis href LBC (non \"autre\")\n    score += 20;\n    details.model_source = \"href\";\n    details.model_quality = \"EXCELLENT\";\n  } else if (versionField && countSignificantWords(versionField) >= 2) {\n    // Version constructeur riche (ex: \"1050_Speed Triple 1050 ABS\")\n    score += 18;\n    details.model_source = \"version_field\";\n    details.model_quality = \"VERY_GOOD\";\n  } else if (modelField) {\n    // Champ modèle présent\n    score += 12;\n    details.model_source = \"field\";\n    details.model_quality = \"GOOD\";\n  } else if (versionField) {\n    // Version constructeur pauvre\n    score += 8;\n    details.model_source = \"version_field_weak\";\n    details.model_quality = \"MEDIUM\";\n  } else {\n    details.model_source = \"missing\";\n    details.model_quality = \"NONE\";\n  }\n\n  // ────────────────────────────────────────────────────────\n  // 3. CYLINDRÉE CC (15 points max)\n  // ────────────────────────────────────────────────────────\n  const ccHref = get(item, \"text-body-1 href (5)\");\n  const ccFromHref = extractCCFromHref(ccHref);\n  const ccField1 = get(item, \"text-body-1 (7)\");\n  const ccField2 = get(item, \"text-body-1 (13)\", \"vehicule_cc_txt\", \"CC\", \"cc\");\n\n  if (ccFromHref) {\n    // CC depuis href LBC (le plus fiable)\n    score += 15;\n    details.cc_source = \"href\";\n    details.cc_quality = \"EXCELLENT\";\n  } else if (ccField1) {\n    // Champ CC dédié (7)\n    score += 12;\n    details.cc_source = \"field_primary\";\n    details.cc_quality = \"GOOD\";\n  } else if (ccField2) {\n    // Champ CC secondaire (13)\n    score += 10;\n    details.cc_source = \"field_secondary\";\n    details.cc_quality = \"MEDIUM\";\n  } else {\n    details.cc_source = \"missing\";\n    details.cc_quality = \"NONE\";\n  }\n\n  // ────────────────────────────────────────────────────────\n  // 4. ANNÉE (10 points max)\n  // ────────────────────────────────────────────────────────\n  const year1 = get(item, \"text-body-1 (4)\", \"Annee_du_modele\");\n  const year2 = get(item, \"text-body-1 (9)\", \"Mise_en_circulation\");\n\n  const yearParsed1 = parseYear(year1);\n  const yearParsed2 = parseYear(year2);\n\n  if (yearParsed1 || yearParsed2) {\n    score += 10;\n    details.year_source = yearParsed1 ? \"field_primary\" : \"field_secondary\";\n    details.year_quality = \"GOOD\";\n  } else {\n    details.year_source = \"missing\";\n    details.year_quality = \"NONE\";\n  }\n\n  // ────────────────────────────────────────────────────────\n  // 5. DESCRIPTION (15 points max)\n  // ────────────────────────────────────────────────────────\n  const desc = get(\n    item,\n    \"annonce_description\",\n    \"text-body-1 (16)\",\n    \"text-body-1 (14)\",\n    \"Description_complete\",\n    \"description\"\n  );\n\n  const descWordCount = countSignificantWords(desc);\n\n  if (descWordCount >= 50) {\n    // Description très complète (≥50 mots)\n    score += 15;\n    details.description_length = descWordCount;\n    details.description_quality = \"EXCELLENT\";\n  } else if (descWordCount >= 20) {\n    // Description complète (20-49 mots)\n    score += 12;\n    details.description_length = descWordCount;\n    details.description_quality = \"GOOD\";\n  } else if (descWordCount >= 10) {\n    // Description moyenne (10-19 mots)\n    score += 8;\n    details.description_length = descWordCount;\n    details.description_quality = \"MEDIUM\";\n  } else if (descWordCount >= 5) {\n    // Description pauvre (5-9 mots)\n    score += 4;\n    details.description_length = descWordCount;\n    details.description_quality = \"POOR\";\n  } else {\n    details.description_length = descWordCount;\n    details.description_quality = \"NONE\";\n  }\n\n  // ────────────────────────────────────────────────────────\n  // 6. PHOTOS (5 points max)\n  // ────────────────────────────────────────────────────────\n  const photo1 = get(item, \"size-full src\", \"Photo_1\");\n  const photo2 = get(item, \"size-full src (2)\", \"Photo_2\");\n  const photo3 = get(item, \"size-full src (3)\", \"Photo_3\");\n\n  const photoCount = [photo1, photo2, photo3].filter(p => isPresent(p)).length;\n\n  if (photoCount >= 3) {\n    score += 5;\n    details.photo_count = photoCount;\n    details.photo_quality = \"EXCELLENT\";\n  } else if (photoCount === 2) {\n    score += 4;\n    details.photo_count = photoCount;\n    details.photo_quality = \"GOOD\";\n  } else if (photoCount === 1) {\n    score += 2;\n    details.photo_count = photoCount;\n    details.photo_quality = \"MEDIUM\";\n  } else {\n    details.photo_count = 0;\n    details.photo_quality = \"NONE\";\n  }\n\n  // ────────────────────────────────────────────────────────\n  // 7. TITRE (10 points max)\n  // ────────────────────────────────────────────────────────\n  const title = get(\n    item,\n    \"text-body-1 (8)\",\n    \"text-headline-1-expanded\",\n    \"annonce_title\",\n    \"relative\"\n  );\n\n  const titleWordCount = countSignificantWords(title);\n\n  if (titleWordCount >= 5) {\n    // Titre riche (≥5 mots significatifs)\n    score += 10;\n    details.title_length = titleWordCount;\n    details.title_quality = \"EXCELLENT\";\n  } else if (titleWordCount >= 3) {\n    // Titre moyen (3-4 mots)\n    score += 7;\n    details.title_length = titleWordCount;\n    details.title_quality = \"GOOD\";\n  } else if (titleWordCount >= 1) {\n    // Titre pauvre (1-2 mots)\n    score += 3;\n    details.title_length = titleWordCount;\n    details.title_quality = \"POOR\";\n  } else {\n    details.title_length = 0;\n    details.title_quality = \"NONE\";\n  }\n\n  // ────────────────────────────────────────────────────────\n  // TOTAL : 100 points max\n  // ────────────────────────────────────────────────────────\n  details.total_score = score;\n\n  return { score, details };\n}\n\n/**\n * Détermine le tier de qualité basé sur le score\n */\nfunction determineTier(score) {\n  if (score >= 80) return \"EXCELLENT\";\n  if (score >= 60) return \"GOOD\";\n  if (score >= 40) return \"MEDIUM\";\n  if (score >= 20) return \"POOR\";\n  return \"MINIMAL\";\n}\n\n/**\n * Détermine le nœud Match recommandé\n */\nfunction determineRecommendedMatch(score, tier) {\n  if (tier === \"EXCELLENT\") return \"1st Match\";\n  if (tier === \"GOOD\") return \"2nd Match\";\n  if (tier === \"MEDIUM\") return \"3rd Match\";\n  if (tier === \"POOR\") return \"4th Match\";\n  return \"5th Match\";\n}\n\n/**\n * Calcule un flag de priorité pour le routing\n */\nfunction calculatePriority(score, details) {\n  // Priorité haute si :\n  // - Score ≥ 70\n  // - ET marque + modèle href présents\n  // - ET CC href présent\n\n  const hasExcellentData =\n    score >= 70 &&\n    details.brand_quality === \"EXCELLENT\" &&\n    details.model_quality === \"EXCELLENT\" &&\n    details.cc_quality === \"EXCELLENT\";\n\n  if (hasExcellentData) return \"HIGH\";\n\n  // Priorité moyenne si :\n  // - Score ≥ 50\n  // - ET au moins marque + (modèle OU cc)\n\n  const hasGoodData =\n    score >= 50 &&\n    details.brand_quality !== \"NONE\" &&\n    (details.model_quality !== \"NONE\" || details.cc_quality !== \"NONE\");\n\n  if (hasGoodData) return \"MEDIUM\";\n\n  // Sinon priorité basse\n  return \"LOW\";\n}\n\n// ============================================\n// TRAITEMENT\n// ============================================\n\nconst results = items.map(inputItem => {\n  const item = inputItem.json;\n\n  // Calculer le score de complétude\n  const { score, details } = calculateCompletudeScore(item);\n\n  // Déterminer le tier\n  const tier = determineTier(score);\n\n  // Recommandation de routing\n  const recommendedMatch = determineRecommendedMatch(score, tier);\n\n  // Priorité\n  const priority = calculatePriority(score, details);\n\n  // Déterminer si review manuelle recommandée\n  const needsManualReview = score < 30 || tier === \"MINIMAL\";\n\n  // Flags de complétude par catégorie\n  const completenessFlags = {\n    has_brand: details.brand_quality !== \"NONE\",\n    has_model: details.model_quality !== \"NONE\",\n    has_cc: details.cc_quality !== \"NONE\",\n    has_year: details.year_quality !== \"NONE\",\n    has_description: details.description_quality !== \"NONE\",\n    has_photos: details.photo_quality !== \"NONE\",\n    has_title: details.title_quality !== \"NONE\"\n  };\n\n  // Compter le nombre de champs présents\n  const fieldsPresent = Object.values(completenessFlags).filter(Boolean).length;\n  const fieldsTotal = Object.keys(completenessFlags).length;\n  const completenessPercentage = Math.round((fieldsPresent / fieldsTotal) * 100);\n\n  return {\n    json: {\n      // ========================================\n      // DONNÉES ORIGINALES (préservées)\n      // ========================================\n      ...item,\n\n      // ========================================\n      // SCORING DE COMPLÉTUDE (nouveaux champs)\n      // ========================================\n      data_quality_score: score,\n      data_quality_tier: tier,\n      data_quality_priority: priority,\n\n      recommended_match_node: recommendedMatch,\n      needs_manual_review: needsManualReview,\n\n      completeness_percentage: completenessPercentage,\n      fields_present: fieldsPresent,\n      fields_total: fieldsTotal,\n\n      // ========================================\n      // DÉTAILS DE SCORING (pour debug)\n      // ========================================\n      _completude_details: {\n        brand: {\n          source: details.brand_source,\n          quality: details.brand_quality,\n          points: details.brand_quality === \"EXCELLENT\" ? 25 :\n                  details.brand_quality === \"GOOD\" ? 20 : 0\n        },\n        model: {\n          source: details.model_source,\n          quality: details.model_quality,\n          points: details.model_quality === \"EXCELLENT\" ? 20 :\n                  details.model_quality === \"VERY_GOOD\" ? 18 :\n                  details.model_quality === \"GOOD\" ? 12 :\n                  details.model_quality === \"MEDIUM\" ? 8 : 0\n        },\n        cc: {\n          source: details.cc_source,\n          quality: details.cc_quality,\n          points: details.cc_quality === \"EXCELLENT\" ? 15 :\n                  details.cc_quality === \"GOOD\" ? 12 :\n                  details.cc_quality === \"MEDIUM\" ? 10 : 0\n        },\n        year: {\n          source: details.year_source,\n          quality: details.year_quality,\n          points: details.year_quality === \"GOOD\" ? 10 : 0\n        },\n        description: {\n          length: details.description_length,\n          quality: details.description_quality,\n          points: details.description_quality === \"EXCELLENT\" ? 15 :\n                  details.description_quality === \"GOOD\" ? 12 :\n                  details.description_quality === \"MEDIUM\" ? 8 :\n                  details.description_quality === \"POOR\" ? 4 : 0\n        },\n        photos: {\n          count: details.photo_count,\n          quality: details.photo_quality,\n          points: details.photo_quality === \"EXCELLENT\" ? 5 :\n                  details.photo_quality === \"GOOD\" ? 4 :\n                  details.photo_quality === \"MEDIUM\" ? 2 : 0\n        },\n        title: {\n          length: details.title_length,\n          quality: details.title_quality,\n          points: details.title_quality === \"EXCELLENT\" ? 10 :\n                  details.title_quality === \"GOOD\" ? 7 :\n                  details.title_quality === \"POOR\" ? 3 : 0\n        }\n      },\n\n      // ========================================\n      // FLAGS DE COMPLÉTUDE\n      // ========================================\n      _completeness_flags: completenessFlags\n    }\n  };\n});\n\n// ============================================\n// STATS GLOBALES (pour monitoring)\n// ============================================\nconst stats = {\n  total_items: results.length,\n  distribution: {\n    EXCELLENT: results.filter(r => r.json.data_quality_tier === \"EXCELLENT\").length,\n    GOOD: results.filter(r => r.json.data_quality_tier === \"GOOD\").length,\n    MEDIUM: results.filter(r => r.json.data_quality_tier === \"MEDIUM\").length,\n    POOR: results.filter(r => r.json.data_quality_tier === \"POOR\").length,\n    MINIMAL: results.filter(r => r.json.data_quality_tier === \"MINIMAL\").length\n  },\n  average_score: Math.round(\n    results.reduce((sum, r) => sum + r.json.data_quality_score, 0) / results.length\n  ),\n  manual_review_needed: results.filter(r => r.json.needs_manual_review).length\n};\n\nconsole.log(\"📊 SCORING DE COMPLÉTUDE - STATS:\");\nconsole.log(`   Total items: ${stats.total_items}`);\nconsole.log(`   Score moyen: ${stats.average_score}/100`);\nconsole.log(`   Distribution:`);\nconsole.log(`     - EXCELLENT: ${stats.distribution.EXCELLENT} (${Math.round(stats.distribution.EXCELLENT / stats.total_items * 100)}%)`);\nconsole.log(`     - GOOD: ${stats.distribution.GOOD} (${Math.round(stats.distribution.GOOD / stats.total_items * 100)}%)`);\nconsole.log(`     - MEDIUM: ${stats.distribution.MEDIUM} (${Math.round(stats.distribution.MEDIUM / stats.total_items * 100)}%)`);\nconsole.log(`     - POOR: ${stats.distribution.POOR} (${Math.round(stats.distribution.POOR / stats.total_items * 100)}%)`);\nconsole.log(`     - MINIMAL: ${stats.distribution.MINIMAL} (${Math.round(stats.distribution.MINIMAL / stats.total_items * 100)}%)`);\nconsole.log(`   Review manuelle nécessaire: ${stats.manual_review_needed}`);\n\nreturn results;\n"
      },
      "id": "f1f13f1c-6f38-40a5-878e-a1dfc088b480",
      "name": "⭐ Scoring de Complétude",
      "type": "n8n-nodes-base.code",
      "position": [
        368,
        1136
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.data_quality_tier }}",
                    "rightValue": "EXCELLENT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "EXCELLENT → 1st Match"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.data_quality_tier }}",
                    "rightValue": "GOOD",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "GOOD → 2nd Match"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.data_quality_tier }}",
                    "rightValue": "MEDIUM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "MEDIUM → ⭐ 3rd Match"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.data_quality_tier }}",
                    "rightValue": "POOR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "POOR → 4th Match"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.data_quality_tier }}",
                    "rightValue": "MINIMAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "MINIMAL → 5th Match"
            }
          ]
        },
        "options": {}
      },
      "id": "5bd7458b-a2c5-4140-bd41-d82b46a94913",
      "name": "⭐ Router par Qualité",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        560,
        1088
      ]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// 1ST MATCH - STRICT (données EXCELLENT)\n// =====================================================\n// Objectif : Matcher les annonces avec données excellentes (score 80-100%)\n//\n// Stratégie :\n// - Seuils stricts (MIN_COV_ALPHA = 0.85, MIN_ACCEPT = 0.78)\n// - Priorité href LBC (données normalisées)\n// - Gates stricts (CC ≤ 80cc, année dans range)\n// - Scoring composite classique\n// - 2 passes (avec/sans gate année)\n//\n// Entrée attendue : Annonces tier \"EXCELLENT\" (data_quality_score 80-100%)\n// Sortie : Annonces matchées avec confiance HIGH majoritaire\n// =====================================================\n\nconst allItems = $input.all().map(i => i.json);\n\n// =====================================================\n// HELPERS GÉNÉRIQUES\n// =====================================================\n\nfunction get(obj, ...keys) {\n  for (const k of keys) {\n    const v = obj?.[k];\n    if (v !== undefined && v !== null && String(v).trim() !== \"\") return v;\n  }\n  return \"\";\n}\n\nfunction pick(obj, keys) {\n  for (const k of keys) {\n    const v = obj?.[k];\n    if (v !== undefined && v !== null && String(v).trim() !== \"\") return v;\n  }\n  return \"\";\n}\n\n// =====================================================\n// NORMALISATION & TOKENIZATION\n// =====================================================\n\nconst STOP_WORDS = new Set([\n  \"moto\", \"motos\", \"scooter\", \"roadster\", \"trail\", \"enduro\", \"cross\",\n  \"vend\", \"vente\", \"vends\", \"urgent\", \"etat\", \"tres\", \"super\", \"parfait\",\n  \"paiement\", \"securise\", \"option\", \"full\", \"abs\", \"a2\", \"ct\", \"ok\",\n  \"km\", \"kms\", \"kilometrage\", \"boite\", \"vitesse\", \"manuelle\",\n  \"prix\", \"euro\", \"eur\", \"garantie\", \"factures\", \"entretien\"\n]);\n\nfunction normalize(text) {\n  if (!text) return \"\";\n  let s = String(text)\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toLowerCase();\n\n  s = s.replace(/_/g, \" \");\n  s = s.replace(/[/|]/g, \" \");\n  s = s.replace(/[^a-z0-9]+/g, \" \");\n  s = s.replace(/\\s+/g, \" \").trim();\n\n  // Normalisation modèles courants\n  s = s.replace(/\\b(mt)\\s*0?(\\d{2})\\b/g, \"$1$2\");\n  s = s.replace(/\\b(fz)\\s*(\\d)\\b/g, \"$1$2\");\n  s = s.replace(/\\b(gs)\\s*(\\d{3,4})\\b/g, \"$1$2\");\n  s = s.replace(/\\b(r)\\s*(\\d{3,4})\\b/g, \"$1$2\");\n  s = s.replace(/\\b(v\\s*strom)\\b/g, \"vstrom\");\n  s = s.replace(/\\b(dr)\\s*z\\b/g, \"drz\");\n\n  return s;\n}\n\nfunction brandKey(brand) {\n  return normalize(brand).replace(/\\s+/g, \"\");\n}\n\nfunction tokenize(text) {\n  const n = normalize(text);\n  if (!n) return [];\n\n  const tokens = n.split(\" \").filter(t => {\n    if (!t) return false;\n    if (STOP_WORDS.has(t)) return false;\n    if (/^\\d+$/.test(t)) return true; // garde les nombres\n    return t.length >= 2;\n  });\n\n  return tokens;\n}\n\nfunction tokensAlphaOnly(tokens) {\n  return tokens.filter(t => /[a-z]/.test(t) && t.length >= 2);\n}\n\nfunction isNumberToken(t) {\n  return /^\\d+$/.test(t);\n}\n\n// =====================================================\n// EXTRACTION DONNÉES ANNONCE\n// =====================================================\n\nconst getAnnonceTitle = (a) =>\n  get(a, \"text-body-1 (8)\", \"text-headline-1-expanded\", \"annonce_title\", \"relative\");\n\nconst getAnnonceDesc = (a) =>\n  get(a, \"annonce_description\", \"text-body-1 (16)\", \"text-body-1 (14)\", \"Description_complete\");\n\nconst getAnnonceUrl = (a) =>\n  get(a, \"absolute href\", \"Url_Https\", \"annonce_url\", \"relative\");\n\nconst getAnnonceBrand = (a) =>\n  get(a, \"text-body-1 (2)\", \"annonce_brand_input\", \"Marque_scrap\");\n\nconst getAnnonceYearRaw1 = (a) =>\n  get(a, \"text-body-1 (4)\", \"Annee_du_modele\", \"annonce_year_input_1\");\n\nconst getAnnonceYearRaw2 = (a) =>\n  get(a, \"text-body-1 (9)\", \"Mise_en_circulation\", \"annonce_year_input_2\");\n\nconst getAnnonceCCHref = (a) => get(a, \"text-body-1 href (5)\");\nconst getAnnonceModelHref = (a) => get(a, \"text-body-1 href (3)\");\nconst getAnnonceBrandHref = (a) => get(a, \"text-body-1 href (2)\", \"text-body-1 href\");\n\n// =====================================================\n// EXTRACTION DONNÉES MODÈLE\n// =====================================================\n\nconst getModeleField = (m) => pick(m, [\"Modèle\", \"Modele\", \"modele\", \"Model\", \"MODELE\"]) || \"\";\nconst getMarqueField = (m) => pick(m, [\"Marque\", \"marque\", \"MARQUE\", \"Brand\", \"brand\"]) || \"\";\nconst getYearStartField = (m) => pick(m, [\"Année début\", \"Annee debut\", \"Year start\"]) || \"\";\nconst getYearEndField = (m) => pick(m, [\"Année fin\", \"Annee fin\", \"Year end\"]) || \"\";\n\n// =====================================================\n// PARSING ANNÉE\n// =====================================================\n\nfunction parseYearMonth(s) {\n  const str = String(s || \"\").trim();\n  if (!str) return { year: 0, month: 0 };\n\n  const mmyyyy = str.match(/\\b(0?[1-9]|1[0-2])\\s*\\/\\s*((19|20)\\d{2})\\b/);\n  if (mmyyyy) return { month: parseInt(mmyyyy[1], 10), year: parseInt(mmyyyy[2], 10) };\n\n  const yyyy = str.match(/\\b(19|20)\\d{2}\\b/);\n  if (yyyy) return { month: 0, year: parseInt(yyyy[0], 10) };\n\n  return { year: 0, month: 0 };\n}\n\nfunction pickAnnonceYear(a, adText) {\n  const d1 = parseYearMonth(getAnnonceYearRaw1(a));\n  if (d1.year) return d1.year;\n\n  const d2 = parseYearMonth(getAnnonceYearRaw2(a));\n  if (d2.year) return d2.year;\n\n  // Fallback : extraction depuis texte\n  const m = String(adText || \"\").match(/\\b(19|20)\\d{2}\\b/);\n  if (m) return parseInt(m[0], 10);\n\n  return 0;\n}\n\n// =====================================================\n// EXTRACTION CC\n// =====================================================\n\nfunction ccFromHref(href) {\n  const s = String(href || \"\");\n  const m = s.match(/cubic_capacity:(\\d{2,4})/i);\n  return m ? parseInt(m[1], 10) : 0;\n}\n\nfunction extractCCFromText(text) {\n  const raw = String(text || \"\");\n  if (!raw.trim()) return 0;\n\n  const noKm = raw.replace(/\\b(\\d{1,6})\\s*km\\b/gi, \" \");\n  const s = normalize(noKm);\n\n  let m = s.match(/\\b(\\d{2,4})\\s*(cc|cm3|ccm)\\b/);\n  if (m) return parseInt(m[1], 10);\n\n  m = s.match(/\\b(\\d{2,4})(cc|cm3|ccm)\\b/);\n  if (m) return parseInt(m[1], 10);\n\n  return 0;\n}\n\nfunction extractNumbers(text) {\n  const raw = String(text || \"\")\n    .replace(/\\b(\\d{1,6})\\s*km\\b/gi, \" \")\n    .replace(/\\b(0?[1-9]|1[0-2])\\s*\\/\\s*((19|20)\\d{2})\\b/g, \" \");\n  const s = normalize(raw);\n  return (s.match(/\\b\\d{3,4}\\b/g) || []).map(n => parseInt(n, 10));\n}\n\nfunction inferCCFromNumbers(adText, annonceYear) {\n  const nums = extractNumbers(adText);\n  const candidates = nums.filter(n =>\n    n >= 50 && n <= 2500 && (!annonceYear || n !== annonceYear)\n  );\n  if (!candidates.length) return 0;\n  return Math.max(...candidates);\n}\n\nfunction getAnnonceCC(a, adText, annonceYear) {\n  // Priorité 1 : href LBC (le plus fiable pour 1st Match)\n  const ccH = ccFromHref(getAnnonceCCHref(a));\n  if (ccH) return ccH;\n\n  // Priorité 2 : champ texte\n  const ccTxt = get(a, \"text-body-1 (7)\", \"vehicule_cc_txt\", \"CC\", \"cc\");\n  const ccField = extractCCFromText(ccTxt);\n  if (ccField) return ccField;\n\n  // Priorité 3 : extraction depuis description\n  const ccT = extractCCFromText(adText);\n  if (ccT) return ccT;\n\n  // Priorité 4 : inférence depuis nombres\n  const ccN = inferCCFromNumbers(adText, annonceYear || 0);\n  if (ccN) return ccN;\n\n  return 0;\n}\n\n// =====================================================\n// EXTRACTION BRAND/MODEL DEPUIS HREF\n// =====================================================\n\nfunction decodePlus(s) {\n  return String(s || \"\").replace(/\\+/g, \" \");\n}\n\nfunction extractBrandFromHref(href) {\n  const h = String(href || \"\");\n  if (!h) return \"\";\n  const m = h.match(/u_moto_brand:([^+&]+)/i);\n  if (!m) return \"\";\n  try {\n    return decodeURIComponent(decodePlus(m[1]));\n  } catch (e) {\n    return decodePlus(m[1]);\n  }\n}\n\nfunction extractModelFromHref(href) {\n  const h = String(href || \"\");\n  if (!h) return \"\";\n  const m = h.match(/u_moto_model:([^+&]+)/i);\n  if (!m) return \"\";\n  try {\n    return decodeURIComponent(decodePlus(m[1]));\n  } catch (e) {\n    return decodePlus(m[1]);\n  }\n}\n\n// =====================================================\n// SIMILARITÉ\n// =====================================================\n\nfunction jaccard(aTokens, bTokens) {\n  if (!aTokens.length || !bTokens.length) return 0;\n  const A = new Set(aTokens);\n  const B = new Set(bTokens);\n  let inter = 0;\n  for (const x of A) if (B.has(x)) inter++;\n  const union = A.size + B.size - inter;\n  return union ? inter / union : 0;\n}\n\nfunction coverageSet(adSet, modelTokens) {\n  if (!modelTokens.length) return 0;\n  let hit = 0;\n  for (const t of modelTokens) if (adSet.has(t)) hit++;\n  return hit / modelTokens.length;\n}\n\n// =====================================================\n// VARIANTS & DOMINANTS\n// =====================================================\n\nfunction modelVariants(modelRaw) {\n  const cleaned = String(modelRaw || \"\").replace(/[|]/g, \"/\");\n  const parts = cleaned.split(\"/\").map(p => p.trim()).filter(Boolean);\n  return Array.from(new Set(parts.map(p => normalize(p)).filter(Boolean)));\n}\n\nfunction getModelDominantTokens(modelRaw) {\n  const n = normalize(modelRaw);\n  const nums = n.match(/\\b\\d{3,4}\\b/g) || [];\n  if (nums.length) return nums.map(Number);\n\n  const toks = tokenize(modelRaw);\n  return toks.filter(t => /\\d/.test(t) || t.length >= 4);\n}\n\n// =====================================================\n// SÉPARATION MODÈLES / ANNONCES\n// =====================================================\n\nconst modeles = [];\nconst annonces = [];\n\nfor (const item of allItems) {\n  const isModele =\n    !!getMarqueField(item) &&\n    !!getModeleField(item) &&\n    get(item, \"Cylindrée (cc)\", \"Type (M/S/E)\", \"Type(M/S/E)\") !== \"\";\n\n  const isAnnonce =\n    get(item, \"text-body-1 (8)\", \"text-headline-1-expanded\", \"relative\",\n        \"absolute href\", \"Url_Https\", \"annonce_url\") !== \"\";\n\n  if (isModele) modeles.push(item);\n  else if (isAnnonce) annonces.push(item);\n}\n\nif (!modeles.length) {\n  return annonces.map(a => ({\n    json: {\n      ...a,\n      matching_engine: \"1ST_MATCH_NO_MODELS\",\n      matched_score: 0,\n      matched_confidence: \"NONE\",\n      needs_review: true\n    }\n  }));\n}\n\n// =====================================================\n// INDEX MARQUES\n// =====================================================\n\nconst brandIndex = new Map();\n\nfor (const m of modeles) {\n  const brandRaw = getMarqueField(m);\n  const modelRaw = getModeleField(m);\n\n  const bKey = brandKey(brandRaw);\n  if (!bKey) continue;\n\n  const variants = modelVariants(modelRaw);\n  if (!variants.length) continue;\n\n  const ys = parseInt(getYearStartField(m) || 0, 10) || 0;\n  let ye = getYearEndField(m);\n  ye = (ye === null || ye === undefined || ye === \"\") ? 9999 : (parseInt(ye, 10) || 9999);\n\n  const cc = Math.round(Number(get(m, \"Cylindrée (cc)\") || 0)) || 0;\n\n  const variantAlphaTokens = variants\n    .map(v => tokensAlphaOnly(tokenize(v)))\n    .filter(t => t.length);\n\n  if (!variantAlphaTokens.length) continue;\n\n  const doms = getModelDominantTokens(modelRaw);\n  const modelNoSpace = normalize(modelRaw).replace(/\\s+/g, \"\");\n\n  const prepared = {\n    raw: m,\n    brandRaw,\n    bKey,\n    ys,\n    ye,\n    cc,\n    variants,\n    variantAlphaTokens,\n    combinedTok: tokenize(`${brandRaw} ${modelRaw}`),\n    dominants: doms,\n    modelNoSpace\n  };\n\n  if (!brandIndex.has(bKey)) brandIndex.set(bKey, []);\n  brandIndex.get(bKey).push(prepared);\n}\n\nconst knownBrandKeys = Array.from(brandIndex.keys()).sort((a, b) => b.length - a.length);\n\n// =====================================================\n// PARAMÈTRES 1ST MATCH (STRICT)\n// =====================================================\n\nconst MIN_COV_ALPHA = 0.85;    // 85% couverture alpha (strict)\nconst MIN_ACCEPT = 0.78;        // 78% score minimum (strict)\nconst CC_BLOCK_DIFF = 80;       // 80cc tolérance (strict)\n\n// =====================================================\n// SCORING COMPOSITE CLASSIQUE\n// =====================================================\n\nfunction computeClassicScore(adTok, adSet, p, annonceCC, annonceYear) {\n  // 1. Coverage alpha (70%)\n  let bestCov = 0;\n  for (const vat of p.variantAlphaTokens) {\n    const cov = coverageSet(adSet, vat);\n    if (cov > bestCov) bestCov = cov;\n  }\n\n  // 2. Jaccard (20%)\n  const jac = jaccard(adTok, p.combinedTok);\n\n  // 3. CC exact (5%)\n  let ccBonus = 0;\n  if (annonceCC && p.cc) {\n    if (annonceCC === p.cc) {\n      ccBonus = 1.0;\n    }\n  }\n\n  // 4. Year exact (5%)\n  let yearBonus = 0;\n  if (annonceYear && p.ys && p.ye) {\n    if (annonceYear >= p.ys && annonceYear <= p.ye) {\n      yearBonus = 1.0;\n    }\n  }\n\n  // Score composite\n  const score = (\n    bestCov * 0.70 +\n    jac * 0.20 +\n    ccBonus * 0.05 +\n    yearBonus * 0.05\n  );\n\n  return { score, bestCov, jac, ccBonus, yearBonus };\n}\n\n// =====================================================\n// MATCHING\n// =====================================================\n\nconst results = [];\n\nfor (const a of annonces) {\n  const title = getAnnonceTitle(a);\n  const desc = getAnnonceDesc(a);\n  const url = getAnnonceUrl(a);\n\n  const hrefModel = getAnnonceModelHref(a) || \"\";\n  const hrefCC = getAnnonceCCHref(a) || \"\";\n  const hrefBrand = getAnnonceBrandHref(a) || \"\";\n\n  // Priorité href pour 1st Match\n  const brandFromHrefRaw = extractBrandFromHref(hrefBrand);\n  const brandFromFieldRaw = getAnnonceBrand(a);\n\n  const brandFromHrefKey = brandKey(brandFromHrefRaw);\n  const brandFromFieldKey = brandKey(brandFromFieldRaw);\n\n  const adTextBase = `${title} ${desc}`.trim();\n\n  // Marque : priorité href\n  let brandAnnonceKey = brandFromHrefKey || brandFromFieldKey;\n\n  // Model hint depuis href (priorité)\n  let modelHint = extractModelFromHref(hrefModel);\n  const modelNorm = normalize(modelHint);\n  const isModelAutre = modelNorm === \"autre\" || modelNorm.includes(\" autre\");\n\n  if (!modelHint || isModelAutre) {\n    // Fallback sur field\n    modelHint = get(a, \"text-body-1 (8)\", \"text-body-1 (3)\");\n  }\n\n  const adTextUsed = modelHint ? `${adTextBase} ${modelHint}`.trim() : adTextBase;\n\n  const annonceYear = pickAnnonceYear(a, adTextUsed);\n  const annonceCC = getAnnonceCC(a, adTextUsed, annonceYear);\n\n  // Vérifier si marque trouvée\n  if (!brandAnnonceKey || !brandIndex.has(brandAnnonceKey)) {\n    results.push({\n      json: {\n        ...a,\n        annonce_title: title,\n        annonce_url: url,\n        annonce_year_resolved: annonceYear || \"\",\n        annonce_cc_resolved: annonceCC || \"\",\n\n        matched_ok: false,\n        matched_marque: \"\",\n        matched_modele: modelHint || \"\",\n        matched_score: 0,\n        matched_confidence: \"NONE\",\n        matching_engine: \"1ST_MATCH_NO_BRAND\",\n        needs_review: true,\n        reason_no_match: \"brand_not_found\"\n      }\n    });\n    continue;\n  }\n\n  const adTok = tokenize(adTextUsed);\n  const adSet = new Set(adTok);\n  const adNumbers = extractNumbers(adTextUsed);\n\n  const baseCandidates = brandIndex.get(brandAnnonceKey) || [];\n\n  // Passes : Pass 1 avec année, Pass 2 sans année\n  const passes = [{ useYear: true }, { useYear: false }];\n\n  let bestPrepared = null;\n  let bestScore = 0;\n  let bestDetails = null;\n  let usedYearFilter = false;\n\n  for (const pass of passes) {\n    let foundInPass = false;\n\n    for (const p of baseCandidates) {\n      // Gate année (strict en pass 1)\n      if (pass.useYear && annonceYear) {\n        if (annonceYear < p.ys || annonceYear > p.ye) continue;\n      }\n\n      // Gate CC strict (≤ 80cc)\n      if (annonceCC && p.cc) {\n        const diff = Math.abs(p.cc - annonceCC);\n        if (diff > CC_BLOCK_DIFF) continue;\n      }\n\n      // Gate dominants (upgrade prevention)\n      if (p.dominants.length > 0) {\n        const hasCommonDom = p.dominants.some(d => adNumbers.includes(d));\n        if (!hasCommonDom) continue;\n      }\n\n      // Scoring\n      const { score, bestCov, jac, ccBonus, yearBonus } =\n        computeClassicScore(adTok, adSet, p, annonceCC, annonceYear);\n\n      // Gate coverage minimum\n      if (bestCov < MIN_COV_ALPHA) continue;\n\n      if (score > bestScore) {\n        bestScore = score;\n        bestPrepared = p;\n        bestDetails = { bestCov, jac, ccBonus, yearBonus };\n        usedYearFilter = pass.useYear && !!annonceYear;\n        foundInPass = true;\n      }\n    }\n\n    // Si trouvé en pass 1, ne pas faire pass 2\n    if (pass.useYear && foundInPass) break;\n  }\n\n  const accept = !!bestPrepared && bestScore >= MIN_ACCEPT;\n  const best = accept ? bestPrepared.raw : null;\n\n  // Déterminer la confiance\n  let confidence = \"NONE\";\n  if (accept) {\n    if (bestScore >= 0.85) confidence = \"HIGH\";\n    else confidence = \"MEDIUM\";\n  }\n\n  results.push({\n    json: {\n      ...a,\n      annonce_title: title,\n      annonce_url: url,\n      annonce_year_resolved: annonceYear || \"\",\n      used_year_filter: usedYearFilter,\n      annonce_cc_resolved: annonceCC || \"\",\n\n      matched_ok: accept,\n      matched_marque: accept ? (getMarqueField(best) || \"\") : \"\",\n      matched_modele: accept ? (getModeleField(best) || \"\") : (modelHint || \"\"),\n      matched_generations: accept ? (get(best, \"Spéc/Génération\", \"Spec/Generation\") || \"\") : \"\",\n      matched_coloris: accept ? (get(best, \"Coloris commercial\") || \"\") : \"\",\n      matched_annee_debut: accept ? (getYearStartField(best) || \"\") : \"\",\n      matched_annee_fin: accept ? (getYearEndField(best) || \"\") : \"\",\n      matched_cylindree: accept ? (get(best, \"Cylindrée (cc)\") || \"\") : \"\",\n\n      matched_score: accept ? Number(bestScore.toFixed(3)) : 0,\n      matched_confidence: confidence,\n      matched_quality: accept ? \"auto_match_1st\" : \"no_match\",\n      matching_engine: \"1ST_MATCH_STRICT_V1\",\n      needs_review: !accept || confidence === \"MEDIUM\",\n      reason_no_match: accept ? \"\" : \"below_threshold_or_filtered\",\n\n      // Détails pour debug\n      _match_debug: {\n        brandKey: brandAnnonceKey,\n        modelHint,\n        adTokensCount: adTok.length,\n        coverageAlpha: accept ? Number(bestDetails.bestCov.toFixed(3)) : 0,\n        jaccard: accept ? Number(bestDetails.jac.toFixed(3)) : 0,\n        ccBonus: accept ? Number(bestDetails.ccBonus.toFixed(2)) : 0,\n        yearBonus: accept ? Number(bestDetails.yearBonus.toFixed(2)) : 0,\n        minCovAlpha: MIN_COV_ALPHA,\n        minAccept: MIN_ACCEPT,\n        ccBlockDiff: CC_BLOCK_DIFF\n      }\n    }\n  });\n}\n\n// =====================================================\n// STATS\n// =====================================================\n\nconst stats = {\n  total: results.length,\n  matched: results.filter(r => r.json.matched_ok).length,\n  confidence_high: results.filter(r => r.json.matched_confidence === \"HIGH\").length,\n  confidence_medium: results.filter(r => r.json.matched_confidence === \"MEDIUM\").length,\n  needs_review: results.filter(r => r.json.needs_review).length\n};\n\nconsole.log(\"🥇 1ST MATCH (STRICT) - STATS:\");\nconsole.log(`   Total items: ${stats.total}`);\nconsole.log(`   Matched: ${stats.matched} (${Math.round(stats.matched / stats.total * 100)}%)`);\nconsole.log(`   Confidence:`);\nconsole.log(`     - HIGH: ${stats.confidence_high} (${Math.round(stats.confidence_high / stats.total * 100)}%)`);\nconsole.log(`     - MEDIUM: ${stats.confidence_medium} (${Math.round(stats.confidence_medium / stats.total * 100)}%)`);\nconsole.log(`   Review manuelle: ${stats.needs_review} (${Math.round(stats.needs_review / stats.total * 100)}%)`);\n\nreturn results;\n"
      },
      "id": "78190369-3f4d-4470-bef0-db99c065ab6f",
      "name": "1st Match (EXCELLENT)",
      "type": "n8n-nodes-base.code",
      "position": [
        800,
        992
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// 2ND MATCH - ÉQUILIBRÉ (données GOOD)\n// =====================================================\n// Objectif : Matcher les annonces avec données riches (score 60-80%)\n//\n// Stratégie :\n// - Seuils équilibrés (MIN_COV_ALPHA = 0.80, MIN_ACCEPT = 0.70)\n// - Flexibilité href OU field\n// - Gates modérés (CC ≤ 150cc, année ±2 ans)\n// - Scoring composite avec pénalités\n// - 2 passes (avec/sans gate année)\n//\n// Entrée attendue : Annonces tier \"GOOD\" (data_quality_score 60-80%)\n// Sortie : Annonces matchées avec confiance HIGH majoritaire\n// =====================================================\n\nconst allItems = $input.all().map(i => i.json);\n\n// =====================================================\n// HELPERS GÉNÉRIQUES\n// =====================================================\n\nfunction get(obj, ...keys) {\n  for (const k of keys) {\n    const v = obj?.[k];\n    if (v !== undefined && v !== null && String(v).trim() !== \"\") return v;\n  }\n  return \"\";\n}\n\nfunction pick(obj, keys) {\n  for (const k of keys) {\n    const v = obj?.[k];\n    if (v !== undefined && v !== null && String(v).trim() !== \"\") return v;\n  }\n  return \"\";\n}\n\n// =====================================================\n// NORMALISATION & TOKENIZATION\n// =====================================================\n\nconst STOP_WORDS = new Set([\n  \"moto\", \"motos\", \"scooter\", \"roadster\", \"trail\", \"enduro\", \"cross\",\n  \"vend\", \"vente\", \"vends\", \"urgent\", \"etat\", \"tres\", \"super\", \"parfait\",\n  \"paiement\", \"securise\", \"option\", \"full\", \"abs\", \"a2\", \"ct\", \"ok\",\n  \"km\", \"kms\", \"kilometrage\", \"boite\", \"vitesse\", \"manuelle\",\n  \"prix\", \"euro\", \"eur\", \"garantie\", \"factures\", \"entretien\"\n]);\n\nfunction normalize(text) {\n  if (!text) return \"\";\n  let s = String(text)\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toLowerCase();\n\n  s = s.replace(/_/g, \" \");\n  s = s.replace(/[/|]/g, \" \");\n  s = s.replace(/[^a-z0-9]+/g, \" \");\n  s = s.replace(/\\s+/g, \" \").trim();\n\n  // Normalisation modèles courants\n  s = s.replace(/\\b(mt)\\s*0?(\\d{2})\\b/g, \"$1$2\");\n  s = s.replace(/\\b(fz)\\s*(\\d)\\b/g, \"$1$2\");\n  s = s.replace(/\\b(gs)\\s*(\\d{3,4})\\b/g, \"$1$2\");\n  s = s.replace(/\\b(r)\\s*(\\d{3,4})\\b/g, \"$1$2\");\n  s = s.replace(/\\b(v\\s*strom)\\b/g, \"vstrom\");\n  s = s.replace(/\\b(dr)\\s*z\\b/g, \"drz\");\n\n  return s;\n}\n\nfunction brandKey(brand) {\n  return normalize(brand).replace(/\\s+/g, \"\");\n}\n\nfunction tokenize(text) {\n  const n = normalize(text);\n  if (!n) return [];\n\n  const tokens = n.split(\" \").filter(t => {\n    if (!t) return false;\n    if (STOP_WORDS.has(t)) return false;\n    if (/^\\d+$/.test(t)) return true;\n    return t.length >= 2;\n  });\n\n  return tokens;\n}\n\nfunction tokensAlphaOnly(tokens) {\n  return tokens.filter(t => /[a-z]/.test(t) && t.length >= 2);\n}\n\nfunction isNumberToken(t) {\n  return /^\\d+$/.test(t);\n}\n\n// =====================================================\n// EXTRACTION DONNÉES ANNONCE\n// =====================================================\n\nconst getAnnonceTitle = (a) =>\n  get(a, \"text-body-1 (8)\", \"text-headline-1-expanded\", \"annonce_title\", \"relative\");\n\nconst getAnnonceDesc = (a) =>\n  get(a, \"annonce_description\", \"text-body-1 (16)\", \"text-body-1 (14)\", \"Description_complete\");\n\nconst getAnnonceUrl = (a) =>\n  get(a, \"absolute href\", \"Url_Https\", \"annonce_url\", \"relative\");\n\nconst getAnnonceBrand = (a) =>\n  get(a, \"text-body-1 (2)\", \"annonce_brand_input\", \"Marque_scrap\");\n\nconst getAnnonceYearRaw1 = (a) =>\n  get(a, \"text-body-1 (4)\", \"Annee_du_modele\", \"annonce_year_input_1\");\n\nconst getAnnonceYearRaw2 = (a) =>\n  get(a, \"text-body-1 (9)\", \"Mise_en_circulation\", \"annonce_year_input_2\");\n\nconst getAnnonceCCHref = (a) => get(a, \"text-body-1 href (5)\");\nconst getAnnonceModelHref = (a) => get(a, \"text-body-1 href (3)\");\nconst getAnnonceBrandHref = (a) => get(a, \"text-body-1 href (2)\", \"text-body-1 href\");\n\n// =====================================================\n// EXTRACTION DONNÉES MODÈLE\n// =====================================================\n\nconst getModeleField = (m) => pick(m, [\"Modèle\", \"Modele\", \"modele\", \"Model\", \"MODELE\"]) || \"\";\nconst getMarqueField = (m) => pick(m, [\"Marque\", \"marque\", \"MARQUE\", \"Brand\", \"brand\"]) || \"\";\nconst getYearStartField = (m) => pick(m, [\"Année début\", \"Annee debut\", \"Year start\"]) || \"\";\nconst getYearEndField = (m) => pick(m, [\"Année fin\", \"Annee fin\", \"Year end\"]) || \"\";\n\n// =====================================================\n// PARSING ANNÉE\n// =====================================================\n\nfunction parseYearMonth(s) {\n  const str = String(s || \"\").trim();\n  if (!str) return { year: 0, month: 0 };\n\n  const mmyyyy = str.match(/\\b(0?[1-9]|1[0-2])\\s*\\/\\s*((19|20)\\d{2})\\b/);\n  if (mmyyyy) return { month: parseInt(mmyyyy[1], 10), year: parseInt(mmyyyy[2], 10) };\n\n  const yyyy = str.match(/\\b(19|20)\\d{2}\\b/);\n  if (yyyy) return { month: 0, year: parseInt(yyyy[0], 10) };\n\n  return { year: 0, month: 0 };\n}\n\nfunction pickAnnonceYear(a, adText) {\n  const d1 = parseYearMonth(getAnnonceYearRaw1(a));\n  if (d1.year) return d1.year;\n\n  const d2 = parseYearMonth(getAnnonceYearRaw2(a));\n  if (d2.year) return d2.year;\n\n  const m = String(adText || \"\").match(/\\b(19|20)\\d{2}\\b/);\n  if (m) return parseInt(m[0], 10);\n\n  return 0;\n}\n\n// =====================================================\n// EXTRACTION CC\n// =====================================================\n\nfunction ccFromHref(href) {\n  const s = String(href || \"\");\n  const m = s.match(/cubic_capacity:(\\d{2,4})/i);\n  return m ? parseInt(m[1], 10) : 0;\n}\n\nfunction extractCCFromText(text) {\n  const raw = String(text || \"\");\n  if (!raw.trim()) return 0;\n\n  const noKm = raw.replace(/\\b(\\d{1,6})\\s*km\\b/gi, \" \");\n  const s = normalize(noKm);\n\n  let m = s.match(/\\b(\\d{2,4})\\s*(cc|cm3|ccm)\\b/);\n  if (m) return parseInt(m[1], 10);\n\n  m = s.match(/\\b(\\d{2,4})(cc|cm3|ccm)\\b/);\n  if (m) return parseInt(m[1], 10);\n\n  return 0;\n}\n\nfunction extractNumbers(text) {\n  const raw = String(text || \"\")\n    .replace(/\\b(\\d{1,6})\\s*km\\b/gi, \" \")\n    .replace(/\\b(0?[1-9]|1[0-2])\\s*\\/\\s*((19|20)\\d{2})\\b/g, \" \");\n  const s = normalize(raw);\n  return (s.match(/\\b\\d{3,4}\\b/g) || []).map(n => parseInt(n, 10));\n}\n\nfunction inferCCFromNumbers(adText, annonceYear) {\n  const nums = extractNumbers(adText);\n  const candidates = nums.filter(n =>\n    n >= 50 && n <= 2500 && (!annonceYear || n !== annonceYear)\n  );\n  if (!candidates.length) return 0;\n  return Math.max(...candidates);\n}\n\nfunction getAnnonceCC(a, adText, annonceYear) {\n  // Priorité 1 : href\n  const ccH = ccFromHref(getAnnonceCCHref(a));\n  if (ccH) return ccH;\n\n  // Priorité 2 : champ primary\n  const ccTxt = get(a, \"text-body-1 (7)\", \"vehicule_cc_txt\", \"CC\", \"cc\");\n  const ccField = extractCCFromText(ccTxt);\n  if (ccField) return ccField;\n\n  // Priorité 3 : champ secondaire\n  const ccTxt2 = get(a, \"text-body-1 (13)\");\n  const ccField2 = extractCCFromText(ccTxt2);\n  if (ccField2) return ccField2;\n\n  // Priorité 4 : extraction depuis description\n  const ccT = extractCCFromText(adText);\n  if (ccT) return ccT;\n\n  // Priorité 5 : inférence depuis nombres\n  const ccN = inferCCFromNumbers(adText, annonceYear || 0);\n  if (ccN) return ccN;\n\n  return 0;\n}\n\n// =====================================================\n// EXTRACTION BRAND/MODEL DEPUIS HREF\n// =====================================================\n\nfunction decodePlus(s) {\n  return String(s || \"\").replace(/\\+/g, \" \");\n}\n\nfunction extractBrandFromHref(href) {\n  const h = String(href || \"\");\n  if (!h) return \"\";\n  const m = h.match(/u_moto_brand:([^+&]+)/i);\n  if (!m) return \"\";\n  try {\n    return decodeURIComponent(decodePlus(m[1]));\n  } catch (e) {\n    return decodePlus(m[1]);\n  }\n}\n\nfunction extractModelFromHref(href) {\n  const h = String(href || \"\");\n  if (!h) return \"\";\n  const m = h.match(/u_moto_model:([^+&]+)/i);\n  if (!m) return \"\";\n  try {\n    return decodeURIComponent(decodePlus(m[1]));\n  } catch (e) {\n    return decodePlus(m[1]);\n  }\n}\n\n// =====================================================\n// SIMILARITÉ\n// =====================================================\n\nfunction jaccard(aTokens, bTokens) {\n  if (!aTokens.length || !bTokens.length) return 0;\n  const A = new Set(aTokens);\n  const B = new Set(bTokens);\n  let inter = 0;\n  for (const x of A) if (B.has(x)) inter++;\n  const union = A.size + B.size - inter;\n  return union ? inter / union : 0;\n}\n\nfunction coverageSet(adSet, modelTokens) {\n  if (!modelTokens.length) return 0;\n  let hit = 0;\n  for (const t of modelTokens) if (adSet.has(t)) hit++;\n  return hit / modelTokens.length;\n}\n\n// =====================================================\n// VARIANTS & DOMINANTS\n// =====================================================\n\nfunction modelVariants(modelRaw) {\n  const cleaned = String(modelRaw || \"\").replace(/[|]/g, \"/\");\n  const parts = cleaned.split(\"/\").map(p => p.trim()).filter(Boolean);\n  return Array.from(new Set(parts.map(p => normalize(p)).filter(Boolean)));\n}\n\nfunction getModelDominantTokens(modelRaw) {\n  const n = normalize(modelRaw);\n  const nums = n.match(/\\b\\d{3,4}\\b/g) || [];\n  if (nums.length) return nums.map(Number);\n\n  const toks = tokenize(modelRaw);\n  return toks.filter(t => /\\d/.test(t) || t.length >= 4);\n}\n\n// =====================================================\n// SÉPARATION MODÈLES / ANNONCES\n// =====================================================\n\nconst modeles = [];\nconst annonces = [];\n\nfor (const item of allItems) {\n  const isModele =\n    !!getMarqueField(item) &&\n    !!getModeleField(item) &&\n    get(item, \"Cylindrée (cc)\", \"Type (M/S/E)\", \"Type(M/S/E)\") !== \"\";\n\n  const isAnnonce =\n    get(item, \"text-body-1 (8)\", \"text-headline-1-expanded\", \"relative\",\n        \"absolute href\", \"Url_Https\", \"annonce_url\") !== \"\";\n\n  if (isModele) modeles.push(item);\n  else if (isAnnonce) annonces.push(item);\n}\n\nif (!modeles.length) {\n  return annonces.map(a => ({\n    json: {\n      ...a,\n      matching_engine: \"2ND_MATCH_NO_MODELS\",\n      matched_score: 0,\n      matched_confidence: \"NONE\",\n      needs_review: true\n    }\n  }));\n}\n\n// =====================================================\n// INDEX MARQUES\n// =====================================================\n\nconst brandIndex = new Map();\n\nfor (const m of modeles) {\n  const brandRaw = getMarqueField(m);\n  const modelRaw = getModeleField(m);\n\n  const bKey = brandKey(brandRaw);\n  if (!bKey) continue;\n\n  const variants = modelVariants(modelRaw);\n  if (!variants.length) continue;\n\n  const ys = parseInt(getYearStartField(m) || 0, 10) || 0;\n  let ye = getYearEndField(m);\n  ye = (ye === null || ye === undefined || ye === \"\") ? 9999 : (parseInt(ye, 10) || 9999);\n\n  const cc = Math.round(Number(get(m, \"Cylindrée (cc)\") || 0)) || 0;\n\n  const variantAlphaTokens = variants\n    .map(v => tokensAlphaOnly(tokenize(v)))\n    .filter(t => t.length);\n\n  if (!variantAlphaTokens.length) continue;\n\n  const doms = getModelDominantTokens(modelRaw);\n  const modelNoSpace = normalize(modelRaw).replace(/\\s+/g, \"\");\n\n  const prepared = {\n    raw: m,\n    brandRaw,\n    bKey,\n    ys,\n    ye,\n    cc,\n    variants,\n    variantAlphaTokens,\n    combinedTok: tokenize(`${brandRaw} ${modelRaw}`),\n    dominants: doms,\n    modelNoSpace\n  };\n\n  if (!brandIndex.has(bKey)) brandIndex.set(bKey, []);\n  brandIndex.get(bKey).push(prepared);\n}\n\nconst knownBrandKeys = Array.from(brandIndex.keys()).sort((a, b) => b.length - a.length);\n\n// =====================================================\n// PARAMÈTRES 2ND MATCH (ÉQUILIBRÉ)\n// =====================================================\n\nconst MIN_COV_ALPHA = 0.80;    // 80% couverture alpha\nconst MIN_ACCEPT = 0.70;        // 70% score minimum\nconst CC_BLOCK_DIFF = 150;      // 150cc tolérance\nconst YEAR_TOLERANCE = 2;       // ±2 ans tolérance\n\n// =====================================================\n// SCORING COMPOSITE AVEC PÉNALITÉS\n// =====================================================\n\nfunction computeBalancedScore(adTok, adSet, p, annonceCC, annonceYear, adNumbers) {\n  // 1. Coverage alpha (65%)\n  let bestCov = 0;\n  for (const vat of p.variantAlphaTokens) {\n    const cov = coverageSet(adSet, vat);\n    if (cov > bestCov) bestCov = cov;\n  }\n\n  // 2. Jaccard (25%)\n  const jac = jaccard(adTok, p.combinedTok);\n\n  // 3. CC proximity (7%)\n  let ccProximity = 0;\n  if (annonceCC && p.cc) {\n    const diff = Math.abs(p.cc - annonceCC);\n    if (diff === 0) ccProximity = 1.0;\n    else if (diff <= 50) ccProximity = 0.8;\n    else if (diff <= 100) ccProximity = 0.5;\n    else if (diff <= 150) ccProximity = 0.3;\n  } else if (!annonceCC && !p.cc) {\n    ccProximity = 0.5; // Neutre si les deux absents\n  }\n\n  // 4. Year proximity (3%)\n  let yearProximity = 0;\n  if (annonceYear && p.ys && p.ye) {\n    if (annonceYear >= p.ys && annonceYear <= p.ye) {\n      yearProximity = 1.0;\n    } else {\n      const distStart = Math.abs(annonceYear - p.ys);\n      const distEnd = Math.abs(annonceYear - p.ye);\n      const minDist = Math.min(distStart, distEnd);\n      if (minDist <= 1) yearProximity = 0.8;\n      else if (minDist <= 2) yearProximity = 0.5;\n    }\n  } else if (!annonceYear) {\n    yearProximity = 0.5; // Neutre si absent\n  }\n\n  // Score composite de base\n  const baseScore = (\n    bestCov * 0.65 +\n    jac * 0.25 +\n    ccProximity * 0.07 +\n    yearProximity * 0.03\n  );\n\n  // Pénalités\n  let penalties = 0;\n\n  // Pénalité dominants (si présents mais absents dans annonce)\n  if (p.dominants.length > 0) {\n    const hasCommonDom = p.dominants.some(d => adNumbers.includes(d));\n    if (!hasCommonDom) {\n      penalties += 0.10; // -10%\n    }\n  }\n\n  // Pénalité CC absent\n  if (!annonceCC && p.cc) {\n    penalties += 0.05; // -5%\n  }\n\n  const finalScore = Math.max(0, baseScore - penalties);\n\n  return {\n    score: finalScore,\n    bestCov,\n    jac,\n    ccProximity,\n    yearProximity,\n    penalties\n  };\n}\n\n// =====================================================\n// MATCHING\n// =====================================================\n\nconst results = [];\n\nfor (const a of annonces) {\n  const title = getAnnonceTitle(a);\n  const desc = getAnnonceDesc(a);\n  const url = getAnnonceUrl(a);\n\n  const hrefModel = getAnnonceModelHref(a) || \"\";\n  const hrefCC = getAnnonceCCHref(a) || \"\";\n  const hrefBrand = getAnnonceBrandHref(a) || \"\";\n\n  // Flexibilité href OU field\n  const brandFromHrefRaw = extractBrandFromHref(hrefBrand);\n  const brandFromFieldRaw = getAnnonceBrand(a);\n\n  const brandFromHrefKey = brandKey(brandFromHrefRaw);\n  const brandFromFieldKey = brandKey(brandFromFieldRaw);\n\n  const adTextBase = `${title} ${desc}`.trim();\n\n  // Marque : href OU field\n  let brandAnnonceKey = brandFromHrefKey || brandFromFieldKey;\n\n  // Model hint : href (si ≠ \"autre\") OU field\n  let modelHint = extractModelFromHref(hrefModel);\n  const modelNorm = normalize(modelHint);\n  const isModelAutre = modelNorm === \"autre\" || modelNorm.includes(\" autre\");\n\n  if (!modelHint || isModelAutre) {\n    // Fallback sur fields\n    modelHint = get(a, \"text-body-1 (8)\", \"text-body-1 (3)\");\n  }\n\n  const adTextUsed = modelHint ? `${adTextBase} ${modelHint}`.trim() : adTextBase;\n\n  const annonceYear = pickAnnonceYear(a, adTextUsed);\n  const annonceCC = getAnnonceCC(a, adTextUsed, annonceYear);\n\n  if (!brandAnnonceKey || !brandIndex.has(brandAnnonceKey)) {\n    results.push({\n      json: {\n        ...a,\n        annonce_title: title,\n        annonce_url: url,\n        annonce_year_resolved: annonceYear || \"\",\n        annonce_cc_resolved: annonceCC || \"\",\n\n        matched_ok: false,\n        matched_marque: \"\",\n        matched_modele: modelHint || \"\",\n        matched_score: 0,\n        matched_confidence: \"NONE\",\n        matching_engine: \"2ND_MATCH_NO_BRAND\",\n        needs_review: true,\n        reason_no_match: \"brand_not_found\"\n      }\n    });\n    continue;\n  }\n\n  const adTok = tokenize(adTextUsed);\n  const adSet = new Set(adTok);\n  const adNumbers = extractNumbers(adTextUsed);\n\n  const baseCandidates = brandIndex.get(brandAnnonceKey) || [];\n\n  // Passes : avec/sans année\n  const passes = [{ useYear: true }, { useYear: false }];\n\n  let bestPrepared = null;\n  let bestScore = 0;\n  let bestDetails = null;\n  let usedYearFilter = false;\n\n  for (const pass of passes) {\n    let foundInPass = false;\n\n    for (const p of baseCandidates) {\n      // Gate année avec tolérance ±2 ans\n      if (pass.useYear && annonceYear) {\n        const inRange = annonceYear >= p.ys && annonceYear <= p.ye;\n\n        if (!inRange) {\n          const distStart = Math.abs(annonceYear - p.ys);\n          const distEnd = Math.abs(annonceYear - p.ye);\n          const minDist = Math.min(distStart, distEnd);\n\n          if (minDist > YEAR_TOLERANCE) {\n            continue; // Rejeté si > 2 ans hors range\n          }\n        }\n      }\n\n      // Gate CC (≤ 150cc)\n      if (annonceCC && p.cc) {\n        const diff = Math.abs(p.cc - annonceCC);\n        if (diff > CC_BLOCK_DIFF) continue;\n      }\n\n      // Scoring avec pénalités\n      const { score, bestCov, jac, ccProximity, yearProximity, penalties } =\n        computeBalancedScore(adTok, adSet, p, annonceCC, annonceYear, adNumbers);\n\n      // Gate coverage minimum\n      if (bestCov < MIN_COV_ALPHA) continue;\n\n      if (score > bestScore) {\n        bestScore = score;\n        bestPrepared = p;\n        bestDetails = { bestCov, jac, ccProximity, yearProximity, penalties };\n        usedYearFilter = pass.useYear && !!annonceYear;\n        foundInPass = true;\n      }\n    }\n\n    if (pass.useYear && foundInPass) break;\n  }\n\n  const accept = !!bestPrepared && bestScore >= MIN_ACCEPT;\n  const best = accept ? bestPrepared.raw : null;\n\n  // Déterminer la confiance\n  let confidence = \"NONE\";\n  if (accept) {\n    if (bestScore >= 0.78) confidence = \"HIGH\";\n    else confidence = \"MEDIUM\";\n  }\n\n  results.push({\n    json: {\n      ...a,\n      annonce_title: title,\n      annonce_url: url,\n      annonce_year_resolved: annonceYear || \"\",\n      used_year_filter: usedYearFilter,\n      annonce_cc_resolved: annonceCC || \"\",\n\n      matched_ok: accept,\n      matched_marque: accept ? (getMarqueField(best) || \"\") : \"\",\n      matched_modele: accept ? (getModeleField(best) || \"\") : (modelHint || \"\"),\n      matched_generations: accept ? (get(best, \"Spéc/Génération\", \"Spec/Generation\") || \"\") : \"\",\n      matched_coloris: accept ? (get(best, \"Coloris commercial\") || \"\") : \"\",\n      matched_annee_debut: accept ? (getYearStartField(best) || \"\") : \"\",\n      matched_annee_fin: accept ? (getYearEndField(best) || \"\") : \"\",\n      matched_cylindree: accept ? (get(best, \"Cylindrée (cc)\") || \"\") : \"\",\n\n      matched_score: accept ? Number(bestScore.toFixed(3)) : 0,\n      matched_confidence: confidence,\n      matched_quality: accept ? \"auto_match_2nd\" : \"no_match\",\n      matching_engine: \"2ND_MATCH_BALANCED_V1\",\n      needs_review: !accept || confidence === \"MEDIUM\",\n      reason_no_match: accept ? \"\" : \"below_threshold_or_filtered\",\n\n      _match_debug: {\n        brandKey: brandAnnonceKey,\n        modelHint,\n        adTokensCount: adTok.length,\n        coverageAlpha: accept ? Number(bestDetails.bestCov.toFixed(3)) : 0,\n        jaccard: accept ? Number(bestDetails.jac.toFixed(3)) : 0,\n        ccProximity: accept ? Number(bestDetails.ccProximity.toFixed(2)) : 0,\n        yearProximity: accept ? Number(bestDetails.yearProximity.toFixed(2)) : 0,\n        penalties: accept ? Number(bestDetails.penalties.toFixed(2)) : 0,\n        minCovAlpha: MIN_COV_ALPHA,\n        minAccept: MIN_ACCEPT,\n        ccBlockDiff: CC_BLOCK_DIFF\n      }\n    }\n  });\n}\n\n// =====================================================\n// STATS\n// =====================================================\n\nconst stats = {\n  total: results.length,\n  matched: results.filter(r => r.json.matched_ok).length,\n  confidence_high: results.filter(r => r.json.matched_confidence === \"HIGH\").length,\n  confidence_medium: results.filter(r => r.json.matched_confidence === \"MEDIUM\").length,\n  needs_review: results.filter(r => r.json.needs_review).length\n};\n\nconsole.log(\"🥈 2ND MATCH (ÉQUILIBRÉ) - STATS:\");\nconsole.log(`   Total items: ${stats.total}`);\nconsole.log(`   Matched: ${stats.matched} (${Math.round(stats.matched / stats.total * 100)}%)`);\nconsole.log(`   Confidence:`);\nconsole.log(`     - HIGH: ${stats.confidence_high} (${Math.round(stats.confidence_high / stats.total * 100)}%)`);\nconsole.log(`     - MEDIUM: ${stats.confidence_medium} (${Math.round(stats.confidence_medium / stats.total * 100)}%)`);\nconsole.log(`   Review manuelle: ${stats.needs_review} (${Math.round(stats.needs_review / stats.total * 100)}%)`);\n\nreturn results;\n"
      },
      "id": "c32bf6cc-901a-4745-a72c-a46ec59b34db",
      "name": "2nd Match (GOOD)",
      "type": "n8n-nodes-base.code",
      "position": [
        800,
        1136
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// 3RD MATCH - PERMISSIF (données MEDIUM)\n// =====================================================\n// Objectif : Matcher les annonces avec données moyennes (score 40-60%)\n//\n// Stratégie :\n// - Seuils permissifs (MIN_COV_ALPHA = 0.50, MIN_ACCEPT = 0.55)\n// - Inférence intelligente du modèle depuis description\n// - Fuzzy brand matching (Levenshtein distance)\n// - Scoring composite (coverage + jaccard + CC + année)\n// - Relaxation des gates (dominant, CC)\n//\n// Entrée attendue : Annonces tier \"MEDIUM\" (data_quality_score 40-60%)\n// Sortie : Annonces matchées avec confiance MEDIUM\n// =====================================================\n\nconst allItems = $input.all().map(i => i.json);\n\n// =====================================================\n// HELPERS GÉNÉRIQUES\n// =====================================================\n\nfunction get(obj, ...keys) {\n  for (const k of keys) {\n    const v = obj?.[k];\n    if (v !== undefined && v !== null && String(v).trim() !== \"\") return v;\n  }\n  return \"\";\n}\n\nfunction pick(obj, keys) {\n  for (const k of keys) {\n    const v = obj?.[k];\n    if (v !== undefined && v !== null && String(v).trim() !== \"\") return v;\n  }\n  return \"\";\n}\n\n// =====================================================\n// NORMALISATION & TOKENIZATION\n// =====================================================\n\nconst STOP_WORDS = new Set([\n  \"moto\", \"motos\", \"scooter\", \"roadster\", \"trail\", \"enduro\", \"cross\",\n  \"vend\", \"vente\", \"vends\", \"urgent\", \"etat\", \"tres\", \"super\", \"parfait\",\n  \"paiement\", \"securise\", \"option\", \"full\", \"abs\", \"a2\", \"ct\", \"ok\",\n  \"km\", \"kms\", \"kilometrage\", \"boite\", \"vitesse\", \"manuelle\",\n  \"prix\", \"euro\", \"eur\", \"garantie\", \"factures\", \"entretien\"\n]);\n\nfunction normalize(text) {\n  if (!text) return \"\";\n  let s = String(text)\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toLowerCase();\n\n  s = s.replace(/_/g, \" \");\n  s = s.replace(/[/|]/g, \" \");\n  s = s.replace(/[^a-z0-9]+/g, \" \");\n  s = s.replace(/\\s+/g, \" \").trim();\n\n  // Normalisation des modèles courants\n  s = s.replace(/\\b(mt)\\s*0?(\\d{2})\\b/g, \"$1$2\");\n  s = s.replace(/\\b(fz)\\s*(\\d)\\b/g, \"$1$2\");\n  s = s.replace(/\\b(gs)\\s*(\\d{3,4})\\b/g, \"$1$2\");\n  s = s.replace(/\\b(r)\\s*(\\d{3,4})\\b/g, \"$1$2\");\n  s = s.replace(/\\b(v\\s*strom)\\b/g, \"vstrom\");\n  s = s.replace(/\\b(dr)\\s*z\\b/g, \"drz\");\n\n  return s;\n}\n\nfunction brandKey(brand) {\n  return normalize(brand).replace(/\\s+/g, \"\");\n}\n\nfunction tokenize(text) {\n  const n = normalize(text);\n  if (!n) return [];\n\n  const tokens = n.split(\" \").filter(t => {\n    if (!t) return false;\n    if (STOP_WORDS.has(t)) return false;\n    if (/^\\d+$/.test(t)) return true; // garde les nombres\n    return t.length >= 2;\n  });\n\n  return tokens;\n}\n\nfunction tokensAlphaOnly(tokens) {\n  return tokens.filter(t => /[a-z]/.test(t) && t.length >= 2);\n}\n\nfunction isNumberToken(t) {\n  return /^\\d+$/.test(t);\n}\n\n// =====================================================\n// EXTRACTION DONNÉES ANNONCE\n// =====================================================\n\nconst getAnnonceTitle = (a) =>\n  get(a, \"text-body-1 (8)\", \"text-headline-1-expanded\", \"annonce_title\", \"relative\");\n\nconst getAnnonceDesc = (a) =>\n  get(a, \"annonce_description\", \"text-body-1 (16)\", \"text-body-1 (14)\", \"Description_complete\");\n\nconst getAnnonceUrl = (a) =>\n  get(a, \"absolute href\", \"Url_Https\", \"annonce_url\", \"relative\");\n\nconst getAnnonceBrand = (a) =>\n  get(a, \"text-body-1 (2)\", \"annonce_brand_input\", \"Marque_scrap\");\n\nconst getAnnonceYearRaw1 = (a) =>\n  get(a, \"text-body-1 (4)\", \"Annee_du_modele\", \"annonce_year_input_1\");\n\nconst getAnnonceYearRaw2 = (a) =>\n  get(a, \"text-body-1 (9)\", \"Mise_en_circulation\", \"annonce_year_input_2\");\n\nconst getAnnonceCCHref = (a) => get(a, \"text-body-1 href (5)\");\nconst getAnnonceModelHref = (a) => get(a, \"text-body-1 href (3)\");\nconst getAnnonceBrandHref = (a) => get(a, \"text-body-1 href (2)\", \"text-body-1 href\");\n\n// =====================================================\n// EXTRACTION DONNÉES MODÈLE\n// =====================================================\n\nconst getModeleField = (m) => pick(m, [\"Modèle\", \"Modele\", \"modele\", \"Model\", \"MODELE\"]) || \"\";\nconst getMarqueField = (m) => pick(m, [\"Marque\", \"marque\", \"MARQUE\", \"Brand\", \"brand\"]) || \"\";\nconst getYearStartField = (m) => pick(m, [\"Année début\", \"Annee debut\", \"Year start\"]) || \"\";\nconst getYearEndField = (m) => pick(m, [\"Année fin\", \"Annee fin\", \"Year end\"]) || \"\";\n\n// =====================================================\n// PARSING ANNÉE\n// =====================================================\n\nfunction parseYearMonth(s) {\n  const str = String(s || \"\").trim();\n  if (!str) return { year: 0, month: 0 };\n\n  const mmyyyy = str.match(/\\b(0?[1-9]|1[0-2])\\s*\\/\\s*((19|20)\\d{2})\\b/);\n  if (mmyyyy) return { month: parseInt(mmyyyy[1], 10), year: parseInt(mmyyyy[2], 10) };\n\n  const yyyy = str.match(/\\b(19|20)\\d{2}\\b/);\n  if (yyyy) return { month: 0, year: parseInt(yyyy[0], 10) };\n\n  return { year: 0, month: 0 };\n}\n\nfunction pickAnnonceYear(a, adText) {\n  const d1 = parseYearMonth(getAnnonceYearRaw1(a));\n  if (d1.year) return d1.year;\n\n  const d2 = parseYearMonth(getAnnonceYearRaw2(a));\n  if (d2.year) return d2.year;\n\n  // Fallback : extraction depuis texte\n  const m = String(adText || \"\").match(/\\b(19|20)\\d{2}\\b/);\n  if (m) return parseInt(m[0], 10);\n\n  return 0;\n}\n\n// =====================================================\n// EXTRACTION CC\n// =====================================================\n\nfunction ccFromHref(href) {\n  const s = String(href || \"\");\n  const m = s.match(/cubic_capacity:(\\d{2,4})/i);\n  return m ? parseInt(m[1], 10) : 0;\n}\n\nfunction extractCCFromText(text) {\n  const raw = String(text || \"\");\n  if (!raw.trim()) return 0;\n\n  const noKm = raw.replace(/\\b(\\d{1,6})\\s*km\\b/gi, \" \");\n  const s = normalize(noKm);\n\n  let m = s.match(/\\b(\\d{2,4})\\s*(cc|cm3|ccm)\\b/);\n  if (m) return parseInt(m[1], 10);\n\n  m = s.match(/\\b(\\d{2,4})(cc|cm3|ccm)\\b/);\n  if (m) return parseInt(m[1], 10);\n\n  return 0;\n}\n\nfunction extractNumbers(text) {\n  const raw = String(text || \"\")\n    .replace(/\\b(\\d{1,6})\\s*km\\b/gi, \" \")\n    .replace(/\\b(0?[1-9]|1[0-2])\\s*\\/\\s*((19|20)\\d{2})\\b/g, \" \");\n  const s = normalize(raw);\n  return (s.match(/\\b\\d{3,4}\\b/g) || []).map(n => parseInt(n, 10));\n}\n\nfunction inferCCFromNumbers(adText, annonceYear) {\n  const nums = extractNumbers(adText);\n  const candidates = nums.filter(n =>\n    n >= 50 && n <= 2500 && (!annonceYear || n !== annonceYear)\n  );\n  if (!candidates.length) return 0;\n  return Math.max(...candidates);\n}\n\nfunction getAnnonceCC(a, adText, annonceYear) {\n  const ccH = ccFromHref(getAnnonceCCHref(a));\n  if (ccH) return ccH;\n\n  const ccTxt = get(a, \"text-body-1 (7)\", \"vehicule_cc_txt\", \"CC\", \"cc\");\n  const ccField = extractCCFromText(ccTxt);\n  if (ccField) return ccField;\n\n  const ccT = extractCCFromText(adText);\n  if (ccT) return ccT;\n\n  const ccN = inferCCFromNumbers(adText, annonceYear || 0);\n  if (ccN) return ccN;\n\n  return 0;\n}\n\n// =====================================================\n// EXTRACTION BRAND/MODEL DEPUIS HREF\n// =====================================================\n\nfunction decodePlus(s) {\n  return String(s || \"\").replace(/\\+/g, \" \");\n}\n\nfunction extractBrandFromHref(href) {\n  const h = String(href || \"\");\n  if (!h) return \"\";\n  const m = h.match(/u_moto_brand:([^+&]+)/i);\n  if (!m) return \"\";\n  try {\n    return decodeURIComponent(decodePlus(m[1]));\n  } catch (e) {\n    return decodePlus(m[1]);\n  }\n}\n\nfunction extractModelFromHref(href) {\n  const h = String(href || \"\");\n  if (!h) return \"\";\n  const m = h.match(/u_moto_model:([^+&]+)/i);\n  if (!m) return \"\";\n  try {\n    return decodeURIComponent(decodePlus(m[1]));\n  } catch (e) {\n    return decodePlus(m[1]);\n  }\n}\n\n// =====================================================\n// ✨ NOUVEAUTÉ : EXTRACTION MODÈLE DEPUIS DESCRIPTION\n// =====================================================\n\n/**\n * Tente d'extraire le modèle depuis la description\n * Patterns courants : \"TRIUMPH Speed Triple\", \"YAMAHA MT-07\", etc.\n */\nfunction extractModelFromDescription(desc, brandNorm) {\n  if (!desc) return \"\";\n\n  const descNorm = normalize(desc);\n  if (!descNorm) return \"\";\n\n  // Pattern 1 : Marque + Modèle (ex: \"triumph speed triple\")\n  if (brandNorm) {\n    const regex = new RegExp(`\\\\b${brandNorm}\\\\s+([a-z0-9]+(?:\\\\s+[a-z0-9]+){0,2})\\\\b`, \"i\");\n    const m = descNorm.match(regex);\n    if (m && m[1]) {\n      const extracted = m[1].trim();\n      // Vérifier que ce n'est pas juste un mot générique\n      if (extracted.length >= 3 && !STOP_WORDS.has(extracted)) {\n        return extracted;\n      }\n    }\n  }\n\n  // Pattern 2 : Modèles connus avec chiffres (ex: \"mt07\", \"r1200gs\", \"z900\")\n  const modelPatterns = [\n    /\\b([a-z]{1,3}\\d{2,4}[a-z]*)\\b/,  // mt07, r1200gs, z900\n    /\\b(duke|monster|street|tiger|ninja|versys|tracer|diavel)\\s*(\\d{2,4})?/i\n  ];\n\n  for (const pattern of modelPatterns) {\n    const m = descNorm.match(pattern);\n    if (m && m[0]) {\n      return m[0].trim();\n    }\n  }\n\n  return \"\";\n}\n\n// =====================================================\n// ✨ NOUVEAUTÉ : FUZZY BRAND MATCHING (LEVENSHTEIN)\n// =====================================================\n\n/**\n * Distance de Levenshtein entre deux chaînes\n */\nfunction levenshtein(a, b) {\n  const matrix = [];\n\n  for (let i = 0; i <= b.length; i++) {\n    matrix[i] = [i];\n  }\n\n  for (let j = 0; j <= a.length; j++) {\n    matrix[0][j] = j;\n  }\n\n  for (let i = 1; i <= b.length; i++) {\n    for (let j = 1; j <= a.length; j++) {\n      if (b.charAt(i - 1) === a.charAt(j - 1)) {\n        matrix[i][j] = matrix[i - 1][j - 1];\n      } else {\n        matrix[i][j] = Math.min(\n          matrix[i - 1][j - 1] + 1, // substitution\n          matrix[i][j - 1] + 1,     // insertion\n          matrix[i - 1][j] + 1      // deletion\n        );\n      }\n    }\n  }\n\n  return matrix[b.length][a.length];\n}\n\n/**\n * Trouve la marque la plus proche par fuzzy matching\n */\nfunction fuzzyMatchBrand(adText, knownBrandKeys, maxDistance = 2) {\n  const adNorm = normalize(adText);\n  const adTokens = tokenize(adText);\n\n  for (const token of adTokens) {\n    if (token.length < 3) continue; // trop court pour matcher\n\n    for (const brandKey of knownBrandKeys) {\n      const dist = levenshtein(token, brandKey);\n      if (dist <= maxDistance) {\n        return brandKey;\n      }\n    }\n  }\n\n  return null;\n}\n\n// =====================================================\n// SIMILARITÉ\n// =====================================================\n\nfunction jaccard(aTokens, bTokens) {\n  if (!aTokens.length || !bTokens.length) return 0;\n  const A = new Set(aTokens);\n  const B = new Set(bTokens);\n  let inter = 0;\n  for (const x of A) if (B.has(x)) inter++;\n  const union = A.size + B.size - inter;\n  return union ? inter / union : 0;\n}\n\nfunction coverageSet(adSet, modelTokens) {\n  if (!modelTokens.length) return 0;\n  let hit = 0;\n  for (const t of modelTokens) if (adSet.has(t)) hit++;\n  return hit / modelTokens.length;\n}\n\n// =====================================================\n// VARIANTS & DOMINANTS\n// =====================================================\n\nfunction modelVariants(modelRaw) {\n  const cleaned = String(modelRaw || \"\").replace(/[|]/g, \"/\");\n  const parts = cleaned.split(\"/\").map(p => p.trim()).filter(Boolean);\n  return Array.from(new Set(parts.map(p => normalize(p)).filter(Boolean)));\n}\n\nfunction getModelDominantTokens(modelRaw) {\n  const n = normalize(modelRaw);\n  const nums = n.match(/\\b\\d{3,4}\\b/g) || [];\n  if (nums.length) return nums.map(Number);\n\n  const toks = tokenize(modelRaw);\n  return toks.filter(t => /\\d/.test(t) || t.length >= 4);\n}\n\n// =====================================================\n// SÉPARATION MODÈLES / ANNONCES\n// =====================================================\n\nconst modeles = [];\nconst annonces = [];\n\nfor (const item of allItems) {\n  const isModele =\n    !!getMarqueField(item) &&\n    !!getModeleField(item) &&\n    get(item, \"Cylindrée (cc)\", \"Type (M/S/E)\", \"Type(M/S/E)\") !== \"\";\n\n  const isAnnonce =\n    get(item, \"text-body-1 (8)\", \"text-headline-1-expanded\", \"relative\",\n        \"absolute href\", \"Url_Https\", \"annonce_url\") !== \"\";\n\n  if (isModele) modeles.push(item);\n  else if (isAnnonce) annonces.push(item);\n}\n\nif (!modeles.length) {\n  return annonces.map(a => ({\n    json: {\n      ...a,\n      matching_engine: \"3RD_MATCH_NO_MODELS\",\n      matched_score: 0,\n      matched_confidence: \"NONE\",\n      needs_review: true\n    }\n  }));\n}\n\n// =====================================================\n// INDEX MARQUES\n// =====================================================\n\nconst brandIndex = new Map();\n\nfor (const m of modeles) {\n  const brandRaw = getMarqueField(m);\n  const modelRaw = getModeleField(m);\n\n  const bKey = brandKey(brandRaw);\n  if (!bKey) continue;\n\n  const variants = modelVariants(modelRaw);\n  if (!variants.length) continue;\n\n  const ys = parseInt(getYearStartField(m) || 0, 10) || 0;\n  let ye = getYearEndField(m);\n  ye = (ye === null || ye === undefined || ye === \"\") ? 9999 : (parseInt(ye, 10) || 9999);\n\n  const cc = Math.round(Number(get(m, \"Cylindrée (cc)\") || 0)) || 0;\n\n  const variantAlphaTokens = variants\n    .map(v => tokensAlphaOnly(tokenize(v)))\n    .filter(t => t.length);\n\n  if (!variantAlphaTokens.length) continue;\n\n  const doms = getModelDominantTokens(modelRaw);\n  const modelNoSpace = normalize(modelRaw).replace(/\\s+/g, \"\");\n\n  const prepared = {\n    raw: m,\n    brandRaw,\n    bKey,\n    ys,\n    ye,\n    cc,\n    variants,\n    variantAlphaTokens,\n    combinedTok: tokenize(`${brandRaw} ${modelRaw}`),\n    dominants: doms,\n    modelNoSpace\n  };\n\n  if (!brandIndex.has(bKey)) brandIndex.set(bKey, []);\n  brandIndex.get(bKey).push(prepared);\n}\n\nconst knownBrandKeys = Array.from(brandIndex.keys()).sort((a, b) => b.length - a.length);\n\n// =====================================================\n// PARAMÈTRES 3RD MATCH (PERMISSIF)\n// =====================================================\n\nconst MIN_COV_ALPHA = 0.50;    // 50% couverture alpha (permissif)\nconst MIN_ACCEPT = 0.55;        // 55% score minimum (permissif)\nconst CC_BLOCK_DIFF = 150;      // 150cc tolérance\nconst CC_PENALTY = 0.08;        // Pénalité CC\n\n// =====================================================\n// ✨ SCORING COMPOSITE\n// =====================================================\n\n/**\n * Calcule un score composite avec pondération\n * Coverage (60%) + Jaccard (20%) + CC proximity (10%) + Year proximity (10%)\n */\nfunction computeCompositeScore(adTok, adSet, p, annonceCC, annonceYear) {\n  // 1. Coverage alpha (60%)\n  let bestCov = 0;\n  for (const vat of p.variantAlphaTokens) {\n    const cov = coverageSet(adSet, vat);\n    if (cov > bestCov) bestCov = cov;\n  }\n\n  // 2. Jaccard (20%)\n  const jac = jaccard(adTok, p.combinedTok);\n\n  // 3. CC proximity (10%)\n  let ccProximity = 0;\n  if (annonceCC && p.cc) {\n    const diff = Math.abs(p.cc - annonceCC);\n    if (diff === 0) ccProximity = 1.0;\n    else if (diff <= 50) ccProximity = 0.8;\n    else if (diff <= 100) ccProximity = 0.5;\n    else if (diff <= 150) ccProximity = 0.3;\n  } else if (!annonceCC && !p.cc) {\n    ccProximity = 0.5; // neutral si les deux absents\n  }\n\n  // 4. Year proximity (10%)\n  let yearProximity = 0;\n  if (annonceYear && p.ys && p.ye) {\n    if (annonceYear >= p.ys && annonceYear <= p.ye) {\n      yearProximity = 1.0;\n    } else {\n      const distStart = Math.abs(annonceYear - p.ys);\n      const distEnd = Math.abs(annonceYear - p.ye);\n      const minDist = Math.min(distStart, distEnd);\n      if (minDist <= 2) yearProximity = 0.5;\n      else if (minDist <= 5) yearProximity = 0.3;\n    }\n  } else if (!annonceYear) {\n    yearProximity = 0.5; // neutral si absent\n  }\n\n  // Score composite\n  const score = (\n    bestCov * 0.60 +\n    jac * 0.20 +\n    ccProximity * 0.10 +\n    yearProximity * 0.10\n  );\n\n  return { score, bestCov, jac, ccProximity, yearProximity };\n}\n\n// =====================================================\n// MATCHING\n// =====================================================\n\nconst results = [];\n\nfor (const a of annonces) {\n  const title = getAnnonceTitle(a);\n  const desc = getAnnonceDesc(a);\n  const url = getAnnonceUrl(a);\n\n  const hrefModel = getAnnonceModelHref(a) || \"\";\n  const hrefCC = getAnnonceCCHref(a) || \"\";\n  const hrefBrand = getAnnonceBrandHref(a) || \"\";\n\n  const brandFromHrefRaw = extractBrandFromHref(hrefBrand);\n  const brandFromFieldRaw = getAnnonceBrand(a);\n\n  const brandFromHrefKey = brandKey(brandFromHrefRaw);\n  const brandFromFieldKey = brandKey(brandFromFieldRaw);\n\n  const adTextBase = `${title} ${desc}`.trim();\n  const adNormBase = normalize(adTextBase);\n\n  // Marque : priorité href → field → fuzzy match\n  let brandAnnonceKey = brandFromHrefKey || brandFromFieldKey;\n\n  if (!brandAnnonceKey) {\n    // ✨ FUZZY BRAND MATCHING\n    const fuzzyBrand = fuzzyMatchBrand(adTextBase, knownBrandKeys, 2);\n    if (fuzzyBrand) {\n      brandAnnonceKey = fuzzyBrand;\n      console.log(`🔍 Fuzzy matched brand: ${fuzzyBrand} from \"${adTextBase.slice(0, 50)}...\"`);\n    }\n  }\n\n  // Model hint depuis href\n  let modelHint = extractModelFromHref(hrefModel);\n  const modelNorm = normalize(modelHint);\n  const isModelAutre = modelNorm === \"autre\" || modelNorm.includes(\" autre\");\n\n  if (!modelHint || isModelAutre) {\n    // ✨ EXTRACTION MODÈLE DEPUIS DESCRIPTION\n    const extractedModel = extractModelFromDescription(desc, brandAnnonceKey);\n    if (extractedModel) {\n      modelHint = extractedModel;\n      console.log(`🔍 Extracted model from description: ${extractedModel}`);\n    }\n  }\n\n  const adTextUsed = modelHint ? `${adTextBase} ${modelHint}`.trim() : adTextBase;\n\n  const annonceYear = pickAnnonceYear(a, adTextUsed);\n  const annonceCC = getAnnonceCC(a, adTextUsed, annonceYear);\n\n  // Vérifier si marque trouvée\n  if (!brandAnnonceKey || !brandIndex.has(brandAnnonceKey)) {\n    results.push({\n      json: {\n        ...a,\n        annonce_title: title,\n        annonce_url: url,\n        annonce_year_resolved: annonceYear || \"\",\n        annonce_cc_resolved: annonceCC || \"\",\n\n        matched_ok: false,\n        matched_marque: \"\",\n        matched_modele: modelHint || \"\",\n        matched_score: 0,\n        matched_confidence: \"NONE\",\n        matching_engine: \"3RD_MATCH_NO_BRAND\",\n        needs_review: true,\n        reason_no_match: \"brand_not_found_even_with_fuzzy\"\n      }\n    });\n    continue;\n  }\n\n  const adTok = tokenize(adTextUsed);\n  const adSet = new Set(adTok);\n  const adNumbers = extractNumbers(adTextUsed);\n\n  const baseCandidates = brandIndex.get(brandAnnonceKey) || [];\n\n  // Passes : avec/sans année\n  const passes = [{ useYear: true }, { useYear: false }];\n\n  let bestPrepared = null;\n  let bestScore = 0;\n  let bestDetails = null;\n  let usedYearFilter = false;\n\n  for (const pass of passes) {\n    let foundInPass = false;\n\n    for (const p of baseCandidates) {\n      // Filtre année (optionnel en pass 1)\n      if (pass.useYear && annonceYear) {\n        if (annonceYear < p.ys || annonceYear > p.ye) continue;\n      }\n\n      // Gate CC relaxé (150cc)\n      if (annonceCC && p.cc) {\n        const diff = Math.abs(p.cc - annonceCC);\n        if (diff > CC_BLOCK_DIFF) continue;\n      }\n\n      // ✨ SCORING COMPOSITE\n      const { score, bestCov, jac, ccProximity, yearProximity } =\n        computeCompositeScore(adTok, adSet, p, annonceCC, annonceYear);\n\n      // Gate alpha coverage minimum\n      if (bestCov < MIN_COV_ALPHA) continue;\n\n      let finalScore = score;\n\n      // Pénalité CC si diff > 50cc\n      if (annonceCC && p.cc) {\n        const diff = Math.abs(p.cc - annonceCC);\n        if (diff > 50) {\n          finalScore = Math.max(0, finalScore - CC_PENALTY);\n        }\n      }\n\n      if (finalScore > bestScore) {\n        bestScore = finalScore;\n        bestPrepared = p;\n        bestDetails = { bestCov, jac, ccProximity, yearProximity };\n        usedYearFilter = pass.useYear && !!annonceYear;\n        foundInPass = true;\n      }\n    }\n\n    if (pass.useYear && foundInPass) break;\n  }\n\n  const accept = !!bestPrepared && bestScore >= MIN_ACCEPT;\n  const best = accept ? bestPrepared.raw : null;\n\n  // Déterminer la confiance\n  let confidence = \"NONE\";\n  if (accept) {\n    if (bestScore >= 0.70) confidence = \"HIGH\";\n    else if (bestScore >= 0.60) confidence = \"MEDIUM\";\n    else confidence = \"LOW\";\n  }\n\n  results.push({\n    json: {\n      ...a,\n      annonce_title: title,\n      annonce_url: url,\n      annonce_year_resolved: annonceYear || \"\",\n      used_year_filter: usedYearFilter,\n      annonce_cc_resolved: annonceCC || \"\",\n\n      matched_ok: accept,\n      matched_marque: accept ? (getMarqueField(best) || \"\") : \"\",\n      matched_modele: accept ? (getModeleField(best) || \"\") : (modelHint || \"\"),\n      matched_generations: accept ? (get(best, \"Spéc/Génération\", \"Spec/Generation\") || \"\") : \"\",\n      matched_coloris: accept ? (get(best, \"Coloris commercial\") || \"\") : \"\",\n      matched_annee_debut: accept ? (getYearStartField(best) || \"\") : \"\",\n      matched_annee_fin: accept ? (getYearEndField(best) || \"\") : \"\",\n      matched_cylindree: accept ? (get(best, \"Cylindrée (cc)\") || \"\") : \"\",\n\n      matched_score: accept ? Number(bestScore.toFixed(3)) : 0,\n      matched_confidence: confidence,\n      matched_quality: accept ? \"auto_match_3rd\" : \"no_match\",\n      matching_engine: \"3RD_MATCH_PERMISSIVE_V1\",\n      needs_review: !accept || confidence === \"LOW\",\n      reason_no_match: accept ? \"\" : \"below_threshold_or_filtered\",\n\n      // Détails pour debug\n      _match_debug: {\n        brandKey: brandAnnonceKey,\n        modelHint,\n        adTokensCount: adTok.length,\n        coverageAlpha: accept ? Number(bestDetails.bestCov.toFixed(3)) : 0,\n        jaccard: accept ? Number(bestDetails.jac.toFixed(3)) : 0,\n        ccProximity: accept ? Number(bestDetails.ccProximity.toFixed(2)) : 0,\n        yearProximity: accept ? Number(bestDetails.yearProximity.toFixed(2)) : 0,\n        minCovAlpha: MIN_COV_ALPHA,\n        minAccept: MIN_ACCEPT,\n        ccBlockDiff: CC_BLOCK_DIFF\n      }\n    }\n  });\n}\n\n// =====================================================\n// STATS\n// =====================================================\n\nconst stats = {\n  total: results.length,\n  matched: results.filter(r => r.json.matched_ok).length,\n  confidence_high: results.filter(r => r.json.matched_confidence === \"HIGH\").length,\n  confidence_medium: results.filter(r => r.json.matched_confidence === \"MEDIUM\").length,\n  confidence_low: results.filter(r => r.json.matched_confidence === \"LOW\").length,\n  needs_review: results.filter(r => r.json.needs_review).length\n};\n\nconsole.log(\"🥉 3RD MATCH (PERMISSIF) - STATS:\");\nconsole.log(`   Total items: ${stats.total}`);\nconsole.log(`   Matched: ${stats.matched} (${Math.round(stats.matched / stats.total * 100)}%)`);\nconsole.log(`   Confidence:`);\nconsole.log(`     - HIGH: ${stats.confidence_high}`);\nconsole.log(`     - MEDIUM: ${stats.confidence_medium}`);\nconsole.log(`     - LOW: ${stats.confidence_low}`);\nconsole.log(`   Review manuelle: ${stats.needs_review}`);\n\nreturn results;\n"
      },
      "id": "4f810eb0-ed48-4ffc-a186-6067f327f715",
      "name": "⭐ 3rd Match (MEDIUM - Permissif)",
      "type": "n8n-nodes-base.code",
      "position": [
        800,
        1280
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// 4TH MATCH - TRÈS PERMISSIF (données POOR)\n// =====================================================\n// Objectif : Matcher les annonces avec données pauvres (score 20-40%)\n//\n// Stratégie :\n// - Seuils très permissifs (MIN_ACCEPT = 0.40)\n// - Fuzzy matching agressif (Levenshtein ≤ 2)\n// - N-gram similarity pour variantes de modèles\n// - Inférences multiples (brand, model, CC, year)\n// - Scoring composite avancé avec fuzzy bonus\n// - Relaxation maximale des gates\n//\n// Entrée attendue : Annonces tier \"POOR\" (data_quality_score 20-40%)\n// Sortie : Annonces matchées avec confiance LOW/MEDIUM\n// =====================================================\n\nconst allItems = $input.all().map(i => i.json);\n\n// =====================================================\n// HELPERS GÉNÉRIQUES\n// =====================================================\n\nfunction get(obj, ...keys) {\n  for (const k of keys) {\n    const v = obj?.[k];\n    if (v !== undefined && v !== null && String(v).trim() !== \"\") return v;\n  }\n  return \"\";\n}\n\nfunction pick(obj, keys) {\n  for (const k of keys) {\n    const v = obj?.[k];\n    if (v !== undefined && v !== null && String(v).trim() !== \"\") return v;\n  }\n  return \"\";\n}\n\n// =====================================================\n// NORMALISATION & TOKENIZATION\n// =====================================================\n\nconst STOP_WORDS = new Set([\n  \"moto\", \"motos\", \"scooter\", \"roadster\", \"trail\", \"enduro\", \"cross\",\n  \"vend\", \"vente\", \"vends\", \"urgent\", \"etat\", \"tres\", \"super\", \"parfait\",\n  \"paiement\", \"securise\", \"option\", \"full\", \"abs\", \"a2\", \"ct\", \"ok\",\n  \"km\", \"kms\", \"boite\", \"vitesse\", \"prix\", \"euro\", \"eur\", \"garantie\"\n]);\n\nfunction normalize(text) {\n  if (!text) return \"\";\n  let s = String(text)\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toLowerCase();\n\n  s = s.replace(/_/g, \" \");\n  s = s.replace(/[/|]/g, \" \");\n  s = s.replace(/[^a-z0-9]+/g, \" \");\n  s = s.replace(/\\s+/g, \" \").trim();\n\n  // Normalisation modèles\n  s = s.replace(/\\b(mt)\\s*0?(\\d{2})\\b/g, \"$1$2\");\n  s = s.replace(/\\b(fz)\\s*(\\d)\\b/g, \"$1$2\");\n  s = s.replace(/\\b(r)\\s*(\\d{3,4})\\b/g, \"$1$2\");\n  s = s.replace(/\\b(gs)\\s*(\\d{3,4})\\b/g, \"$1$2\");\n  s = s.replace(/\\b(v\\s*strom)\\b/g, \"vstrom\");\n  s = s.replace(/\\b(dr)\\s*z\\b/g, \"drz\");\n\n  return s;\n}\n\nfunction brandKey(brand) {\n  return normalize(brand).replace(/\\s+/g, \"\");\n}\n\nfunction tokenize(text) {\n  const n = normalize(text);\n  if (!n) return [];\n\n  const tokens = n.split(\" \").filter(t => {\n    if (!t) return false;\n    if (STOP_WORDS.has(t)) return false;\n    if (/^\\d+$/.test(t)) return true;\n    return t.length >= 2;\n  });\n\n  return tokens;\n}\n\nfunction tokensAlphaOnly(tokens) {\n  return tokens.filter(t => /[a-z]/.test(t) && t.length >= 2);\n}\n\n// =====================================================\n// ✨ NOUVEAUTÉ : LEVENSHTEIN DISTANCE\n// =====================================================\n\n/**\n * Calcule la distance de Levenshtein entre deux chaînes\n */\nfunction levenshtein(a, b) {\n  if (!a || !b) return 999;\n\n  const matrix = [];\n  for (let i = 0; i <= b.length; i++) {\n    matrix[i] = [i];\n  }\n  for (let j = 0; j <= a.length; j++) {\n    matrix[0][j] = j;\n  }\n\n  for (let i = 1; i <= b.length; i++) {\n    for (let j = 1; j <= a.length; j++) {\n      if (b.charAt(i - 1) === a.charAt(j - 1)) {\n        matrix[i][j] = matrix[i - 1][j - 1];\n      } else {\n        matrix[i][j] = Math.min(\n          matrix[i - 1][j - 1] + 1, // substitution\n          matrix[i][j - 1] + 1,     // insertion\n          matrix[i - 1][j] + 1      // deletion\n        );\n      }\n    }\n  }\n\n  return matrix[b.length][a.length];\n}\n\n/**\n * Fuzzy matching sur les tokens avec Levenshtein\n */\nfunction fuzzyTokenMatch(adTokens, modelTokens, maxDist = 2) {\n  let matches = 0;\n  const used = new Set();\n\n  for (const adTok of adTokens) {\n    if (adTok.length < 2) continue;\n\n    for (let i = 0; i < modelTokens.length; i++) {\n      if (used.has(i)) continue;\n\n      const modelTok = modelTokens[i];\n      if (modelTok.length < 2) continue;\n\n      const dist = levenshtein(adTok, modelTok);\n      if (dist <= maxDist) {\n        matches++;\n        used.add(i);\n        break;\n      }\n    }\n  }\n\n  return modelTokens.length > 0 ? matches / modelTokens.length : 0;\n}\n\n// =====================================================\n// ✨ NOUVEAUTÉ : N-GRAM SIMILARITY\n// =====================================================\n\n/**\n * Crée des n-grams d'une chaîne\n */\nfunction ngrams(text, n = 3) {\n  const normalized = normalize(text);\n  if (!normalized || normalized.length < n) return [];\n\n  const grams = [];\n  for (let i = 0; i <= normalized.length - n; i++) {\n    grams.push(normalized.substring(i, i + n));\n  }\n  return grams;\n}\n\n/**\n * Similarité basée sur les n-grams (Jaccard)\n */\nfunction ngramSimilarity(text1, text2, n = 3) {\n  const grams1 = new Set(ngrams(text1, n));\n  const grams2 = new Set(ngrams(text2, n));\n\n  if (grams1.size === 0 || grams2.size === 0) return 0;\n\n  let intersection = 0;\n  for (const g of grams1) {\n    if (grams2.has(g)) intersection++;\n  }\n\n  const union = grams1.size + grams2.size - intersection;\n  return union > 0 ? intersection / union : 0;\n}\n\n// =====================================================\n// EXTRACTION DONNÉES\n// =====================================================\n\nconst getAnnonceTitle = (a) =>\n  get(a, \"text-body-1 (8)\", \"text-headline-1-expanded\", \"annonce_title\", \"relative\");\n\nconst getAnnonceDesc = (a) =>\n  get(a, \"annonce_description\", \"text-body-1 (16)\", \"text-body-1 (14)\", \"Description_complete\");\n\nconst getAnnonceUrl = (a) =>\n  get(a, \"absolute href\", \"Url_Https\", \"annonce_url\", \"relative\");\n\nconst getAnnonceBrand = (a) =>\n  get(a, \"text-body-1 (2)\", \"annonce_brand_input\", \"Marque_scrap\");\n\nconst getAnnonceYearRaw1 = (a) => get(a, \"text-body-1 (4)\", \"Annee_du_modele\");\nconst getAnnonceYearRaw2 = (a) => get(a, \"text-body-1 (9)\", \"Mise_en_circulation\");\n\nconst getAnnonceCCHref = (a) => get(a, \"text-body-1 href (5)\");\nconst getAnnonceModelHref = (a) => get(a, \"text-body-1 href (3)\");\nconst getAnnonceBrandHref = (a) => get(a, \"text-body-1 href (2)\", \"text-body-1 href\");\n\n// Modèles\nconst getModeleField = (m) => pick(m, [\"Modèle\", \"Modele\", \"modele\", \"Model\"]) || \"\";\nconst getMarqueField = (m) => pick(m, [\"Marque\", \"marque\", \"MARQUE\", \"Brand\"]) || \"\";\nconst getYearStartField = (m) => pick(m, [\"Année début\", \"Annee debut\", \"Year start\"]) || \"\";\nconst getYearEndField = (m) => pick(m, [\"Année fin\", \"Annee fin\", \"Year end\"]) || \"\";\n\n// =====================================================\n// PARSING & EXTRACTION\n// =====================================================\n\nfunction parseYearMonth(s) {\n  const str = String(s || \"\").trim();\n  if (!str) return { year: 0, month: 0 };\n\n  const mmyyyy = str.match(/\\b(0?[1-9]|1[0-2])\\s*\\/\\s*((19|20)\\d{2})\\b/);\n  if (mmyyyy) return { month: parseInt(mmyyyy[1], 10), year: parseInt(mmyyyy[2], 10) };\n\n  const yyyy = str.match(/\\b(19|20)\\d{2}\\b/);\n  if (yyyy) return { month: 0, year: parseInt(yyyy[0], 10) };\n\n  return { year: 0, month: 0 };\n}\n\nfunction pickAnnonceYear(a, adText) {\n  const d1 = parseYearMonth(getAnnonceYearRaw1(a));\n  if (d1.year) return d1.year;\n\n  const d2 = parseYearMonth(getAnnonceYearRaw2(a));\n  if (d2.year) return d2.year;\n\n  const m = String(adText || \"\").match(/\\b(19|20)\\d{2}\\b/);\n  if (m) return parseInt(m[0], 10);\n\n  return 0;\n}\n\nfunction ccFromHref(href) {\n  const s = String(href || \"\");\n  const m = s.match(/cubic_capacity:(\\d{2,4})/i);\n  return m ? parseInt(m[1], 10) : 0;\n}\n\nfunction extractCCFromText(text) {\n  const raw = String(text || \"\");\n  if (!raw.trim()) return 0;\n\n  const noKm = raw.replace(/\\b(\\d{1,6})\\s*km\\b/gi, \" \");\n  const s = normalize(noKm);\n\n  let m = s.match(/\\b(\\d{2,4})\\s*(cc|cm3|ccm)\\b/);\n  if (m) return parseInt(m[1], 10);\n\n  m = s.match(/\\b(\\d{2,4})(cc|cm3|ccm)\\b/);\n  if (m) return parseInt(m[1], 10);\n\n  return 0;\n}\n\nfunction extractNumbers(text) {\n  const raw = String(text || \"\")\n    .replace(/\\b(\\d{1,6})\\s*km\\b/gi, \" \")\n    .replace(/\\b(0?[1-9]|1[0-2])\\s*\\/\\s*((19|20)\\d{2})\\b/g, \" \");\n  const s = normalize(raw);\n  return (s.match(/\\b\\d{3,4}\\b/g) || []).map(n => parseInt(n, 10));\n}\n\nfunction inferCCFromNumbers(adText, annonceYear) {\n  const nums = extractNumbers(adText);\n  const candidates = nums.filter(n =>\n    n >= 50 && n <= 2500 && (!annonceYear || n !== annonceYear)\n  );\n  if (!candidates.length) return 0;\n  return Math.max(...candidates);\n}\n\nfunction getAnnonceCC(a, adText, annonceYear) {\n  const ccH = ccFromHref(getAnnonceCCHref(a));\n  if (ccH) return ccH;\n\n  const ccTxt = get(a, \"text-body-1 (7)\", \"vehicule_cc_txt\", \"CC\", \"cc\");\n  const ccField = extractCCFromText(ccTxt);\n  if (ccField) return ccField;\n\n  const ccT = extractCCFromText(adText);\n  if (ccT) return ccT;\n\n  const ccN = inferCCFromNumbers(adText, annonceYear || 0);\n  if (ccN) return ccN;\n\n  return 0;\n}\n\n// =====================================================\n// EXTRACTION BRAND/MODEL\n// =====================================================\n\nfunction decodePlus(s) {\n  return String(s || \"\").replace(/\\+/g, \" \");\n}\n\nfunction extractBrandFromHref(href) {\n  const h = String(href || \"\");\n  if (!h) return \"\";\n  const m = h.match(/u_moto_brand:([^+&]+)/i);\n  if (!m) return \"\";\n  try {\n    return decodeURIComponent(decodePlus(m[1]));\n  } catch (e) {\n    return decodePlus(m[1]);\n  }\n}\n\nfunction extractModelFromHref(href) {\n  const h = String(href || \"\");\n  if (!h) return \"\";\n  const m = h.match(/u_moto_model:([^+&]+)/i);\n  if (!m) return \"\";\n  try {\n    return decodeURIComponent(decodePlus(m[1]));\n  } catch (e) {\n    return decodePlus(m[1]);\n  }\n}\n\n// ✨ Extraction modèle depuis description (aggressive)\nfunction extractModelFromDescription(desc, brandNorm) {\n  if (!desc) return \"\";\n\n  const descNorm = normalize(desc);\n  if (!descNorm) return \"\";\n\n  // Pattern 1 : Marque + Modèle\n  if (brandNorm) {\n    const regex = new RegExp(`\\\\b${brandNorm}\\\\s+([a-z0-9]+(?:\\\\s+[a-z0-9]+){0,3})\\\\b`, \"i\");\n    const m = descNorm.match(regex);\n    if (m && m[1]) {\n      const extracted = m[1].trim();\n      if (extracted.length >= 2 && !STOP_WORDS.has(extracted)) {\n        return extracted;\n      }\n    }\n  }\n\n  // Pattern 2 : Modèles avec chiffres\n  const modelPatterns = [\n    /\\b([a-z]{1,4}\\d{2,4}[a-z]*)\\b/,\n    /\\b(duke|monster|street|tiger|ninja|versys|tracer|diavel|hypermotard)\\s*(\\d{2,4})?/i,\n    /\\b(speed\\s+triple|street\\s+triple|street\\s+twin|thruxton|scrambler)\\b/i\n  ];\n\n  for (const pattern of modelPatterns) {\n    const m = descNorm.match(pattern);\n    if (m && m[0]) {\n      return m[0].trim();\n    }\n  }\n\n  return \"\";\n}\n\n// ✨ Fuzzy brand matching (max distance 2)\nfunction fuzzyMatchBrand(adText, knownBrandKeys, maxDistance = 2) {\n  const adNorm = normalize(adText);\n  const adTokens = tokenize(adText);\n\n  for (const token of adTokens) {\n    if (token.length < 3) continue;\n\n    for (const brandKey of knownBrandKeys) {\n      const dist = levenshtein(token, brandKey);\n      if (dist <= maxDistance) {\n        return brandKey;\n      }\n    }\n  }\n\n  return null;\n}\n\n// =====================================================\n// SIMILARITÉ\n// =====================================================\n\nfunction jaccard(aTokens, bTokens) {\n  if (!aTokens.length || !bTokens.length) return 0;\n  const A = new Set(aTokens);\n  const B = new Set(bTokens);\n  let inter = 0;\n  for (const x of A) if (B.has(x)) inter++;\n  const union = A.size + B.size - inter;\n  return union ? inter / union : 0;\n}\n\nfunction coverageSet(adSet, modelTokens) {\n  if (!modelTokens.length) return 0;\n  let hit = 0;\n  for (const t of modelTokens) if (adSet.has(t)) hit++;\n  return hit / modelTokens.length;\n}\n\n// =====================================================\n// VARIANTS\n// =====================================================\n\nfunction modelVariants(modelRaw) {\n  const cleaned = String(modelRaw || \"\").replace(/[|]/g, \"/\");\n  const parts = cleaned.split(\"/\").map(p => p.trim()).filter(Boolean);\n  return Array.from(new Set(parts.map(p => normalize(p)).filter(Boolean)));\n}\n\n// =====================================================\n// SÉPARATION MODÈLES / ANNONCES\n// =====================================================\n\nconst modeles = [];\nconst annonces = [];\n\nfor (const item of allItems) {\n  const isModele =\n    !!getMarqueField(item) &&\n    !!getModeleField(item) &&\n    get(item, \"Cylindrée (cc)\", \"Type (M/S/E)\", \"Type(M/S/E)\") !== \"\";\n\n  const isAnnonce =\n    get(item, \"text-body-1 (8)\", \"text-headline-1-expanded\", \"relative\",\n        \"absolute href\", \"Url_Https\", \"annonce_url\") !== \"\";\n\n  if (isModele) modeles.push(item);\n  else if (isAnnonce) annonces.push(item);\n}\n\nif (!modeles.length) {\n  return annonces.map(a => ({\n    json: {\n      ...a,\n      matching_engine: \"4TH_MATCH_NO_MODELS\",\n      matched_score: 0,\n      matched_confidence: \"NONE\",\n      needs_review: true\n    }\n  }));\n}\n\n// =====================================================\n// INDEX MARQUES\n// =====================================================\n\nconst brandIndex = new Map();\n\nfor (const m of modeles) {\n  const brandRaw = getMarqueField(m);\n  const modelRaw = getModeleField(m);\n\n  const bKey = brandKey(brandRaw);\n  if (!bKey) continue;\n\n  const variants = modelVariants(modelRaw);\n  if (!variants.length) continue;\n\n  const ys = parseInt(getYearStartField(m) || 0, 10) || 0;\n  let ye = getYearEndField(m);\n  ye = (ye === null || ye === undefined || ye === \"\") ? 9999 : (parseInt(ye, 10) || 9999);\n\n  const cc = Math.round(Number(get(m, \"Cylindrée (cc)\") || 0)) || 0;\n\n  const variantAlphaTokens = variants\n    .map(v => tokensAlphaOnly(tokenize(v)))\n    .filter(t => t.length);\n\n  if (!variantAlphaTokens.length) continue;\n\n  const modelNoSpace = normalize(modelRaw).replace(/\\s+/g, \"\");\n\n  const prepared = {\n    raw: m,\n    brandRaw,\n    bKey,\n    ys,\n    ye,\n    cc,\n    variants,\n    variantAlphaTokens,\n    combinedTok: tokenize(`${brandRaw} ${modelRaw}`),\n    modelNoSpace,\n    modelRaw\n  };\n\n  if (!brandIndex.has(bKey)) brandIndex.set(bKey, []);\n  brandIndex.get(bKey).push(prepared);\n}\n\nconst knownBrandKeys = Array.from(brandIndex.keys()).sort((a, b) => b.length - a.length);\n\n// =====================================================\n// PARAMÈTRES 4TH MATCH (TRÈS PERMISSIF)\n// =====================================================\n\nconst MIN_ACCEPT = 0.40;          // 40% score minimum (très permissif)\nconst CC_RELAXATION = 250;        // 250cc tolérance maximale\nconst FUZZY_BONUS = 0.15;         // Bonus si fuzzy match\nconst NGRAM_BONUS = 0.10;         // Bonus si n-gram match\n\n// =====================================================\n// ✨ SCORING COMPOSITE AVANCÉ AVEC FUZZY\n// =====================================================\n\nfunction computeAdvancedScore(adTok, adSet, p, adTextFull, annonceCC, annonceYear) {\n  const adAlpha = tokensAlphaOnly(adTok);\n\n  // 1. Coverage classique (30%)\n  let bestCov = 0;\n  for (const vat of p.variantAlphaTokens) {\n    const cov = coverageSet(adSet, vat);\n    if (cov > bestCov) bestCov = cov;\n  }\n\n  // 2. Jaccard classique (15%)\n  const jac = jaccard(adTok, p.combinedTok);\n\n  // 3. ✨ Fuzzy token matching (25%)\n  let bestFuzzy = 0;\n  for (const vat of p.variantAlphaTokens) {\n    const fuzzy = fuzzyTokenMatch(adAlpha, vat, 2);\n    if (fuzzy > bestFuzzy) bestFuzzy = fuzzy;\n  }\n\n  // 4. ✨ N-gram similarity (15%)\n  const ngramSim = ngramSimilarity(adTextFull, p.modelRaw, 3);\n\n  // 5. CC proximity (10%)\n  let ccProximity = 0;\n  if (annonceCC && p.cc) {\n    const diff = Math.abs(p.cc - annonceCC);\n    if (diff === 0) ccProximity = 1.0;\n    else if (diff <= 50) ccProximity = 0.8;\n    else if (diff <= 100) ccProximity = 0.6;\n    else if (diff <= 150) ccProximity = 0.4;\n    else if (diff <= 250) ccProximity = 0.2;\n  } else if (!annonceCC && !p.cc) {\n    ccProximity = 0.5;\n  }\n\n  // 6. Year proximity (5%)\n  let yearProximity = 0;\n  if (annonceYear && p.ys && p.ye) {\n    if (annonceYear >= p.ys && annonceYear <= p.ye) {\n      yearProximity = 1.0;\n    } else {\n      const distStart = Math.abs(annonceYear - p.ys);\n      const distEnd = Math.abs(annonceYear - p.ye);\n      const minDist = Math.min(distStart, distEnd);\n      if (minDist <= 3) yearProximity = 0.6;\n      else if (minDist <= 7) yearProximity = 0.3;\n    }\n  } else if (!annonceYear) {\n    yearProximity = 0.5;\n  }\n\n  // Score composite\n  const baseScore = (\n    bestCov * 0.30 +\n    jac * 0.15 +\n    bestFuzzy * 0.25 +\n    ngramSim * 0.15 +\n    ccProximity * 0.10 +\n    yearProximity * 0.05\n  );\n\n  // Bonus\n  let bonus = 0;\n  if (bestFuzzy >= 0.5) bonus += FUZZY_BONUS;\n  if (ngramSim >= 0.4) bonus += NGRAM_BONUS;\n\n  const finalScore = Math.min(1.0, baseScore + bonus);\n\n  return {\n    score: finalScore,\n    bestCov,\n    jac,\n    bestFuzzy,\n    ngramSim,\n    ccProximity,\n    yearProximity,\n    bonusApplied: bonus\n  };\n}\n\n// =====================================================\n// MATCHING\n// =====================================================\n\nconst results = [];\n\nfor (const a of annonces) {\n  const title = getAnnonceTitle(a);\n  const desc = getAnnonceDesc(a);\n  const url = getAnnonceUrl(a);\n\n  const hrefModel = getAnnonceModelHref(a) || \"\";\n  const hrefCC = getAnnonceCCHref(a) || \"\";\n  const hrefBrand = getAnnonceBrandHref(a) || \"\";\n\n  const brandFromHrefRaw = extractBrandFromHref(hrefBrand);\n  const brandFromFieldRaw = getAnnonceBrand(a);\n\n  const brandFromHrefKey = brandKey(brandFromHrefRaw);\n  const brandFromFieldKey = brandKey(brandFromFieldRaw);\n\n  const adTextBase = `${title} ${desc}`.trim();\n  const adNormBase = normalize(adTextBase);\n\n  // Brand : href → field → fuzzy\n  let brandAnnonceKey = brandFromHrefKey || brandFromFieldKey;\n\n  if (!brandAnnonceKey) {\n    const fuzzyBrand = fuzzyMatchBrand(adTextBase, knownBrandKeys, 2);\n    if (fuzzyBrand) {\n      brandAnnonceKey = fuzzyBrand;\n      console.log(`🔍 4th Match - Fuzzy brand: ${fuzzyBrand}`);\n    }\n  }\n\n  // Model hint\n  let modelHint = extractModelFromHref(hrefModel);\n  const modelNorm = normalize(modelHint);\n  const isModelAutre = modelNorm === \"autre\" || modelNorm.includes(\" autre\");\n\n  if (!modelHint || isModelAutre) {\n    const extractedModel = extractModelFromDescription(desc, brandAnnonceKey);\n    if (extractedModel) {\n      modelHint = extractedModel;\n      console.log(`🔍 4th Match - Extracted model: ${extractedModel}`);\n    }\n  }\n\n  const adTextUsed = modelHint ? `${adTextBase} ${modelHint}`.trim() : adTextBase;\n\n  const annonceYear = pickAnnonceYear(a, adTextUsed);\n  const annonceCC = getAnnonceCC(a, adTextUsed, annonceYear);\n\n  if (!brandAnnonceKey || !brandIndex.has(brandAnnonceKey)) {\n    results.push({\n      json: {\n        ...a,\n        annonce_title: title,\n        annonce_url: url,\n        annonce_year_resolved: annonceYear || \"\",\n        annonce_cc_resolved: annonceCC || \"\",\n\n        matched_ok: false,\n        matched_marque: \"\",\n        matched_modele: modelHint || \"\",\n        matched_score: 0,\n        matched_confidence: \"NONE\",\n        matching_engine: \"4TH_MATCH_NO_BRAND\",\n        needs_review: true,\n        reason_no_match: \"brand_not_found\"\n      }\n    });\n    continue;\n  }\n\n  const adTok = tokenize(adTextUsed);\n  const adSet = new Set(adTok);\n\n  const baseCandidates = brandIndex.get(brandAnnonceKey) || [];\n\n  // Passes : pas de filtre année strict pour 4th Match\n  const passes = [{ useYear: false }];\n\n  let bestPrepared = null;\n  let bestScore = 0;\n  let bestDetails = null;\n\n  for (const pass of passes) {\n    for (const p of baseCandidates) {\n      // Gate CC ultra-relaxé (250cc)\n      if (annonceCC && p.cc) {\n        const diff = Math.abs(p.cc - annonceCC);\n        if (diff > CC_RELAXATION) continue;\n      }\n\n      // ✨ SCORING AVANCÉ\n      const details = computeAdvancedScore(\n        adTok, adSet, p, adTextUsed, annonceCC, annonceYear\n      );\n\n      if (details.score > bestScore) {\n        bestScore = details.score;\n        bestPrepared = p;\n        bestDetails = details;\n      }\n    }\n  }\n\n  const accept = !!bestPrepared && bestScore >= MIN_ACCEPT;\n  const best = accept ? bestPrepared.raw : null;\n\n  // Confiance\n  let confidence = \"NONE\";\n  if (accept) {\n    if (bestScore >= 0.60) confidence = \"MEDIUM\";\n    else confidence = \"LOW\";\n  }\n\n  results.push({\n    json: {\n      ...a,\n      annonce_title: title,\n      annonce_url: url,\n      annonce_year_resolved: annonceYear || \"\",\n      annonce_cc_resolved: annonceCC || \"\",\n\n      matched_ok: accept,\n      matched_marque: accept ? (getMarqueField(best) || \"\") : \"\",\n      matched_modele: accept ? (getModeleField(best) || \"\") : (modelHint || \"\"),\n      matched_generations: accept ? (get(best, \"Spéc/Génération\", \"Spec/Generation\") || \"\") : \"\",\n      matched_coloris: accept ? (get(best, \"Coloris commercial\") || \"\") : \"\",\n      matched_annee_debut: accept ? (getYearStartField(best) || \"\") : \"\",\n      matched_annee_fin: accept ? (getYearEndField(best) || \"\") : \"\",\n      matched_cylindree: accept ? (get(best, \"Cylindrée (cc)\") || \"\") : \"\",\n\n      matched_score: accept ? Number(bestScore.toFixed(3)) : 0,\n      matched_confidence: confidence,\n      matched_quality: accept ? \"auto_match_4th\" : \"no_match\",\n      matching_engine: \"4TH_MATCH_FUZZY_AGGRESSIVE_V1\",\n      needs_review: !accept || confidence === \"LOW\",\n      reason_no_match: accept ? \"\" : \"below_threshold\",\n\n      _match_debug: {\n        brandKey: brandAnnonceKey,\n        modelHint,\n        adTokensCount: adTok.length,\n        coverage: accept ? Number(bestDetails.bestCov.toFixed(3)) : 0,\n        jaccard: accept ? Number(bestDetails.jac.toFixed(3)) : 0,\n        fuzzyMatch: accept ? Number(bestDetails.bestFuzzy.toFixed(3)) : 0,\n        ngramSim: accept ? Number(bestDetails.ngramSim.toFixed(3)) : 0,\n        ccProximity: accept ? Number(bestDetails.ccProximity.toFixed(2)) : 0,\n        yearProximity: accept ? Number(bestDetails.yearProximity.toFixed(2)) : 0,\n        bonusApplied: accept ? Number(bestDetails.bonusApplied.toFixed(2)) : 0,\n        minAccept: MIN_ACCEPT\n      }\n    }\n  });\n}\n\n// =====================================================\n// STATS\n// =====================================================\n\nconst stats = {\n  total: results.length,\n  matched: results.filter(r => r.json.matched_ok).length,\n  confidence_medium: results.filter(r => r.json.matched_confidence === \"MEDIUM\").length,\n  confidence_low: results.filter(r => r.json.matched_confidence === \"LOW\").length,\n  needs_review: results.filter(r => r.json.needs_review).length\n};\n\nconsole.log(\"🏅 4TH MATCH (FUZZY AGRESSIF) - STATS:\");\nconsole.log(`   Total items: ${stats.total}`);\nconsole.log(`   Matched: ${stats.matched} (${Math.round(stats.matched / stats.total * 100)}%)`);\nconsole.log(`   Confidence:`);\nconsole.log(`     - MEDIUM: ${stats.confidence_medium}`);\nconsole.log(`     - LOW: ${stats.confidence_low}`);\nconsole.log(`   Review manuelle: ${stats.needs_review}`);\n\nreturn results;\n"
      },
      "id": "2c2410c9-fc8e-42a9-b9aa-01981f376815",
      "name": "4th Match (POOR)",
      "type": "n8n-nodes-base.code",
      "position": [
        800,
        1424
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// 5TH MATCH - FALLBACK ULTIME (données MINIMAL)\n// =====================================================\n// Objectif : Dernière chance de matcher les annonces avec données minimales (score 0-20%)\n//\n// Stratégie :\n// - Seuils ultra-permissifs (MIN_ACCEPT = 0.25)\n// - Fuzzy ultra-agressif (Levenshtein ≤ 3)\n// - N-gram flexible (bi + tri-grammes)\n// - Matching par marque seule + catégorie\n// - AUCUN gate (toutes restrictions levées)\n// - Bonus massifs (+60% max)\n//\n// Entrée attendue : Annonces tier \"MINIMAL\" (data_quality_score 0-20%)\n// Sortie : Annonces matchées avec confiance LOW uniquement\n// =====================================================\n\nconst allItems = $input.all().map(i => i.json);\n\n// =====================================================\n// HELPERS GÉNÉRIQUES\n// =====================================================\n\nfunction get(obj, ...keys) {\n  for (const k of keys) {\n    const v = obj?.[k];\n    if (v !== undefined && v !== null && String(v).trim() !== \"\") return v;\n  }\n  return \"\";\n}\n\nfunction pick(obj, keys) {\n  for (const k of keys) {\n    const v = obj?.[k];\n    if (v !== undefined && v !== null && String(v).trim() !== \"\") return v;\n  }\n  return \"\";\n}\n\n// =====================================================\n// NORMALISATION & TOKENIZATION\n// =====================================================\n\nconst STOP_WORDS = new Set([\n  \"moto\", \"motos\", \"scooter\", \"roadster\", \"trail\", \"enduro\", \"cross\",\n  \"vend\", \"vente\", \"vends\", \"urgent\", \"etat\", \"tres\", \"super\", \"parfait\",\n  \"paiement\", \"securise\", \"option\", \"full\", \"abs\", \"a2\", \"ct\", \"ok\",\n  \"km\", \"kms\", \"boite\", \"vitesse\", \"prix\", \"euro\", \"eur\", \"garantie\"\n]);\n\nfunction normalize(text) {\n  if (!text) return \"\";\n  let s = String(text)\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toLowerCase();\n\n  s = s.replace(/_/g, \" \");\n  s = s.replace(/[/|]/g, \" \");\n  s = s.replace(/[^a-z0-9]+/g, \" \");\n  s = s.replace(/\\s+/g, \" \").trim();\n\n  // Normalisation modèles\n  s = s.replace(/\\b(mt)\\s*0?(\\d{2})\\b/g, \"$1$2\");\n  s = s.replace(/\\b(fz)\\s*(\\d)\\b/g, \"$1$2\");\n  s = s.replace(/\\b(r)\\s*(\\d{3,4})\\b/g, \"$1$2\");\n  s = s.replace(/\\b(gs)\\s*(\\d{3,4})\\b/g, \"$1$2\");\n  s = s.replace(/\\b(v\\s*strom)\\b/g, \"vstrom\");\n  s = s.replace(/\\b(dr)\\s*z\\b/g, \"drz\");\n\n  return s;\n}\n\nfunction brandKey(brand) {\n  return normalize(brand).replace(/\\s+/g, \"\");\n}\n\nfunction tokenize(text) {\n  const n = normalize(text);\n  if (!n) return [];\n\n  const tokens = n.split(\" \").filter(t => {\n    if (!t) return false;\n    if (STOP_WORDS.has(t)) return false;\n    if (/^\\d+$/.test(t)) return true;\n    return t.length >= 2;\n  });\n\n  return tokens;\n}\n\nfunction tokensAlphaOnly(tokens) {\n  return tokens.filter(t => /[a-z]/.test(t) && t.length >= 2);\n}\n\n// =====================================================\n// ✨ LEVENSHTEIN DISTANCE (Ultra-agressif : distance ≤ 3)\n// =====================================================\n\nfunction levenshtein(a, b) {\n  if (!a || !b) return 999;\n\n  const matrix = [];\n  for (let i = 0; i <= b.length; i++) {\n    matrix[i] = [i];\n  }\n  for (let j = 0; j <= a.length; j++) {\n    matrix[0][j] = j;\n  }\n\n  for (let i = 1; i <= b.length; i++) {\n    for (let j = 1; j <= a.length; j++) {\n      if (b.charAt(i - 1) === a.charAt(j - 1)) {\n        matrix[i][j] = matrix[i - 1][j - 1];\n      } else {\n        matrix[i][j] = Math.min(\n          matrix[i - 1][j - 1] + 1,\n          matrix[i][j - 1] + 1,\n          matrix[i - 1][j] + 1\n        );\n      }\n    }\n  }\n\n  return matrix[b.length][a.length];\n}\n\nfunction fuzzyTokenMatch(adTokens, modelTokens, maxDist = 3) {\n  let matches = 0;\n  const used = new Set();\n\n  for (const adTok of adTokens) {\n    if (adTok.length < 2) continue;\n\n    for (let i = 0; i < modelTokens.length; i++) {\n      if (used.has(i)) continue;\n\n      const modelTok = modelTokens[i];\n      if (modelTok.length < 2) continue;\n\n      const dist = levenshtein(adTok, modelTok);\n      if (dist <= maxDist) {\n        matches++;\n        used.add(i);\n        break;\n      }\n    }\n  }\n\n  return modelTokens.length > 0 ? matches / modelTokens.length : 0;\n}\n\n// =====================================================\n// ✨ N-GRAM FLEXIBLE (Bi + Tri-grammes)\n// =====================================================\n\nfunction ngrams(text, n = 3) {\n  const normalized = normalize(text);\n  if (!normalized || normalized.length < n) return [];\n\n  const grams = [];\n  for (let i = 0; i <= normalized.length - n; i++) {\n    grams.push(normalized.substring(i, i + n));\n  }\n  return grams;\n}\n\nfunction ngramSimilarity(text1, text2, n = 3) {\n  const grams1 = new Set(ngrams(text1, n));\n  const grams2 = new Set(ngrams(text2, n));\n\n  if (grams1.size === 0 || grams2.size === 0) return 0;\n\n  let intersection = 0;\n  for (const g of grams1) {\n    if (grams2.has(g)) intersection++;\n  }\n\n  const union = grams1.size + grams2.size - intersection;\n  return union > 0 ? intersection / union : 0;\n}\n\n/**\n * ✨ N-gram flexible : combine bi-grammes et tri-grammes\n */\nfunction flexibleNgramSimilarity(text1, text2) {\n  const bigram = ngramSimilarity(text1, text2, 2);\n  const trigram = ngramSimilarity(text1, text2, 3);\n\n  // Bi-grammes 40%, Tri-grammes 60%\n  return bigram * 0.40 + trigram * 0.60;\n}\n\n// =====================================================\n// ✨ DÉTECTION DE CATÉGORIE\n// =====================================================\n\nconst CATEGORIES = {\n  roadster: [\"roadster\", \"naked\", \"street\", \"streetfighter\"],\n  trail: [\"trail\", \"enduro\", \"adventure\", \"gs\", \"rallye\"],\n  sportive: [\"sportive\", \"sport\", \"racing\", \"replica\", \"supersport\"],\n  custom: [\"custom\", \"cruiser\", \"bobber\", \"chopper\"],\n  touring: [\"touring\", \"gt\", \"grand tourisme\"],\n  scooter: [\"scooter\", \"maxiscooter\"]\n};\n\nfunction detectCategory(text) {\n  const textNorm = normalize(text);\n\n  for (const [cat, keywords] of Object.entries(CATEGORIES)) {\n    for (const kw of keywords) {\n      if (textNorm.includes(kw)) {\n        return cat;\n      }\n    }\n  }\n\n  return null;\n}\n\nfunction categoryMatches(adCategory, modelCategory) {\n  if (!adCategory || !modelCategory) return false;\n  return adCategory === modelCategory;\n}\n\n// =====================================================\n// EXTRACTION DONNÉES\n// =====================================================\n\nconst getAnnonceTitle = (a) =>\n  get(a, \"text-body-1 (8)\", \"text-headline-1-expanded\", \"annonce_title\", \"relative\");\n\nconst getAnnonceDesc = (a) =>\n  get(a, \"annonce_description\", \"text-body-1 (16)\", \"text-body-1 (14)\", \"Description_complete\");\n\nconst getAnnonceUrl = (a) =>\n  get(a, \"absolute href\", \"Url_Https\", \"annonce_url\", \"relative\");\n\nconst getAnnonceBrand = (a) =>\n  get(a, \"text-body-1 (2)\", \"annonce_brand_input\", \"Marque_scrap\");\n\nconst getAnnonceYearRaw1 = (a) => get(a, \"text-body-1 (4)\", \"Annee_du_modele\");\nconst getAnnonceYearRaw2 = (a) => get(a, \"text-body-1 (9)\", \"Mise_en_circulation\");\n\nconst getAnnonceCCHref = (a) => get(a, \"text-body-1 href (5)\");\nconst getAnnonceModelHref = (a) => get(a, \"text-body-1 href (3)\");\nconst getAnnonceBrandHref = (a) => get(a, \"text-body-1 href (2)\", \"text-body-1 href\");\n\n// Modèles\nconst getModeleField = (m) => pick(m, [\"Modèle\", \"Modele\", \"modele\", \"Model\"]) || \"\";\nconst getMarqueField = (m) => pick(m, [\"Marque\", \"marque\", \"MARQUE\", \"Brand\"]) || \"\";\nconst getYearStartField = (m) => pick(m, [\"Année début\", \"Annee debut\", \"Year start\"]) || \"\";\nconst getYearEndField = (m) => pick(m, [\"Année fin\", \"Annee fin\", \"Year end\"]) || \"\";\nconst getCategoryField = (m) => pick(m, [\"Categorie\", \"Category\", \"Type\"]) || \"\";\n\n// =====================================================\n// PARSING & EXTRACTION\n// =====================================================\n\nfunction parseYearMonth(s) {\n  const str = String(s || \"\").trim();\n  if (!str) return { year: 0, month: 0 };\n\n  const mmyyyy = str.match(/\\b(0?[1-9]|1[0-2])\\s*\\/\\s*((19|20)\\d{2})\\b/);\n  if (mmyyyy) return { month: parseInt(mmyyyy[1], 10), year: parseInt(mmyyyy[2], 10) };\n\n  const yyyy = str.match(/\\b(19|20)\\d{2}\\b/);\n  if (yyyy) return { month: 0, year: parseInt(yyyy[0], 10) };\n\n  return { year: 0, month: 0 };\n}\n\nfunction pickAnnonceYear(a, adText) {\n  const d1 = parseYearMonth(getAnnonceYearRaw1(a));\n  if (d1.year) return d1.year;\n\n  const d2 = parseYearMonth(getAnnonceYearRaw2(a));\n  if (d2.year) return d2.year;\n\n  const m = String(adText || \"\").match(/\\b(19|20)\\d{2}\\b/);\n  if (m) return parseInt(m[0], 10);\n\n  return 0;\n}\n\nfunction ccFromHref(href) {\n  const s = String(href || \"\");\n  const m = s.match(/cubic_capacity:(\\d{2,4})/i);\n  return m ? parseInt(m[1], 10) : 0;\n}\n\nfunction extractCCFromText(text) {\n  const raw = String(text || \"\");\n  if (!raw.trim()) return 0;\n\n  const noKm = raw.replace(/\\b(\\d{1,6})\\s*km\\b/gi, \" \");\n  const s = normalize(noKm);\n\n  let m = s.match(/\\b(\\d{2,4})\\s*(cc|cm3|ccm)\\b/);\n  if (m) return parseInt(m[1], 10);\n\n  m = s.match(/\\b(\\d{2,4})(cc|cm3|ccm)\\b/);\n  if (m) return parseInt(m[1], 10);\n\n  return 0;\n}\n\nfunction extractNumbers(text) {\n  const raw = String(text || \"\")\n    .replace(/\\b(\\d{1,6})\\s*km\\b/gi, \" \")\n    .replace(/\\b(0?[1-9]|1[0-2])\\s*\\/\\s*((19|20)\\d{2})\\b/g, \" \");\n  const s = normalize(raw);\n  return (s.match(/\\b\\d{3,4}\\b/g) || []).map(n => parseInt(n, 10));\n}\n\nfunction inferCCFromNumbers(adText, annonceYear) {\n  const nums = extractNumbers(adText);\n  const candidates = nums.filter(n =>\n    n >= 50 && n <= 2500 && (!annonceYear || n !== annonceYear)\n  );\n  if (!candidates.length) return 0;\n  return Math.max(...candidates);\n}\n\nfunction getAnnonceCC(a, adText, annonceYear) {\n  const ccH = ccFromHref(getAnnonceCCHref(a));\n  if (ccH) return ccH;\n\n  const ccTxt = get(a, \"text-body-1 (7)\", \"vehicule_cc_txt\", \"CC\", \"cc\");\n  const ccField = extractCCFromText(ccTxt);\n  if (ccField) return ccField;\n\n  const ccT = extractCCFromText(adText);\n  if (ccT) return ccT;\n\n  const ccN = inferCCFromNumbers(adText, annonceYear || 0);\n  if (ccN) return ccN;\n\n  return 0;\n}\n\n// =====================================================\n// EXTRACTION BRAND/MODEL\n// =====================================================\n\nfunction decodePlus(s) {\n  return String(s || \"\").replace(/\\+/g, \" \");\n}\n\nfunction extractBrandFromHref(href) {\n  const h = String(href || \"\");\n  if (!h) return \"\";\n  const m = h.match(/u_moto_brand:([^+&]+)/i);\n  if (!m) return \"\";\n  try {\n    return decodeURIComponent(decodePlus(m[1]));\n  } catch (e) {\n    return decodePlus(m[1]);\n  }\n}\n\nfunction extractModelFromHref(href) {\n  const h = String(href || \"\");\n  if (!h) return \"\";\n  const m = h.match(/u_moto_model:([^+&]+)/i);\n  if (!m) return \"\";\n  try {\n    return decodeURIComponent(decodePlus(m[1]));\n  } catch (e) {\n    return decodePlus(m[1]);\n  }\n}\n\n/**\n * ✨ Extraction modèle ultra-agressive\n */\nfunction extractModelFromDescription(desc, brandNorm) {\n  if (!desc) return \"\";\n\n  const descNorm = normalize(desc);\n  if (!descNorm) return \"\";\n\n  // Pattern 1 : Marque + Modèle (jusqu'à 4 mots)\n  if (brandNorm) {\n    const regex = new RegExp(`\\\\b${brandNorm}\\\\s+([a-z0-9]+(?:\\\\s+[a-z0-9]+){0,4})\\\\b`, \"i\");\n    const m = descNorm.match(regex);\n    if (m && m[1]) {\n      const extracted = m[1].trim();\n      if (extracted.length >= 2 && !STOP_WORDS.has(extracted)) {\n        return extracted;\n      }\n    }\n  }\n\n  // Pattern 2 : Modèles avec chiffres (très permissif)\n  const modelPatterns = [\n    /\\b([a-z]{1,5}\\d{2,4}[a-z]*)\\b/,\n    /\\b(duke|monster|street|tiger|ninja|versys|tracer|diavel|hypermotard|scrambler)\\s*(\\d{2,4})?/i,\n    /\\b(speed\\s+triple|street\\s+triple|street\\s+twin|thruxton|bonneville)\\b/i\n  ];\n\n  for (const pattern of modelPatterns) {\n    const m = descNorm.match(pattern);\n    if (m && m[0]) {\n      return m[0].trim();\n    }\n  }\n\n  return \"\";\n}\n\n/**\n * ✨ Fuzzy brand matching ultra-agressif (distance ≤ 3)\n */\nfunction fuzzyMatchBrand(adText, knownBrandKeys, maxDistance = 3) {\n  const adNorm = normalize(adText);\n  const adTokens = tokenize(adText);\n\n  for (const token of adTokens) {\n    if (token.length < 3) continue;\n\n    for (const brandKey of knownBrandKeys) {\n      const dist = levenshtein(token, brandKey);\n      if (dist <= maxDistance) {\n        return brandKey;\n      }\n    }\n  }\n\n  return null;\n}\n\n// =====================================================\n// SIMILARITÉ\n// =====================================================\n\nfunction jaccard(aTokens, bTokens) {\n  if (!aTokens.length || !bTokens.length) return 0;\n  const A = new Set(aTokens);\n  const B = new Set(bTokens);\n  let inter = 0;\n  for (const x of A) if (B.has(x)) inter++;\n  const union = A.size + B.size - inter;\n  return union ? inter / union : 0;\n}\n\nfunction coverageSet(adSet, modelTokens) {\n  if (!modelTokens.length) return 0;\n  let hit = 0;\n  for (const t of modelTokens) if (adSet.has(t)) hit++;\n  return hit / modelTokens.length;\n}\n\n// =====================================================\n// VARIANTS\n// =====================================================\n\nfunction modelVariants(modelRaw) {\n  const cleaned = String(modelRaw || \"\").replace(/[|]/g, \"/\");\n  const parts = cleaned.split(\"/\").map(p => p.trim()).filter(Boolean);\n  return Array.from(new Set(parts.map(p => normalize(p)).filter(Boolean)));\n}\n\n// =====================================================\n// SÉPARATION MODÈLES / ANNONCES\n// =====================================================\n\nconst modeles = [];\nconst annonces = [];\n\nfor (const item of allItems) {\n  const isModele =\n    !!getMarqueField(item) &&\n    !!getModeleField(item) &&\n    get(item, \"Cylindrée (cc)\", \"Type (M/S/E)\", \"Type(M/S/E)\") !== \"\";\n\n  const isAnnonce =\n    get(item, \"text-body-1 (8)\", \"text-headline-1-expanded\", \"relative\",\n        \"absolute href\", \"Url_Https\", \"annonce_url\") !== \"\";\n\n  if (isModele) modeles.push(item);\n  else if (isAnnonce) annonces.push(item);\n}\n\nif (!modeles.length) {\n  return annonces.map(a => ({\n    json: {\n      ...a,\n      matching_engine: \"5TH_MATCH_NO_MODELS\",\n      matched_score: 0,\n      matched_confidence: \"NONE\",\n      needs_review: true\n    }\n  }));\n}\n\n// =====================================================\n// INDEX MARQUES (avec catégories)\n// =====================================================\n\nconst brandIndex = new Map();\n\nfor (const m of modeles) {\n  const brandRaw = getMarqueField(m);\n  const modelRaw = getModeleField(m);\n\n  const bKey = brandKey(brandRaw);\n  if (!bKey) continue;\n\n  const variants = modelVariants(modelRaw);\n  if (!variants.length) continue;\n\n  const ys = parseInt(getYearStartField(m) || 0, 10) || 0;\n  let ye = getYearEndField(m);\n  ye = (ye === null || ye === undefined || ye === \"\") ? 9999 : (parseInt(ye, 10) || 9999);\n\n  const cc = Math.round(Number(get(m, \"Cylindrée (cc)\") || 0)) || 0;\n  const category = getCategoryField(m);\n\n  const variantAlphaTokens = variants\n    .map(v => tokensAlphaOnly(tokenize(v)))\n    .filter(t => t.length);\n\n  if (!variantAlphaTokens.length) continue;\n\n  const modelNoSpace = normalize(modelRaw).replace(/\\s+/g, \"\");\n\n  const prepared = {\n    raw: m,\n    brandRaw,\n    bKey,\n    ys,\n    ye,\n    cc,\n    category,\n    variants,\n    variantAlphaTokens,\n    combinedTok: tokenize(`${brandRaw} ${modelRaw}`),\n    modelNoSpace,\n    modelRaw\n  };\n\n  if (!brandIndex.has(bKey)) brandIndex.set(bKey, []);\n  brandIndex.get(bKey).push(prepared);\n}\n\nconst knownBrandKeys = Array.from(brandIndex.keys()).sort((a, b) => b.length - a.length);\n\n// =====================================================\n// PARAMÈTRES 5TH MATCH (ULTRA-PERMISSIF)\n// =====================================================\n\nconst MIN_ACCEPT = 0.25;          // 25% score minimum (ultra-permissif)\nconst CC_RELAXATION = 400;        // 400cc tolérance maximale\nconst FUZZY_BONUS = 0.20;         // Bonus fuzzy augmenté\nconst NGRAM_BONUS = 0.15;         // Bonus n-gram augmenté\nconst CATEGORY_BONUS = 0.10;      // Bonus catégorie\nconst BRAND_ONLY_BONUS = 0.15;    // Bonus marque seule\n\n// =====================================================\n// ✨ SCORING COMPOSITE ULTRA-PERMISSIF\n// =====================================================\n\nfunction computeUltraPermissiveScore(adTok, adSet, p, adTextFull, annonceCC, annonceYear, adCategory) {\n  const adAlpha = tokensAlphaOnly(adTok);\n\n  // 1. Coverage classique (20%)\n  let bestCov = 0;\n  for (const vat of p.variantAlphaTokens) {\n    const cov = coverageSet(adSet, vat);\n    if (cov > bestCov) bestCov = cov;\n  }\n\n  // 2. Jaccard classique (10%)\n  const jac = jaccard(adTok, p.combinedTok);\n\n  // 3. ✨ Fuzzy token matching ultra-agressif (25%)\n  let bestFuzzy = 0;\n  for (const vat of p.variantAlphaTokens) {\n    const fuzzy = fuzzyTokenMatch(adAlpha, vat, 3);\n    if (fuzzy > bestFuzzy) bestFuzzy = fuzzy;\n  }\n\n  // 4. ✨ N-gram flexible (20%)\n  const ngramSim = flexibleNgramSimilarity(adTextFull, p.modelRaw);\n\n  // 5. CC proximity très faible (5%)\n  let ccProximity = 0;\n  if (annonceCC && p.cc) {\n    const diff = Math.abs(p.cc - annonceCC);\n    if (diff === 0) ccProximity = 1.0;\n    else if (diff <= 50) ccProximity = 0.8;\n    else if (diff <= 150) ccProximity = 0.5;\n    else if (diff <= 300) ccProximity = 0.3;\n    else if (diff <= 400) ccProximity = 0.1;\n  } else if (!annonceCC && !p.cc) {\n    ccProximity = 0.5;\n  }\n\n  // 6. ✨ Category match (10%)\n  let categoryScore = 0;\n  if (adCategory && p.category) {\n    categoryScore = categoryMatches(adCategory, p.category) ? 1.0 : 0;\n  }\n\n  // 7. ✨ Brand inference (10%)\n  // Si le texte contient la marque → bonus\n  const brandScore = adTextFull.includes(p.bKey) ? 1.0 : 0.5;\n\n  // Score composite\n  const baseScore = (\n    bestCov * 0.20 +\n    jac * 0.10 +\n    bestFuzzy * 0.25 +\n    ngramSim * 0.20 +\n    ccProximity * 0.05 +\n    categoryScore * 0.10 +\n    brandScore * 0.10\n  );\n\n  // Bonus massifs\n  let bonus = 0;\n  if (bestFuzzy >= 0.5) bonus += FUZZY_BONUS;\n  if (ngramSim >= 0.4) bonus += NGRAM_BONUS;\n  if (categoryScore >= 1.0) bonus += CATEGORY_BONUS;\n  if (adTok.length <= 5) bonus += BRAND_ONLY_BONUS; // Texte très court\n\n  const finalScore = Math.min(1.0, baseScore + bonus);\n\n  return {\n    score: finalScore,\n    bestCov,\n    jac,\n    bestFuzzy,\n    ngramSim,\n    ccProximity,\n    categoryScore,\n    brandScore,\n    bonusApplied: bonus\n  };\n}\n\n// =====================================================\n// MATCHING\n// =====================================================\n\nconst results = [];\n\nfor (const a of annonces) {\n  const title = getAnnonceTitle(a);\n  const desc = getAnnonceDesc(a);\n  const url = getAnnonceUrl(a);\n\n  const hrefModel = getAnnonceModelHref(a) || \"\";\n  const hrefCC = getAnnonceCCHref(a) || \"\";\n  const hrefBrand = getAnnonceBrandHref(a) || \"\";\n\n  const brandFromHrefRaw = extractBrandFromHref(hrefBrand);\n  const brandFromFieldRaw = getAnnonceBrand(a);\n\n  const brandFromHrefKey = brandKey(brandFromHrefRaw);\n  const brandFromFieldKey = brandKey(brandFromFieldRaw);\n\n  const adTextBase = `${title} ${desc}`.trim();\n  const adNormBase = normalize(adTextBase);\n\n  // Détection catégorie\n  const adCategory = detectCategory(adTextBase);\n\n  // Brand : href → field → fuzzy ultra-agressif (≤ 3)\n  let brandAnnonceKey = brandFromHrefKey || brandFromFieldKey;\n\n  if (!brandAnnonceKey) {\n    const fuzzyBrand = fuzzyMatchBrand(adTextBase, knownBrandKeys, 3);\n    if (fuzzyBrand) {\n      brandAnnonceKey = fuzzyBrand;\n      console.log(`🆘 5th Match - Fuzzy brand (≤3): ${fuzzyBrand}`);\n    }\n  }\n\n  // Model hint ultra-agressif\n  let modelHint = extractModelFromHref(hrefModel);\n  const modelNorm = normalize(modelHint);\n  const isModelAutre = modelNorm === \"autre\" || modelNorm.includes(\" autre\");\n\n  if (!modelHint || isModelAutre) {\n    const extractedModel = extractModelFromDescription(desc, brandAnnonceKey);\n    if (extractedModel) {\n      modelHint = extractedModel;\n      console.log(`🆘 5th Match - Extracted model: ${extractedModel}`);\n    }\n  }\n\n  const adTextUsed = modelHint ? `${adTextBase} ${modelHint}`.trim() : adTextBase;\n\n  const annonceYear = pickAnnonceYear(a, adTextUsed);\n  const annonceCC = getAnnonceCC(a, adTextUsed, annonceYear);\n\n  if (!brandAnnonceKey || !brandIndex.has(brandAnnonceKey)) {\n    results.push({\n      json: {\n        ...a,\n        annonce_title: title,\n        annonce_url: url,\n        annonce_year_resolved: annonceYear || \"\",\n        annonce_cc_resolved: annonceCC || \"\",\n        annonce_category_detected: adCategory || \"\",\n\n        matched_ok: false,\n        matched_marque: \"\",\n        matched_modele: modelHint || \"\",\n        matched_score: 0,\n        matched_confidence: \"NONE\",\n        matching_engine: \"5TH_MATCH_NO_BRAND\",\n        needs_review: true,\n        reason_no_match: \"insufficient_data_even_for_fallback\",\n        matching_strategy: \"complete_failure\"\n      }\n    });\n    continue;\n  }\n\n  const adTok = tokenize(adTextUsed);\n  const adSet = new Set(adTok);\n\n  const baseCandidates = brandIndex.get(brandAnnonceKey) || [];\n\n  // ✨ Filtrage optionnel par catégorie si détectée\n  let candidates = baseCandidates;\n  if (adCategory) {\n    const catFiltered = baseCandidates.filter(p => p.category === adCategory);\n    if (catFiltered.length > 0) {\n      candidates = catFiltered;\n      console.log(`🆘 5th Match - Filtered by category: ${adCategory} (${catFiltered.length} candidates)`);\n    }\n  }\n\n  // Limiter à 50 candidats max pour performance\n  if (candidates.length > 50) {\n    candidates = candidates.slice(0, 50);\n  }\n\n  let bestPrepared = null;\n  let bestScore = 0;\n  let bestDetails = null;\n  let matchingStrategy = \"ultra_permissive\";\n\n  // ❌ AUCUN GATE - Tous les candidats sont testés\n  for (const p of candidates) {\n    const details = computeUltraPermissiveScore(\n      adTok, adSet, p, adTextUsed, annonceCC, annonceYear, adCategory\n    );\n\n    if (details.score > bestScore) {\n      bestScore = details.score;\n      bestPrepared = p;\n      bestDetails = details;\n    }\n  }\n\n  // Stratégie de matching\n  if (adTok.length <= 3 && adCategory) {\n    matchingStrategy = \"brand_category_only\";\n  } else if (bestDetails && bestDetails.bestFuzzy >= 0.5) {\n    matchingStrategy = \"fuzzy_ultra_aggressive\";\n  } else if (bestDetails && bestDetails.ngramSim >= 0.4) {\n    matchingStrategy = \"ngram_flexible\";\n  }\n\n  const accept = !!bestPrepared && bestScore >= MIN_ACCEPT;\n  const best = accept ? bestPrepared.raw : null;\n\n  // Confiance : toujours LOW pour 5th Match\n  let confidence = \"NONE\";\n  if (accept) {\n    confidence = \"LOW\";\n  }\n\n  results.push({\n    json: {\n      ...a,\n      annonce_title: title,\n      annonce_url: url,\n      annonce_year_resolved: annonceYear || \"\",\n      annonce_cc_resolved: annonceCC || \"\",\n      annonce_category_detected: adCategory || \"\",\n\n      matched_ok: accept,\n      matched_marque: accept ? (getMarqueField(best) || \"\") : \"\",\n      matched_modele: accept ? (getModeleField(best) || \"\") : (modelHint || \"\"),\n      matched_generations: accept ? (get(best, \"Spéc/Génération\", \"Spec/Generation\") || \"\") : \"\",\n      matched_coloris: accept ? (get(best, \"Coloris commercial\") || \"\") : \"\",\n      matched_annee_debut: accept ? (getYearStartField(best) || \"\") : \"\",\n      matched_annee_fin: accept ? (getYearEndField(best) || \"\") : \"\",\n      matched_cylindree: accept ? (get(best, \"Cylindrée (cc)\") || \"\") : \"\",\n\n      matched_score: accept ? Number(bestScore.toFixed(3)) : 0,\n      matched_confidence: confidence,\n      matched_quality: accept ? \"auto_match_5th_fallback\" : \"no_match\",\n      matching_engine: \"5TH_MATCH_FALLBACK_ULTIME_V1\",\n      matching_strategy: matchingStrategy,\n      needs_review: true, // TOUJOURS true pour 5th Match\n      reason_no_match: accept ? \"\" : \"below_threshold_fallback\",\n\n      _match_debug: {\n        brandKey: brandAnnonceKey,\n        modelHint,\n        categoryDetected: adCategory || \"none\",\n        adTokensCount: adTok.length,\n        candidatesCount: candidates.length,\n        coverage: accept ? Number(bestDetails.bestCov.toFixed(3)) : 0,\n        jaccard: accept ? Number(bestDetails.jac.toFixed(3)) : 0,\n        fuzzyMatch: accept ? Number(bestDetails.bestFuzzy.toFixed(3)) : 0,\n        ngramSim: accept ? Number(bestDetails.ngramSim.toFixed(3)) : 0,\n        ccProximity: accept ? Number(bestDetails.ccProximity.toFixed(2)) : 0,\n        categoryScore: accept ? Number(bestDetails.categoryScore.toFixed(2)) : 0,\n        brandScore: accept ? Number(bestDetails.brandScore.toFixed(2)) : 0,\n        bonusApplied: accept ? Number(bestDetails.bonusApplied.toFixed(2)) : 0,\n        minAccept: MIN_ACCEPT\n      }\n    }\n  });\n}\n\n// =====================================================\n// STATS\n// =====================================================\n\nconst stats = {\n  total: results.length,\n  matched: results.filter(r => r.json.matched_ok).length,\n  rejected: results.filter(r => !r.json.matched_ok).length,\n  strategies: {\n    brand_category: results.filter(r => r.json.matching_strategy === \"brand_category_only\").length,\n    fuzzy_ultra: results.filter(r => r.json.matching_strategy === \"fuzzy_ultra_aggressive\").length,\n    ngram: results.filter(r => r.json.matching_strategy === \"ngram_flexible\").length\n  }\n};\n\nconsole.log(\"🆘 5TH MATCH (FALLBACK ULTIME) - STATS:\");\nconsole.log(`   Total items: ${stats.total}`);\nconsole.log(`   Matched: ${stats.matched} (${stats.total ? Math.round(stats.matched / stats.total * 100) : 0}%)`);\nconsole.log(`   Rejected: ${stats.rejected} (${stats.total ? Math.round(stats.rejected / stats.total * 100) : 0}%)`);\nconsole.log(`   Confidence: 100% LOW`);\nconsole.log(`   Review manuelle: ${stats.matched} (100%)`);\nconsole.log(`   Strategies:`);\nconsole.log(`     - Brand+Category: ${stats.strategies.brand_category}`);\nconsole.log(`     - Fuzzy ultra: ${stats.strategies.fuzzy_ultra}`);\nconsole.log(`     - N-gram flexible: ${stats.strategies.ngram}`);\n\nreturn results;\n"
      },
      "id": "d732ddbe-4b97-482b-8fe9-09c6cfd0f30b",
      "name": "5th Match (MINIMAL)",
      "type": "n8n-nodes-base.code",
      "position": [
        800,
        1552
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1088,
        1120
      ],
      "id": "9fc089bc-d4ae-4eee-a8d6-aa8ddef27ca0",
      "name": "Merge All Matches"
    },
    {
      "parameters": {
        "jsCode": "// ===============================\n// HELPERS\n// ===============================\nconst CURRENT_YEAR = 2026;\n\nfunction extractFavoris(value) {\n  if (!value) return 0;\n  const m = String(value).match(/(\\d+)\\s*$/); // prend le dernier nombre\n  return m ? parseInt(m[1], 10) : 0;\n}\nfunction extractCC(value) {\n  if (!value) return \"\";\n\n  const m = String(value).match(/(\\d{2,4}(\\.\\d+)?)/);\n  if (!m) return \"\";\n\n  const cc = parseFloat(m[1]);\n\n  // ❌ si inférieur à 49.8 → ne rien afficher\n  if (cc < 49.8) return \"\";\n\n  return cc;\n}\n\n\nfunction extractNbPhotos(value) {\n  if (!value) return 0;\n\n  const s = String(value);\n\n  // ex: \"Voir les 5 photos\" / \"Voir les photos\" / \"Voir 12 photos\"\n  const m = s.match(/(\\d+)/);\n  return m ? parseInt(m[1], 10) : 0;\n}\n\n/**\n * Parse matched_generations:\n * Exemples possibles:\n * - \"SMCR (Gen2) 2021–2024\"\n * - \"SMCR (Gen2) 2021→\"\n * - \"(LC) 2018-2020\"\n * - \"2021→\"\n */\nfunction parseGenerations(value) {\n  const s = String(value || \"\").trim();\n  if (!s) return { label: \"\", yStart: \"\", yEnd: \"\" };\n\n  // label = contenu entre parenthèses\n  const labelMatch = s.match(/\\(([^)]+)\\)/);\n  const label = labelMatch ? labelMatch[1].trim() : \"\";\n\n  // Range \"2002–2003\" ou \"2002-2003\"\n  const rangeMatch = s.match(/(\\d{4})\\s*[-–]\\s*(\\d{4})/);\n  if (rangeMatch) {\n    return { label, yStart: Number(rangeMatch[1]), yEnd: Number(rangeMatch[2]) };\n  }\n\n  // Arrow \"2018→\" => fin = année courante\n  const arrowMatch = s.match(/(\\d{4})\\s*→/);\n  if (arrowMatch) {\n    return { label, yStart: Number(arrowMatch[1]), yEnd: CURRENT_YEAR };\n  }\n\n  // Fallback: une seule année\n  const oneYear = s.match(/(\\d{4})/);\n  if (oneYear) {\n    const y = Number(oneYear[1]);\n    return { label, yStart: y, yEnd: y };\n  }\n\n  return { label: \"\", yStart: \"\", yEnd: \"\" };\n}\n\n// ===============================\n// MAPPING\n// ===============================\nfunction mapField(item) {\n  const gen = parseGenerations(item.matched_generations);\n\n  return {\n    json: {\n      // ===============================\n      // IDENTITÉ ANNONCE\n      // ===============================\n      Nom_annonce: item[\"text-headline-1-expanded\"] || item.annonce_title || \"\",\n      Url_Https: item[\"absolute href\"] || item.annonce_url || \"\",\n\n      // ✅ Favoris (chiffre uniquement)\n      \"personnes ont déjà ajouté cette annonce en favori\": extractFavoris(item[\"u-shadow-border-transition\"]),\n      \n\"nombre de photos supplémentaires\": extractNbPhotos(item[\"u-shadow-border-transition (2)\"]),\n\n      // ===============================\n      // DATE / HEURE\n      // ===============================\n      \"Date de mise en publication\": item[\"text-caption\"] || \"\",\n      \"Heure de mise en publication\": item[\"text-caption (2)\"] || \"\",\n\n      // ===============================\n      // PRIX\n      // ===============================\n      Prix_affiche: item[\"flex\"] || item[\"text-headline-1\"] || \"\",\n\n      // ===============================\n      // ✅ PHOTOS (3 clés récupérées)\n      // ===============================\n      Photo_1: item[\"size-full src\"] || \"\",\n      Photo_2: item[\"size-full src (2)\"] || \"\",\n      Photo_3: item[\"size-full src (3)\"] || \"\",\n\n          // ===============================\n    // VEHICULE / VENDEUR (RENOMMÉ)\n    // ===============================\n    \"nom du vendeur pro\": item[\"text-body-1\"] || \"\",\n    \n    \"année du modèle\": item[\"text-body-1 (4)\"] || \"\",\n    \n    \"Kilométrage\": item[\"text-body-1 (5)\"] || \"\",\n    \n    Mise_en_circulation: item[\"text-body-1 (6)\"] || \"\",\nCylindree_cc: extractCC(item[\"text-body-1 (7)\"]),\n\n      // ===============================\n      // ✅ DESCRIPTION COMPLÈTE\n      // ===============================\n\"Description de l'annonce\": item.annonce_description || \"\",\n\n      // ===============================\n      // STATUT / VENDEUR\n      // ===============================\n      Statut_annonce: item[\"box-border\"] || \"\",\n\n      // ✅ 3 clés récupérées côté vendeur\n      Nom_vendeur: item[\"text-headline-1 (2)\"] || \"\",\n      \"nombre d’avis\": item[\"text-body-2\"] || \"\",\n      \"Dernière activité\": item[\"text-body-2 (2)\"] || \"\",\n\n      // (tu peux garder ces noms internes si tu en as encore besoin ailleurs)\n      Paiement_ou_SIREN: item[\"text-body-2\"] || \"\",\n      Infos_vendeur: item[\"text-body-2 (2)\"] || \"\",\n\n      // ===============================\n      // MATCHING\n      // ===============================\n      matched_marque: item.matched_marque || \"\",\n      matched_modele: item.matched_modele || \"\",\n      matched_generations: item.matched_generations || \"\",\n\n      generation_label: gen.label || \"\",\n      generation_year_start: gen.yStart || \"\",\n      generation_year_end: gen.yEnd || \"\",\n\n      matched_score: item.matched_score || \"\",\n      matched_quality: item.matched_quality || \"\",\n      needs_review: item.needs_review ?? false,\n    }\n  };\n}\n\n// ===============================\n// RUN\n// ===============================\nreturn $input.all().map(i => mapField(i.json));\n"
      },
      "id": "f72524a6-3984-4b7a-817f-909bfb8ff253",
      "name": "Rename Columns",
      "type": "n8n-nodes-base.code",
      "position": [
        1344,
        1168
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "manque code\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        848
      ],
      "typeVersion": 1,
      "id": "509d0c2a-fb33-4971-be68-d5a6557f24b1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": ""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        848
      ],
      "typeVersion": 1,
      "id": "c4c205bb-f14a-423f-b694-b4d2964a3d88",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// SPLIT EN BATCHES DE 20 ANNONCES\n// ============================================\n\nconst allAnnonces = $input.all().map(item => item.json);\nconst BATCH_SIZE = 20;\nconst batches = [];\n\nfor (let i = 0; i < allAnnonces.length; i += BATCH_SIZE) {\n  batches.push({\n    json: {\n      batchIndex: Math.floor(i / BATCH_SIZE),\n      totalBatches: Math.ceil(allAnnonces.length / BATCH_SIZE),\n      totalAnnonces: allAnnonces.length,\n      annonces: allAnnonces.slice(i, i + BATCH_SIZE)\n    }\n  });\n}\n\nconsole.log(`📦 Créé ${batches.length} batches de ${BATCH_SIZE} annonces`);\nreturn batches;\n"
      },
      "id": "34284690-6115-497c-9d4e-aed45a2e8fd6",
      "name": "Split en Batches 20",
      "type": "n8n-nodes-base.code",
      "position": [
        1328,
        4272
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// n8n - Extraction JSON avec LIMITATION\n// ============================================\n\nconst item = \\.first();\nconst bin = item.binary?.attachment_0;\n\nif (\\!bin) {\n  throw new Error(\"Pièce jointe 'attachment_0' introuvable\");\n}\n\n// ⚙️ CONFIGURATION - Nombre max d annonces à traiter\nconst MAX_ITEMS = 100; // 🎯 Limiter à 100 annonces (sera divisé en batches de 20)\n\n// Lecture du buffer\nconst buffer = await this.helpers.getBinaryDataBuffer(0, \"attachment_0\");\n\n// Détection compression\nif (buffer[0] === 0x1f && buffer[1] === 0x8b) {\n  throw new Error(\"Fichier GZIP détecté - décompression requise\");\n}\nif (buffer[0] === 0x50 && buffer[1] === 0x4b) {\n  throw new Error(\"Fichier ZIP détecté - extraction requise\");\n}\n\n// Fonction de nettoyage unifiée\nconst cleanJson = (text) => {\n  return text\n    .replace(/^﻿/, '') // BOM UTF-8\n    .trim()\n    .replace(/^[^[{]*/, '') // Supprimer avant [ ou {\n    .replace(/[^\\]}]*$/, ''); // Supprimer après ] ou }\n};\n\n// Tentatives de parsing\nconst encodings = ['utf8', 'utf16le', 'latin1'];\nlet data = null;\n\nfor (const encoding of encodings) {\n  try {\n    const text = cleanJson(buffer.toString(encoding));\n    if (text.startsWith('[') || text.startsWith('{')) {\n      data = JSON.parse(text);\n      break;\n    }\n  } catch (e) {\n    continue;\n  }\n}\n\nif (\\!data) {\n  throw new Error(\n    \\ +\n      );\n}\n\n// Normalisation et nettoyage\nconst items = Array.isArray(data) ? data : [data];\nconst cleaned = items.filter(item => {\n  if (\\!item || typeof item \\!== 'object') return false;\n  return Object.values(item).some(v =>\n    v \\!== null && v \\!== undefined && v \\!== '' && String(v).trim() \\!== ''\n  );\n});\n\n// ⚠️ LIMITATION DU NOMBRE D ITEMS\nconst limited = cleaned.slice(0, MAX_ITEMS);\n\nconsole.log(\\);\n\nreturn limited.map(json => ({ json }));"
      },
      "id": "6de780c5-9849-4e15-98b1-42e0666c6b44",
      "name": "Extraction JSON Leboncoin2",
      "type": "n8n-nodes-base.code",
      "position": [
        -416,
        1120
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Filtrer les lignes vides\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  return [];\n}\n\nconst filteredItems = items.filter(item => {\n  const json = item.json;\n\n  // Verifier absolute href\n  const hasHref = json[\"absolute href\"] &&\n    typeof json[\"absolute href\"] === \"string\" &&\n    json[\"absolute href\"].trim() !== \"\";\n\n  // Verifier qu'au moins un champ significatif existe\n  const hasContent = json[\"text-headline-1-expanded\"] ||\n    json[\"text-body-1 (2)\"] ||\n    json[\"text-body-1 (8)\"];\n\n  return hasHref && hasContent;\n});\n\nreturn filteredItems.map(item => ({ json: item.json }));"
      },
      "id": "6958be4a-7d27-4d11-8a13-ae21353b66d8",
      "name": "Filter Empty Rows2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        1120
      ]
    },
    {
      "parameters": {
        "tableId": "n8n",
        "resource": "row",
        "operation": "create",
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": ""
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1552,
        1168
      ],
      "id": "f1303a55-7b62-4480-bfe0-48a9c5414eae",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "FgkX1mUgbmqk2Ny7",
          "name": "Supabase account"
        }
      }
    },
    {
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        16,
        1000
      ],
      "id": "split-batches-node-001",
      "parameters": {
        "batchSize": 20,
        "options": {
          "reset": true
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "GET Modeles",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraction JSON Leboncoin2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Filter Empty Rows2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Modeles": {
      "main": [
        [
          {
            "node": "Merge Annonces + Modèles",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Annonces + Modèles": {
      "main": [
        [
          {
            "node": "⭐ Scoring de Complétude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⭐ Scoring de Complétude": {
      "main": [
        [
          {
            "node": "⭐ Router par Qualité",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⭐ Router par Qualité": {
      "main": [
        [
          {
            "node": "1st Match (EXCELLENT)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "2nd Match (GOOD)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⭐ 3rd Match (MEDIUM - Permissif)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4th Match (POOR)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "5th Match (MINIMAL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1st Match (EXCELLENT)": {
      "main": [
        [
          {
            "node": "Merge All Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2nd Match (GOOD)": {
      "main": [
        [
          {
            "node": "Merge All Matches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Matches": {
      "main": [
        [
          {
            "node": "Rename Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⭐ 3rd Match (MEDIUM - Permissif)": {
      "main": [
        [
          {
            "node": "Merge All Matches",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "4th Match (POOR)": {
      "main": [
        [
          {
            "node": "Merge All Matches",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "5th Match (MINIMAL)": {
      "main": [
        [
          {
            "node": "Merge All Matches",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Extraction JSON Leboncoin2": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Empty Rows2": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Columns": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Merge Annonces + Modèles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "09a5f4c2-5f05-4602-9311-a9ebe96d9961",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "15aba3c3d62f60be4908fe3668f1293dbedd9ce7f0d5f7689f0f45d6568b8f82"
  },
  "id": "COzPJfiqiAUaTZGa",
  "tags": []
}