Workflow_fin_1er_soir.json
{
  "name": "🚀 Workflow_fin_1er_soir - Progressive Matching Complet (5 Match)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "simple": false,
        "filters": { "includeDrafts": false },
        "options": { "downloadAttachments": true }
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [-976, 480],
      "typeVersion": 1,
      "credentials": {
        "gmailOAuth2": {
          "id": "hdQlj848jfuem258",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// EXTRACTION JSON LEBONCOIN\n// =====================================================\n// INSTRUCTIONS : Copier ici le code d'extraction JSON\n//                depuis Workflow_IMPROVED_v2.json (ligne ~38-47)\n//\n// Ce code extrait les données depuis les pièces jointes JSON\n// reçues par email.\n// =====================================================\n\n// Placeholder - à remplacer par le code complet\nconst items = $input.all();\n\n// TODO: Copier le code complet depuis Workflow_IMPROVED_v2.json\n\nreturn items;"
      },
      "id": "extraction-json",
      "name": "Extraction JSON Leboncoin",
      "type": "n8n-nodes-base.code",
      "position": [-784, 224],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "removeDuplicateInputItems",
        "compare": "selectedFields",
        "fieldsToCompare": "absolute href",
        "options": { "removeOtherFields": false }
      },
      "id": "remove-duplicates",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [-600, 224]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// FILTER EMPTY ROWS\n// =====================================================\n// INSTRUCTIONS : Copier ici le code de filtrage\n//                depuis Workflow_IMPROVED_v2.json (ligne ~68-79)\n//\n// Ce code filtre les lignes vides et invalides.\n// =====================================================\n\nconst items = $input.all();\n\n// TODO: Copier le code complet depuis Workflow_IMPROVED_v2.json\n\nreturn items.filter(item => {\n  // Filtrer les items sans URL\n  const hasUrl = item.json?.['absolute href'] || item.json?.['Url_Https'];\n  return !!hasUrl;\n});"
      },
      "id": "filter-empty",
      "name": "Filter Empty Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 224]
    },
    {
      "parameters": {
        "url": "https://nante.nathansouffrin7.workers.dev/",
        "options": {
          "response": {
            "response": { "responseFormat": "json" }
          }
        }
      },
      "id": "get-modeles",
      "name": "GET Modeles",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-816, 672],
      "typeVersion": 4
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-200, 240],
      "id": "merge",
      "name": "Merge Annonces + Modèles"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// SCORING DE COMPLÉTUDE - n8n Code Node\n// ============================================\n// Objectif : Évaluer la qualité des données entrantes pour router\n//            intelligemment vers les nœuds Match appropriés\n//\n// Sortie : Score 0-100 + Tier (EXCELLENT/GOOD/MEDIUM/POOR/MINIMAL)\n// ============================================\n\nconst items = $input.all();\n\n// ============================================\n// HELPERS\n// ============================================\n\n/**\n * Récupère une valeur de manière robuste\n */\nfunction get(obj, ...keys) {\n  for (const k of keys) {\n    const v = obj?.[k];\n    if (v !== undefined && v !== null && String(v).trim() !== \"\") return v;\n  }\n  return \"\";\n}\n\n/**\n * Normalise un texte pour analyse\n */\nfunction normalize(text) {\n  if (!text) return \"\";\n  return String(text)\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toLowerCase()\n    .trim();\n}\n\n/**\n * Compte le nombre de mots significatifs (≥3 caractères)\n */\nfunction countSignificantWords(text) {\n  if (!text) return 0;\n  const words = normalize(text).split(/\\s+/);\n  return words.filter(w => w.length >= 3).length;\n}\n\n/**\n * Vérifie si une valeur est présente et non vide\n */\nfunction isPresent(value) {\n  return value !== undefined && value !== null && String(value).trim() !== \"\";\n}\n\n/**\n * Extrait u_moto_brand depuis href\n */\nfunction extractBrandFromHref(href) {\n  const h = String(href || \"\");\n  if (!h) return \"\";\n  const m = h.match(/u_moto_brand:([^+&]+)/i);\n  if (!m) return \"\";\n  try {\n    return decodeURIComponent(m[1].replace(/\\+/g, \" \"));\n  } catch (e) {\n    return m[1].replace(/\\+/g, \" \");\n  }\n}\n\n/**\n * Extrait u_moto_model depuis href\n */\nfunction extractModelFromHref(href) {\n  const h = String(href || \"\");\n  if (!h) return \"\";\n  const m = h.match(/u_moto_model:([^+&]+)/i);\n  if (!m) return \"\";\n  try {\n    return decodeURIComponent(m[1].replace(/\\+/g, \" \"));\n  } catch (e) {\n    return m[1].replace(/\\+/g, \" \");\n  }\n}\n\n/**\n * Extrait cubic_capacity depuis href\n */\nfunction extractCCFromHref(href) {\n  const h = String(href || \"\");\n  const m = h.match(/cubic_capacity:(\\d{2,4})/i);\n  return m ? parseInt(m[1], 10) : 0;\n}\n\n/**\n * Parse année depuis texte (format MM/YYYY ou YYYY)\n */\nfunction parseYear(text) {\n  const str = String(text || \"\").trim();\n  if (!str) return 0;\n\n  // MM/YYYY\n  const mmyyyy = str.match(/\\b(0?[1-9]|1[0-2])\\s*\\/\\s*((19|20)\\d{2})\\b/);\n  if (mmyyyy) return parseInt(mmyyyy[2], 10);\n\n  // YYYY\n  const yyyy = str.match(/\\b(19|20)\\d{2}\\b/);\n  if (yyyy) return parseInt(yyyy[0], 10);\n\n  return 0;\n}\n\n// ============================================\n// SCORING DE COMPLÉTUDE\n// ============================================\n\n/**\n * Calcule le score de complétude d'une annonce\n * Retourne un objet avec score (0-100) et détails\n */\nfunction calculateCompletudeScore(item) {\n  let score = 0;\n  const details = {};\n\n  // ────────────────────────────────────────────────────────\n  // 1. MARQUE (25 points max)\n  // ────────────────────────────────────────────────────────\n  const brandField = get(item, \"text-body-1 (2)\", \"annonce_brand_input\", \"Marque_scrap\");\n  const brandHref = get(item, \"text-body-1 href (2)\", \"text-body-1 href\");\n  const brandFromHref = extractBrandFromHref(brandHref);\n\n  if (brandFromHref) {\n    // Marque depuis href LBC (le plus fiable)\n    score += 25;\n    details.brand_source = \"href\";\n    details.brand_quality = \"EXCELLENT\";\n  } else if (brandField) {\n    // Marque depuis champ scraped\n    score += 20;\n    details.brand_source = \"field\";\n    details.brand_quality = \"GOOD\";\n  } else {\n    details.brand_source = \"missing\";\n    details.brand_quality = \"NONE\";\n  }\n\n  // ────────────────────────────────────────────────────────\n  // 2. MODÈLE (20 points max)\n  // ────────────────────────────────────────────────────────\n  const modelHref = get(item, \"text-body-1 href (3)\");\n  const modelFromHref = extractModelFromHref(modelHref);\n  const modelField = get(item, \"text-body-1 (3)\");\n  const versionField = get(item, \"text-body-1 (8)\"); // Version constructeur\n\n  const modelNorm = normalize(modelFromHref);\n  const isModelAutre = modelNorm === \"autre\" || modelNorm.includes(\" autre\");\n\n  if (modelFromHref && !isModelAutre) {\n    // Modèle depuis href LBC (non \"autre\")\n    score += 20;\n    details.model_source = \"href\";\n    details.model_quality = \"EXCELLENT\";\n  } else if (versionField && countSignificantWords(versionField) >= 2) {\n    // Version constructeur riche (ex: \"1050_Speed Triple 1050 ABS\")\n    score += 18;\n    details.model_source = \"version_field\";\n    details.model_quality = \"VERY_GOOD\";\n  } else if (modelField) {\n    // Champ modèle présent\n    score += 12;\n    details.model_source = \"field\";\n    details.model_quality = \"GOOD\";\n  } else if (versionField) {\n    // Version constructeur pauvre\n    score += 8;\n    details.model_source = \"version_field_weak\";\n    details.model_quality = \"MEDIUM\";\n  } else {\n    details.model_source = \"missing\";\n    details.model_quality = \"NONE\";\n  }\n\n  // ────────────────────────────────────────────────────────\n  // 3. CYLINDRÉE CC (15 points max)\n  // ────────────────────────────────────────────────────────\n  const ccHref = get(item, \"text-body-1 href (5)\");\n  const ccFromHref = extractCCFromHref(ccHref);\n  const ccField1 = get(item, \"text-body-1 (7)\");\n  const ccField2 = get(item, \"text-body-1 (13)\", \"vehicule_cc_txt\", \"CC\", \"cc\");\n\n  if (ccFromHref) {\n    // CC depuis href LBC (le plus fiable)\n    score += 15;\n    details.cc_source = \"href\";\n    details.cc_quality = \"EXCELLENT\";\n  } else if (ccField1) {\n    // Champ CC dédié (7)\n    score += 12;\n    details.cc_source = \"field_primary\";\n    details.cc_quality = \"GOOD\";\n  } else if (ccField2) {\n    // Champ CC secondaire (13)\n    score += 10;\n    details.cc_source = \"field_secondary\";\n    details.cc_quality = \"MEDIUM\";\n  } else {\n    details.cc_source = \"missing\";\n    details.cc_quality = \"NONE\";\n  }\n\n  // ────────────────────────────────────────────────────────\n  // 4. ANNÉE (10 points max)\n  // ────────────────────────────────────────────────────────\n  const year1 = get(item, \"text-body-1 (4)\", \"Annee_du_modele\");\n  const year2 = get(item, \"text-body-1 (9)\", \"Mise_en_circulation\");\n\n  const yearParsed1 = parseYear(year1);\n  const yearParsed2 = parseYear(year2);\n\n  if (yearParsed1 || yearParsed2) {\n    score += 10;\n    details.year_source = yearParsed1 ? \"field_primary\" : \"field_secondary\";\n    details.year_quality = \"GOOD\";\n  } else {\n    details.year_source = \"missing\";\n    details.year_quality = \"NONE\";\n  }\n\n  // ────────────────────────────────────────────────────────\n  // 5. DESCRIPTION (15 points max)\n  // ────────────────────────────────────────────────────────\n  const desc = get(\n    item,\n    \"annonce_description\",\n    \"text-body-1 (16)\",\n    \"text-body-1 (14)\",\n    \"Description_complete\",\n    \"description\"\n  );\n\n  const descWordCount = countSignificantWords(desc);\n\n  if (descWordCount >= 50) {\n    // Description très complète (≥50 mots)\n    score += 15;\n    details.description_length = descWordCount;\n    details.description_quality = \"EXCELLENT\";\n  } else if (descWordCount >= 20) {\n    // Description complète (20-49 mots)\n    score += 12;\n    details.description_length = descWordCount;\n    details.description_quality = \"GOOD\";\n  } else if (descWordCount >= 10) {\n    // Description moyenne (10-19 mots)\n    score += 8;\n    details.description_length = descWordCount;\n    details.description_quality = \"MEDIUM\";\n  } else if (descWordCount >= 5) {\n    // Description pauvre (5-9 mots)\n    score += 4;\n    details.description_length = descWordCount;\n    details.description_quality = \"POOR\";\n  } else {\n    details.description_length = descWordCount;\n    details.description_quality = \"NONE\";\n  }\n\n  // ────────────────────────────────────────────────────────\n  // 6. PHOTOS (5 points max)\n  // ────────────────────────────────────────────────────────\n  const photo1 = get(item, \"size-full src\", \"Photo_1\");\n  const photo2 = get(item, \"size-full src (2)\", \"Photo_2\");\n  const photo3 = get(item, \"size-full src (3)\", \"Photo_3\");\n\n  const photoCount = [photo1, photo2, photo3].filter(p => isPresent(p)).length;\n\n  if (photoCount >= 3) {\n    score += 5;\n    details.photo_count = photoCount;\n    details.photo_quality = \"EXCELLENT\";\n  } else if (photoCount === 2) {\n    score += 4;\n    details.photo_count = photoCount;\n    details.photo_quality = \"GOOD\";\n  } else if (photoCount === 1) {\n    score += 2;\n    details.photo_count = photoCount;\n    details.photo_quality = \"MEDIUM\";\n  } else {\n    details.photo_count = 0;\n    details.photo_quality = \"NONE\";\n  }\n\n  // ────────────────────────────────────────────────────────\n  // 7. TITRE (10 points max)\n  // ────────────────────────────────────────────────────────\n  const title = get(\n    item,\n    \"text-body-1 (8)\",\n    \"text-headline-1-expanded\",\n    \"annonce_title\",\n    \"relative\"\n  );\n\n  const titleWordCount = countSignificantWords(title);\n\n  if (titleWordCount >= 5) {\n    // Titre riche (≥5 mots significatifs)\n    score += 10;\n    details.title_length = titleWordCount;\n    details.title_quality = \"EXCELLENT\";\n  } else if (titleWordCount >= 3) {\n    // Titre moyen (3-4 mots)\n    score += 7;\n    details.title_length = titleWordCount;\n    details.title_quality = \"GOOD\";\n  } else if (titleWordCount >= 1) {\n    // Titre pauvre (1-2 mots)\n    score += 3;\n    details.title_length = titleWordCount;\n    details.title_quality = \"POOR\";\n  } else {\n    details.title_length = 0;\n    details.title_quality = \"NONE\";\n  }\n\n  // ────────────────────────────────────────────────────────\n  // TOTAL : 100 points max\n  // ────────────────────────────────────────────────────────\n  details.total_score = score;\n\n  return { score, details };\n}\n\n/**\n * Détermine le tier de qualité basé sur le score\n */\nfunction determineTier(score) {\n  if (score >= 80) return \"EXCELLENT\";\n  if (score >= 60) return \"GOOD\";\n  if (score >= 40) return \"MEDIUM\";\n  if (score >= 20) return \"POOR\";\n  return \"MINIMAL\";\n}\n\n/**\n * Détermine le nœud Match recommandé\n */\nfunction determineRecommendedMatch(score, tier) {\n  if (tier === \"EXCELLENT\") return \"1st Match\";\n  if (tier === \"GOOD\") return \"2nd Match\";\n  if (tier === \"MEDIUM\") return \"3rd Match\";\n  if (tier === \"POOR\") return \"4th Match\";\n  return \"5th Match\";\n}\n\n/**\n * Calcule un flag de priorité pour le routing\n */\nfunction calculatePriority(score, details) {\n  // Priorité haute si :\n  // - Score ≥ 70\n  // - ET marque + modèle href présents\n  // - ET CC href présent\n\n  const hasExcellentData =\n    score >= 70 &&\n    details.brand_quality === \"EXCELLENT\" &&\n    details.model_quality === \"EXCELLENT\" &&\n    details.cc_quality === \"EXCELLENT\";\n\n  if (hasExcellentData) return \"HIGH\";\n\n  // Priorité moyenne si :\n  // - Score ≥ 50\n  // - ET au moins marque + (modèle OU cc)\n\n  const hasGoodData =\n    score >= 50 &&\n    details.brand_quality !== \"NONE\" &&\n    (details.model_quality !== \"NONE\" || details.cc_quality !== \"NONE\");\n\n  if (hasGoodData) return \"MEDIUM\";\n\n  // Sinon priorité basse\n  return \"LOW\";\n}\n\n// ============================================\n// TRAITEMENT\n// ============================================\n\nconst results = items.map(inputItem => {\n  const item = inputItem.json;\n\n  // Calculer le score de complétude\n  const { score, details } = calculateCompletudeScore(item);\n\n  // Déterminer le tier\n  const tier = determineTier(score);\n\n  // Recommandation de routing\n  const recommendedMatch = determineRecommendedMatch(score, tier);\n\n  // Priorité\n  const priority = calculatePriority(score, details);\n\n  // Déterminer si review manuelle recommandée\n  const needsManualReview = score < 30 || tier === \"MINIMAL\";\n\n  // Flags de complétude par catégorie\n  const completenessFlags = {\n    has_brand: details.brand_quality !== \"NONE\",\n    has_model: details.model_quality !== \"NONE\",\n    has_cc: details.cc_quality !== \"NONE\",\n    has_year: details.year_quality !== \"NONE\",\n    has_description: details.description_quality !== \"NONE\",\n    has_photos: details.photo_quality !== \"NONE\",\n    has_title: details.title_quality !== \"NONE\"\n  };\n\n  // Compter le nombre de champs présents\n  const fieldsPresent = Object.values(completenessFlags).filter(Boolean).length;\n  const fieldsTotal = Object.keys(completenessFlags).length;\n  const completenessPercentage = Math.round((fieldsPresent / fieldsTotal) * 100);\n\n  return {\n    json: {\n      // ========================================\n      // DONNÉES ORIGINALES (préservées)\n      // ========================================\n      ...item,\n\n      // ========================================\n      // SCORING DE COMPLÉTUDE (nouveaux champs)\n      // ========================================\n      data_quality_score: score,\n      data_quality_tier: tier,\n      data_quality_priority: priority,\n\n      recommended_match_node: recommendedMatch,\n      needs_manual_review: needsManualReview,\n\n      completeness_percentage: completenessPercentage,\n      fields_present: fieldsPresent,\n      fields_total: fieldsTotal,\n\n      // ========================================\n      // DÉTAILS DE SCORING (pour debug)\n      // ========================================\n      _completude_details: {\n        brand: {\n          source: details.brand_source,\n          quality: details.brand_quality,\n          points: details.brand_quality === \"EXCELLENT\" ? 25 :\n                  details.brand_quality === \"GOOD\" ? 20 : 0\n        },\n        model: {\n          source: details.model_source,\n          quality: details.model_quality,\n          points: details.model_quality === \"EXCELLENT\" ? 20 :\n                  details.model_quality === \"VERY_GOOD\" ? 18 :\n                  details.model_quality === \"GOOD\" ? 12 :\n                  details.model_quality === \"MEDIUM\" ? 8 : 0\n        },\n        cc: {\n          source: details.cc_source,\n          quality: details.cc_quality,\n          points: details.cc_quality === \"EXCELLENT\" ? 15 :\n                  details.cc_quality === \"GOOD\" ? 12 :\n                  details.cc_quality === \"MEDIUM\" ? 10 : 0\n        },\n        year: {\n          source: details.year_source,\n          quality: details.year_quality,\n          points: details.year_quality === \"GOOD\" ? 10 : 0\n        },\n        description: {\n          length: details.description_length,\n          quality: details.description_quality,\n          points: details.description_quality === \"EXCELLENT\" ? 15 :\n                  details.description_quality === \"GOOD\" ? 12 :\n                  details.description_quality === \"MEDIUM\" ? 8 :\n                  details.description_quality === \"POOR\" ? 4 : 0\n        },\n        photos: {\n          count: details.photo_count,\n          quality: details.photo_quality,\n          points: details.photo_quality === \"EXCELLENT\" ? 5 :\n                  details.photo_quality === \"GOOD\" ? 4 :\n                  details.photo_quality === \"MEDIUM\" ? 2 : 0\n        },\n        title: {\n          length: details.title_length,\n          quality: details.title_quality,\n          points: details.title_quality === \"EXCELLENT\" ? 10 :\n                  details.title_quality === \"GOOD\" ? 7 :\n                  details.title_quality === \"POOR\" ? 3 : 0\n        }\n      },\n\n      // ========================================\n      // FLAGS DE COMPLÉTUDE\n      // ========================================\n      _completeness_flags: completenessFlags\n    }\n  };\n});\n\n// ============================================\n// STATS GLOBALES (pour monitoring)\n// ============================================\nconst stats = {\n  total_items: results.length,\n  distribution: {\n    EXCELLENT: results.filter(r => r.json.data_quality_tier === \"EXCELLENT\").length,\n    GOOD: results.filter(r => r.json.data_quality_tier === \"GOOD\").length,\n    MEDIUM: results.filter(r => r.json.data_quality_tier === \"MEDIUM\").length,\n    POOR: results.filter(r => r.json.data_quality_tier === \"POOR\").length,\n    MINIMAL: results.filter(r => r.json.data_quality_tier === \"MINIMAL\").length\n  },\n  average_score: Math.round(\n    results.reduce((sum, r) => sum + r.json.data_quality_score, 0) / results.length\n  ),\n  manual_review_needed: results.filter(r => r.json.needs_manual_review).length\n};\n\nconsole.log(\"📊 SCORING DE COMPLÉTUDE - STATS:\");\nconsole.log(`   Total items: ${stats.total_items}`);\nconsole.log(`   Score moyen: ${stats.average_score}/100`);\nconsole.log(`   Distribution:`);\nconsole.log(`     - EXCELLENT: ${stats.distribution.EXCELLENT} (${Math.round(stats.distribution.EXCELLENT / stats.total_items * 100)}%)`);\nconsole.log(`     - GOOD: ${stats.distribution.GOOD} (${Math.round(stats.distribution.GOOD / stats.total_items * 100)}%)`);\nconsole.log(`     - MEDIUM: ${stats.distribution.MEDIUM} (${Math.round(stats.distribution.MEDIUM / stats.total_items * 100)}%)`);\nconsole.log(`     - POOR: ${stats.distribution.POOR} (${Math.round(stats.distribution.POOR / stats.total_items * 100)}%)`);\nconsole.log(`     - MINIMAL: ${stats.distribution.MINIMAL} (${Math.round(stats.distribution.MINIMAL / stats.total_items * 100)}%)`);\nconsole.log(`   Review manuelle nécessaire: ${stats.manual_review_needed}`);\n\nreturn results;"
      },
      "id": "scoring-completude",
      "name": "⭐ Scoring de Complétude",
      "type": "n8n-nodes-base.code",
      "position": [0, 240],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [{
                  "leftValue": "={{ $json.data_quality_tier }}",
                  "rightValue": "EXCELLENT",
                  "operator": { "type": "string", "operation": "equals" }
                }]
              },
              "renameOutput": true,
              "outputKey": "EXCELLENT → 1st Match"
            },
            {
              "conditions": {
                "conditions": [{
                  "leftValue": "={{ $json.data_quality_tier }}",
                  "rightValue": "GOOD",
                  "operator": { "type": "string", "operation": "equals" }
                }]
              },
              "renameOutput": true,
              "outputKey": "GOOD → 2nd Match"
            },
            {
              "conditions": {
                "conditions": [{
                  "leftValue": "={{ $json.data_quality_tier }}",
                  "rightValue": "MEDIUM",
                  "operator": { "type": "string", "operation": "equals" }
                }]
              },
              "renameOutput": true,
              "outputKey": "MEDIUM → ⭐ 3rd Match"
            },
            {
              "conditions": {
                "conditions": [{
                  "leftValue": "={{ $json.data_quality_tier }}",
                  "rightValue": "POOR",
                  "operator": { "type": "string", "operation": "equals" }
                }]
              },
              "renameOutput": true,
              "outputKey": "POOR → 4th Match"
            },
            {
              "conditions": {
                "conditions": [{
                  "leftValue": "={{ $json.data_quality_tier }}",
                  "rightValue": "MINIMAL",
                  "operator": { "type": "string", "operation": "equals" }
                }]
              },
              "renameOutput": true,
              "outputKey": "MINIMAL → 5th Match"
            }
          ]
        }
      },
      "id": "router-quality",
      "name": "⭐ Router par Qualité",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [200, 240]
    },
    {
      "parameters": {
        "jsCode": "// NOTE: Le code complet CODE_1ST_MATCH.js fait 629 lignes\n// Pour des raisons de lisibilité, insérer le code complet ici\n// VOIR: CODE_1ST_MATCH.js\n\n// INSTRUCTIONS: Copier le contenu complet du fichier CODE_1ST_MATCH.js (651 lignes)\n\nconst allItems = $input.all().map(i => i.json);\n// ... (code complet à copier)\nreturn [];"
      },
      "id": "1st-match",
      "name": "🥇 1st Match (EXCELLENT)",
      "type": "n8n-nodes-base.code",
      "position": [400, -40],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// NOTE: Le code complet CODE_2ND_MATCH.js fait 673 lignes\n// Pour des raisons de lisibilité, insérer le code complet ici\n// VOIR: CODE_2ND_MATCH.js\n\n// INSTRUCTIONS: Copier le contenu complet du fichier CODE_2ND_MATCH.js (701 lignes)\n\nconst allItems = $input.all().map(i => i.json);\n// ... (code complet à copier)\nreturn [];"
      },
      "id": "2nd-match",
      "name": "🥈 2nd Match (GOOD)",
      "type": "n8n-nodes-base.code",
      "position": [400, 100],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// NOTE: Le code complet CODE_3RD_MATCH.js fait 760 lignes\n// Pour des raisons de lisibilité, insérer le code complet ici\n// VOIR: CODE_3RD_MATCH.js\n\n// INSTRUCTIONS: Copier le contenu complet du fichier CODE_3RD_MATCH.js (759 lignes)\n\nconst allItems = $input.all().map(i => i.json);\n// ... (code complet à copier)\nreturn [];"
      },
      "id": "3rd-match",
      "name": "🥉 3rd Match (MEDIUM - Permissif)",
      "type": "n8n-nodes-base.code",
      "position": [400, 240],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// NOTE: Le code complet CODE_4TH_MATCH.js fait 785 lignes\n// Pour des raisons de lisibilité, insérer le code complet ici\n// VOIR: CODE_4TH_MATCH.js\n\n// INSTRUCTIONS: Copier le contenu complet du fichier CODE_4TH_MATCH.js (784 lignes)\n\nconst allItems = $input.all().map(i => i.json);\n// ... (code complet à copier)\nreturn [];"
      },
      "id": "4th-match",
      "name": "🏅 4th Match (POOR)",
      "type": "n8n-nodes-base.code",
      "position": [400, 380],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// NOTE: Le code complet CODE_5TH_MATCH.js fait 852 lignes\n// Pour des raisons de lisibilité, insérer le code complet ici\n// VOIR: CODE_5TH_MATCH.js\n\n// INSTRUCTIONS: Copier le contenu complet du fichier CODE_5TH_MATCH.js (851 lignes)\n\nconst allItems = $input.all().map(i => i.json);\n// ... (code complet à copier)\nreturn [];"
      },
      "id": "5th-match",
      "name": "🆘 5th Match (MINIMAL)",
      "type": "n8n-nodes-base.code",
      "position": [400, 520],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [600, 240],
      "id": "merge-all-matches",
      "name": "Merge All Matches"
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// RENAME COLUMNS\n// =====================================================\n// INSTRUCTIONS : Copier ici le code de renommage\n//                depuis Workflow_IMPROVED_v2.json (ligne ~926)\n//\n// Ce code renomme les colonnes pour l'export final.\n// =====================================================\n\nconst items = $input.all();\n\n// TODO: Copier le code complet depuis Workflow_IMPROVED_v2.json\n\nreturn items;"
      },
      "id": "rename-columns",
      "name": "Rename Columns",
      "type": "n8n-nodes-base.code",
      "position": [800, 240],
      "typeVersion": 2
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [[
        { "node": "Extraction JSON Leboncoin", "type": "main", "index": 0 },
        { "node": "GET Modeles", "type": "main", "index": 0 }
      ]]
    },
    "Extraction JSON Leboncoin": {
      "main": [[
        { "node": "Remove Duplicates", "type": "main", "index": 0 }
      ]]
    },
    "Remove Duplicates": {
      "main": [[
        { "node": "Filter Empty Rows", "type": "main", "index": 0 }
      ]]
    },
    "Filter Empty Rows": {
      "main": [[
        { "node": "Merge Annonces + Modèles", "type": "main", "index": 0 }
      ]]
    },
    "GET Modeles": {
      "main": [[
        { "node": "Merge Annonces + Modèles", "type": "main", "index": 1 }
      ]]
    },
    "Merge Annonces + Modèles": {
      "main": [[
        { "node": "⭐ Scoring de Complétude", "type": "main", "index": 0 }
      ]]
    },
    "⭐ Scoring de Complétude": {
      "main": [[
        { "node": "⭐ Router par Qualité", "type": "main", "index": 0 }
      ]]
    },
    "⭐ Router par Qualité": {
      "main": [
        [{ "node": "🥇 1st Match (EXCELLENT)", "type": "main", "index": 0 }],
        [{ "node": "🥈 2nd Match (GOOD)", "type": "main", "index": 0 }],
        [{ "node": "🥉 3rd Match (MEDIUM - Permissif)", "type": "main", "index": 0 }],
        [{ "node": "🏅 4th Match (POOR)", "type": "main", "index": 0 }],
        [{ "node": "🆘 5th Match (MINIMAL)", "type": "main", "index": 0 }]
      ]
    },
    "🥇 1st Match (EXCELLENT)": {
      "main": [[
        { "node": "Merge All Matches", "type": "main", "index": 0 }
      ]]
    },
    "🥈 2nd Match (GOOD)": {
      "main": [[
        { "node": "Merge All Matches", "type": "main", "index": 1 }
      ]]
    },
    "🥉 3rd Match (MEDIUM - Permissif)": {
      "main": [[
        { "node": "Merge All Matches", "type": "main", "index": 2 }
      ]]
    },
    "🏅 4th Match (POOR)": {
      "main": [[
        { "node": "Merge All Matches", "type": "main", "index": 3 }
      ]]
    },
    "🆘 5th Match (MINIMAL)": {
      "main": [[
        { "node": "Merge All Matches", "type": "main", "index": 4 }
      ]]
    },
    "Merge All Matches": {
      "main": [[
        { "node": "Rename Columns", "type": "main", "index": 0 }
      ]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": [
    {
      "createdAt": "2026-02-15T00:00:00.000Z",
      "updatedAt": "2026-02-15T00:00:00.000Z",
      "id": "progressive-matching-complete",
      "name": "Progressive Matching - Complet"
    },
    {
      "createdAt": "2026-02-15T00:00:00.000Z",
      "updatedAt": "2026-02-15T00:00:00.000Z",
      "id": "production-ready",
      "name": "Production Ready"
    }
  ]
}
